
<!-- time_ago_in_words -->
<% content_for :pageheader do %>
  <h2><i class="fa fa-home"></i> Dashboard</h2>
<% end %>

<div class="row">
  <div class="col-sm-8">

    <div class="row">
      <div class="col-sm-12">

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-12">
                <h4 class="subtitle-lined mb5"><%= @greeting_message %></h4>
                <br/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <p class="mb15"><small>Some quick stats for day so far</small></p>
                <table class="table small">
                  <tbody>
                    <tr>
                      <td align="right"><span class="badge"><%= @quick_stats.accounts_updated %></span></td>
                      <td align="left"><i class="fa fa-comments"></i>&nbsp;&nbsp;Accounts updated</td>
                    </tr>
                    <tr>
                      <td align="right"><span class="badge"><%= @quick_stats.shared_account_updated %></span></td>
                      <td align="left"><i class="fa fa-share-alt"></i>&nbsp;&nbsp;Shared Accounts updated</td>
                    </tr>
                    <tr>
                      <td align="right"><span class="badge"><%= @quick_stats.meetings %></span></td>
                      <td align="left"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Meetings</td>
                    </tr>
                    <tr>
                      <td align="right"><span class="badge">0</span></td>
                      <td align="left"><i class="fa fa-bell"></i>&nbsp;&nbsp;Notifications</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-sm-7">
                <p class="mb15"><small>Summary of your accounts by status over the last few months</small></p>
                <div id="accounts-status-breakdown"></div>
              </div>
            </div>
          </div><!-- panel body -->
        </div><!-- panel -->
      </div>
    </div><!-- row -->

    <div class="row">
      <div class="col-sm-6">
        <%= render 'meeting_map', meetings: @meetings %>
        <% if @news_data.present? %>
          <div class="panel panel-dark panel-alt widget-slider">
            <div class="panel-heading">
              <h5 class="panel-title">News</h5>
            </div>
            <div class="panel-body">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <%i=1%>
                  <%@news_data.each do |k,v|%>
                    <div class="<%=i==1 ? 'item active' : 'item'%>">
                      <div class="media">
                        <div class="media-body">
                          <small class="media-desc"><%=v%></small>
                          <%i=i+1%>
                        </div>
                      </div>
                    </div>
                  <%end%>
                </div><!-- carousel-inner -->
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                </a>
              </div><!-- carousel -->
            </div><!-- panel-body -->
          </div>
        <%end%>
      </div>
      <div class="col-sm-6">
        <div class="panel panel-dark panel-alt">
          <div class="panel-heading">
            <h3 class="panel-title">Accounts Feed</h3>
          </div>
          <div class="panel-body">
            <small><p>Below is a list of activity by account over the last 24 hours</p></small>
            <br />
            <div class="feed-activity-list">
              <% if @accounts.count == 0 %>
                <p>No activity to report</p>
              <% else %>
                <% @accounts.each do |a|%>
                  <div class="feed-element">
                    <a href="profile.html" class="pull-left">
                      <img alt="image" class="img-circle" src="<%= (a.avatar_url.eql? "/avatars/thumb/missing.png") ? '/assets/images/default_account_avatar.png' : a.avatar_url %>">
                    </a>
                    <div class="media-body ">
                      <small class="pull-right"><%= time_ago_in_words(a.updated_at).gsub('about','') + ' ago' %></small>
                      <strong><%= a.updated_by.first_name %>&nbsp;<%= a.updated_by.last_name %></strong>&nbsp;updated the <%= link_to a.name, account_path(a.id) %> account<br>
                      <small class="text-muted"><%= a.updated_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%b %e at %l:%M %p") %></small>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div> <!-- feed activity list -->
          </div><!-- panel-body -->
        </div>
        <div class="panel panel-dark panel-alt">
          <div class="panel-heading">
            <h3 class="panel-title">My Quote</h3>
          </div>
          <div class="panel-body">
            <div class="inspinia-timeline">
              <% if @quotes.present? && @quotes.count > 0 %>
                <% @quotes.each do |q|%>
                  <div class="quote-timeline-item">
                    <div class="row">
                      <div class="col-xs-3 date">
                        <i class="fa fa-usd"></i>
                        <small>
                          <%= q.ends_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y") if q.ends_at.present? %>
                        </small>
                      </div>
                      <div class="col-xs-7 content no-top-border"
                        <% if q.type == "quote" %>
                          style="border-left: 1px solid <%= get_quotestatus_color(q.status) %>"
                        <% end %>
                      >
                        <p><strong><%=number_with_precision(q.amount, :precision => 2)%></strong></p>
                        <p><strong><a href="/accounts/<%=q.account_id%>" style="color:#636e7b;"><%=q.title%></a></strong></p>
                        <small>
                        <%if q.ends_at.present?%>
                          <%if q.ends_at.in_time_zone(current_user.time_zone).to_date > Date.today.in_time_zone(current_user.time_zone).to_date%>
                            <p>Expires in <%= time_ago_in_words(q.ends_at.to_date).gsub('about','')%></p>
                          <%elsif q.ends_at.in_time_zone(current_user.time_zone).to_date == Date.today.in_time_zone(current_user.time_zone).to_date %>
                            <p>Expires today</p>
                          <%elsif q.ends_at.in_time_zone(current_user.time_zone).to_date < Date.today.in_time_zone(current_user.time_zone).to_date%>
                            <p style="color: red;">Expired <%= time_ago_in_words(q.ends_at.to_date).gsub('about','') + ' ago'%></p>
                          <%end%>
                        <%end%>
                        </small>
                        <!-- <p><small><%#= sanitize q.body.gsub(/<br\s*\/?>/, '') %></small></p> -->
                      </div>
                    </div>
                  </div>
                <%end%>
              <% else %>
                <div class="quote-timeline-item">
                  <div class="row">
                    <div class="text-center">
                      No Quotes to follow up
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div><!-- col-sm-8 -->

  <div class="col-sm-4">
    <div class="row">
      <div class="panel panel-default widget-weather">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6 temp text-center">
              <h1><%= @weather["temp"] %> <span>゜</span></h1>
              <h5><i class="fa fa-map-marker"></i> &nbsp; <%= @weather["city"] %></h5>
            </div>
            <div class="col-xs-6 weather text-center">
              <i style="line-height:1" class="<%= @weather["icon"] %> weather-icon"></i>
              <div class="pull-left"><i class="wi-thermometer"></i> <%= @weather["temp_max"] %>゜</div>
              <div class="pull-right"><i class="fa fa-flag"></i> <%= @weather["wind"] %>kph</div>
            </div>
          </div>
        </div><!-- panel-body -->
      </div>
    </div>

    <div class="row">
      <div class="panel panel-dark panel-alt">
        <div class="panel-heading">
          <h3 class="panel-title">My Schedule</h3>
        </div>
        <div class="panel-body">
          <div class="mb20">
            <h4 class="subtitle-lined"><%= @current_date.to_datetime.strftime("%a %B %e, %Y") %></h4>
            <small><%= current_user.time_zone %></small>
          </div>
          <div class="inspinia-timeline">
            <% if @meetings.present? && @meetings.count > 0 %>
              <% @meetings.each do |m|%>
                <div class="timeline-item">
                  <div class="row">
                    <div class="col-xs-3 date">
                      <i class="fa fa-briefcase"></i>
                      <small>
                        <%= m.starts_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%l:%M %p") if m.starts_at.present? %><br />
                        <%= m.ends_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%l:%M %p") if m.ends_at.present? %>
                      </small>
                    </div>
                    <div class="col-xs-7 content no-top-border"
                      <% if m.type == "meeting" %>
                        style="border-left: 1px solid <%= get_meetingstatus_color(m.status) %>"
                      <% end %>
                    >
                      <p><strong><a href="/schedule?mid=<%= m.id %>&acc_id=<%=m.account_id%>" style="color:#636e7b;"><%=m.title%></a></strong></p>
                      <p><small><%= sanitize m.body.gsub(/<br\s*\/?>/, '') %></small></p>
                    </div>
                  </div>
                </div>
              <%end%>
            <% else %>
              <div class="timeline-item">
                <div class="row">
                  <div class="text-center">
                    There was no items found on your schedule<br/>
                    Looks like you have a free day<br /><br />
                    <img src="/assets/images/penguin.png" class="img-responsive" style="display: block; margin: 0 auto;">
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div><!-- col-sm-4 -->
</div>
<%= render "dashboard/js" %>
<% content_for :custom_css do %>
<style>
 /* Intimeline */
  .timeline-item .date i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 30px;
    text-align: center;
    border-top: 1px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
    border-left: 1px solid #e7eaec;
    background: #f8f8f8;
  }
  .timeline-item .date {
    text-align: right;
    position: relative;
    padding-top: 30px;
  }
  .timeline-item .content {
    border-left: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
    padding-top: 10px;
    min-height: 100px;
  }
  .timeline-item .content:hover {
    background: #f6f6f6;
  }

 /* Quote Timeline */
  .quote-timeline-item .date i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 30px;
    text-align: center;
    border-top: 1px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
    border-left: 1px solid #e7eaec;
    background: #f8f8f8;
  }
  .quote-timeline-item .date {
    text-align: right;
    position: relative;
    padding-top: 30px;
  }
  .quote-timeline-item .content {
    border-left: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
    padding-top: 4px;
    padding-left: 5px;
    min-height: 90px;
  }
  .quote-timeline-item .content:hover {
    background: #f6f6f6;
  }

  #accounts-status-breakdown > svg { width: 100% !important; }

  .feed-activity-list .feed-element {
    border-bottom: 1px solid #e7eaec;
  }
  .feed-element:first-child {
    margin-top: 0;
  }
  .feed-element {
    padding-bottom: 15px;
  }
  .feed-element,
  .feed-element .media {
    margin-top: 15px;
  }
  .feed-element,
  .media-body {
    overflow: hidden;
  }
  .feed-element > .pull-left {
    margin-right: 10px;
  }
  .feed-element img.img-circle,
  .dropdown-messages-box img.img-circle {
    width: 38px;
    height: 38px;
  }
  .feed-element .well {
    border: 1px solid #e7eaec;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 16px;
  }
  .feed-element .actions {
    margin-top: 10px;
  }
  .feed-element .photos {
    margin: 10px 0;
  }
  .feed-photo {
    max-height: 180px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
  }
</style>
<% end %>
