
<% content_for :pageheader do %>
  <h2><i class="fa fa-home"></i> Dashboard</h2>
<% end %>

<div class="row">
  <div class="col-sm-4">
    <%= render 'dashboard/widgets/widget_news' %>  
    <%= render 'dashboard/widgets/widget_quickstats' %>
  </div><!-- left col-sm-4 -->

  <div class="col-sm-4">
    <%= render 'dashboard/widgets/widget_quotes' %>  
    <%= render 'dashboard/widgets/widget_accountactivity' %>
  </div><!-- middle col-sm-4 -->

  <div class="col-sm-4">
    <%= render 'dashboard/widgets/widget_weather' %>
    <%= render 'dashboard/widgets/widget_meetings' %>
  </div><!-- right col-sm-4 -->
</div>

<%= render "dashboard/js" %>
<% content_for :custom_css do %>
<style>
 /* Intimeline */
  .timeline-item .date i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 30px;
    text-align: center;
    border-top: 1px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
    border-left: 1px solid #e7eaec;
    background: #f8f8f8;
  }
  .timeline-item .date {
    text-align: right;
    position: relative;
    padding-top: 30px;
  }
  .timeline-item .content {
    border-left: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
    padding-top: 10px;
    min-height: 100px;
  }
  .timeline-item .content:hover {
    background: #f6f6f6;
  }

 /* Quote Timeline */
  .quote-timeline-item .date i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 30px;
    text-align: center;
    border-top: 1px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
    border-left: 1px solid #e7eaec;
    background: #f8f8f8;
  }
  .quote-timeline-item .date {
    text-align: right;
    position: relative;
    padding-top: 30px;
  }
  .quote-timeline-item .content {
    border-left: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
    padding-top: 4px;
    padding-left: 5px;
    min-height: 90px;
  }
  .quote-timeline-item .content:hover {
    background: #f6f6f6;
  }

  #accounts-status-breakdown > svg { width: 100% !important; }

  .feed-activity-list .feed-element {
    border-bottom: 1px solid #e7eaec;
  }
  .feed-element:first-child {
    margin-top: 0;
  }
  .feed-element {
    padding-bottom: 15px;
  }
  .feed-element,
  .feed-element .media {
    margin-top: 15px;
  }
  .feed-element,
  .media-body {
    overflow: hidden;
  }
  .feed-element > .pull-left {
    margin-right: 10px;
  }
  .feed-element img.img-circle,
  .dropdown-messages-box img.img-circle {
    width: 38px;
    height: 38px;
  }
  .feed-element .well {
    border: 1px solid #e7eaec;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 16px;
  }
  .feed-element .actions {
    margin-top: 10px;
  }
  .feed-element .photos {
    margin: 10px 0;
  }
  .feed-photo {
    max-height: 180px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
  }
</style>
<% end %>
