    <%= simple_form_for current_user, url: profile_path do |f| %>   
      <div class="panel panel-default">

      	<div class="panel-heading">
      		<h4 class="panel-title">Edit My Profile</h4>
      		<p>Make changes and click save.</p>
      	</div>

      	<div class="panel-body">
          <div class="form-group">
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
              <%= current_user.email %>
            </div>
          </div>

          <%= f.input :first_name, required: true %>
          <%= f.input :last_name, required: true %>
          <%= f.input :title, required: true %>
          

          <div class="form-group">
            <label class="col-sm-3 control-label">Picture</label>
            <div class="col-sm-6">
              <label title="Upload image file" for="inputImage" class="btn btn-primary">
                  <input type="file" accept="image/*" name="avatar" id="inputImage" class="hide">Upload new image
              </label>
              <div class="useravatar">
                <img src="/assets/images/default_account_avatar.png" alt="Picture">
              </div>
            </div>
          </div>
          <%= f.input :locale, input_html: { class: 'form-control input-sm' }, collection: I18n.available_locales, prompt: "Select a locale"%>
          <%= f.input :time_zone, input_html: { class: 'form-control input-sm' }, priority: ActiveSupport::TimeZone.us_zones %>

      	<div class="panel-footer">
      		<div class="row">
      			<div class="col-sm-6 col-sm-offset-3">
      				<button type="submit" class="btn btn-primary" name="save" id="save">Save</button>&nbsp;
      				<button class="btn btn-default" name="cancel" id="cancel">Cancel</button>
      			</div>
      		</div>		
      	</div><!-- panel-footer -->

      </div>		

    <% end %>

    </div><!-- contentpanel -->
    
  </div><!-- mainpanel -->
    
</section>

<script src="/assets/bootstrap/js/jquery-1.11.1.min.js"></script>
<script src="/assets/bootstrap/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap/js/modernizr.min.js"></script>
<script src="/assets/bootstrap/js/jquery.sparkline.min.js"></script>
<script src="/assets/bootstrap/js/toggles.min.js"></script>
<script src="/assets/bootstrap/js/retina.min.js"></script>
<script src="/assets/bootstrap/js/jquery.cookies.js"></script>
<script src="/assets/bootstrap/js/jquery-ui-1.10.3.min.js"></script>

<script src="/assets/bootstrap/js/custom.js"></script>

<script src="/assets/bootstrap/js/cropper.min.js"></script>

<style>
.user-avatar {
  width: 100%;
}

.user-avatar > img {
  max-width: 100%;
}
</style>


<script>
  var $image = $('.useravatar > img'),
      replaced;
  
  $image.cropper({
    aspectRatio: 1 / 1,
    movable: false,
    zoomable: false,
    rotatable: false,
    scalable: false
  });

  var $inputImage = $("#inputImage");
  if (window.FileReader) {
      $inputImage.change(function() {
          var fileReader = new FileReader(),
                  files = this.files,
                  file;
  
          if (!files.length) {
              return;
          }
  
          file = files[0];
  
          if (/^image\/\w+$/.test(file.type)) {
              fileReader.readAsDataURL(file);
              fileReader.onload = function () {
                  $inputImage.val("");
                  $image.cropper("reset", true).cropper("replace", this.result);
              };
          } else {
              showMessage("Please choose an image file.");
          }
      });
  } else {
      $inputImage.addClass("hide");
  }

</script>
