<tr id="details_tr_<%= pending_account_notifications["account"]["id"] %>" style="display:none">
  <td colspan="3" id="pending_approval">

    <div class="cd-timeline-content shadow_non">
      <span class="cd-date">
        <%=pending_account_notifications["account"]["created_at"].to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p")%>
      </span>
      <span class="pull-right">
        <%=link_to "javascript:void(0)", class: 'btn btn-xs btn-default mr5 close_div' do%>X<%end%>
      </span>
      <h2 class="ci_header">Account Transfer Approval Required.</br><%= pending_account_notifications["account"]["name"] %></h2>
        <p>Your attention is required to approval or dis-approval the transfer of the account,<%= pending_account_notifications["account"]["name"] %>.</br>
        Please choose Accept or Reject the transfer of the account.</p>
        <div class="col-sm-10 pull-right text-right">
          <%=link_to account_deny_path(account_id: pending_account_notifications["account"]["id"], account_transfer_id: pending_account_notifications["id"]), class: 'btn btn-xs btn-default mr5 pull-right' do%>Reject<%end%>
          <%=link_to account_approve_path(account_id: pending_account_notifications["account"]["id"], account_transfer_id: pending_account_notifications["id"]), class: 'btn btn-xs btn-default mr5 pull-right' do%>Accept<%end%>
        </div>
      <div class="border_top">
        <div class="col-sm-10 pull-right text-right mtop10">
          <%=link_to account_path(pending_account_notifications["account"]["id"]), class: 'btn btn-xs btn-default mr5 pull-right' do%>Go To Account<%end%>
        </div>
      </div>
    </div>
  </td>
</tr>
