<h5 class="title">You Have <%=unread_items.count%> New Notifications</h5>
<ul class="dropdown-list gen-list">
  <%unread_items.first(5).each do |k,v| %>
    <li class="new">
      <a href="/accounts/<%=v.account_id%>?notification_id=<%=k%>">
      <span class="thumb">
        <%if v.type.eql? 'reminder'%>
          <img src="/assets/vertical-timeline/img/cd-icon-bell.svg" alt="Reminder">
        <%elsif v.type.eql? 'meeting'%>
          <img src="/assets/vertical-timeline/img/cd-icon-calendar.svg" alt="Meeting">
        <%end%>
      </span>
      <span class="desc">
        <span class="name"><%=v.title%><span class="badge badge-success">new</span></span>
        <span class="msg"><%=Chronic.parse(v.scheduled_at).in_time_zone(current_user.time_zone).strftime("%b %d")%></span>
      </span>
      </a>
    </li>
  <%end%>
  <li class="new"><a href="<%=notifications_path%>">Read All Notifications</a></li>
</ul>