<%if notifications.present?%>
	<table class="table">
	  <thead>
	    <tr>
	      <th></th>
	      <th>Description</th>
	      <th>Type</th>
	      <th>Date/Time</th>
	    </tr>
	  </thead>
	  <tbody>
	    <%notifications.each do |k,v|%>
	      <%notification = Notification.find(k)%>
		    <tr>
	        <td>
	          <%unless read%>
	          	<%=link_to notification_path(k), remote: :true, method: :patch, class: 'btn btn-xs btn-default mr5 mark_read' do%><i class="fa fa-sign-in mr5"></i><span>Marked as read</span><%end%>
	          <%end%>
	        </td>
	        <td><a href="/accounts/<%=v.account_id%>" style="color: #636e7b"><%=v.title%></a></td>
	        <td><%=v.type.capitalize%></td>
	        <td><%=Chronic.parse(v.scheduled_at).in_time_zone(current_user.time_zone).strftime("%b %d at %l:%M %p")%></td>
	      </tr>
	    <%end%>
	  </tbody>
	</table>
<%else%>
<p>You have 0 Notifications</p>
<%end%>