<%if notifications.present?%>
	<table class="table">
	  <thead>
	    <tr>
	      <th></th>
	      <th>Description</th>
	      <th>Date/Time</th>
	    </tr>
	  </thead>
	  <tbody>
	    <%notifications.each do |k,v|%>
	      <%notification = Notification.find(k)%>
		    <tr class="show_details i_pointer" id="<%=v.id%>">
		      <%mark_class = notification.read_at.blank? ? 'mark_read' : ''%>
		        <td>
	            <%=link_to notification.read_at.blank? ? notification_path(k) : "javascript:void(0)", remote: :true, method: :patch, class: "#{mark_class} noti_link_#{k} ", data: {id: "#{k}"} do%>
			          <%if notification.type == 'reminder'%>
			            <span class="thumb notification_calender" style="background: #f0ca45;">
			              <img class="thumb-img" src="/assets/vertical-timeline/img/cd-icon-bell.svg" alt="Reminder">
			            </span>
			          <%elsif notification.type == 'meeting_reminder'%>
				          <span class="thumb notification_calender" style="background:#1cc7c2;">
				            <img class="thumb-img" src="/assets/vertical-timeline/img/cd-icon-calendar.svg" alt="Meeting">
				          </span>
				        <%elsif notification.type == 'account_status_change'%>
					        <span class="thumb notification_calender" style="background: #333;">
					          <img class="thumb-img" src="/assets/vertical-timeline/img/cd-icon-briefcase.svg" alt="Reminder">
					        </span>
					      <%end%>
		          <%end%>
		        </td>
			        <td class="remove_bold_<%=k%>" style="<%=notification.read_at.blank? ? 'font-weight:bold' : ''%>">
		            <%=link_to notification.read_at.blank? ? notification_path(k) : "javascript:void(0)", remote: :true, method: :patch, class: "#{mark_class} title-color noti_link_#{k}", data: {id: "#{k}"} do%>
					        <%= notification.type == 'account_status_change' ? v.name : v.title%>
			          <%end%>
			        </td>
	        <td class="remove_bold_<%=k%>" style="<%=notification.read_at.blank? ? 'font-weight:bold' : ''%>"><%=Chronic.parse(notification.created_at).in_time_zone(current_user.time_zone).strftime("%b %d at %l:%M %p")%></td>
	      </tr>
	    <%end%>
	  </tbody>
	</table>
<%else%>
<p>You have 0 Notifications</p>
<%end%>

<script type="text/javascript">

	$(document).on('click', '.show_details', function(){
	  $(this).next().toggle(500)
  })

  $(document).on('click', '.close_div', function(){
		$(this).closest('tr').hide(400);
  })

  $(document).on('click', ".mark_read", function(){
  	id = $(this).data('id')
  	$(".noti_link_"+id).attr('href', 'javascript:void(0)');
  	$(".noti_link_"+id).attr('data-method', '')
  	$(".noti_link_"+id).attr('data-remote', 'false')
    $(".noti_link_"+id).removeClass('mark_read');
    $(".remove_bold_"+id).css('font-weight', 'normal')
  	// $('#preloader').css('opacity', 0.8);
   //  $('#preloader').show();
  })

  // $.ajax({
  //       type: "GET",
  //       url: '/notifications/conversation_detail/item_id=<%=citem.id%>',
  //       success: function (data) {
  //       }
  //     });
</script>