<%if notifications.present?%>
	<table class="table">
	  <thead>
	    <tr>
	      <th></th>
	      <th>Description</th>
	      <th>Date/Time</th>
	    </tr>
	  </thead>
	  <tbody>
	    <%notifications.each do |k,v|%>
	      <%notification = Notification.find(k)%>
		    <tr class="show_details i_pointer">
		       <%mark_class = notification.read_at.blank? ? 'mark_read' : ''%>
		        <td>
	            <%=link_to notification.read_at.blank? ? notification_path(k) : "javascript:void(0)", remote: :true, method: :patch, class: "#{mark_class} noti_link_#{k} ", data: {id: "#{k}"} do%>
			          <%if notification.type == 'reminder'%>
			            <span class="thumb notification_calender" style="background: #f0ca45;">
			              <img class="thumb-img" src="/assets/vertical-timeline/img/cd-icon-bell.svg" alt="Reminder">
			            </span>
			          <%elsif notification.type == 'meeting_reminder'%>
				          <span class="thumb notification_calender" style="background:#1cc7c2;">
				            <img class="thumb-img" src="/assets/vertical-timeline/img/cd-icon-calendar.svg" alt="Meeting">
				          </span>
				        <%elsif notification.type == 'account_status_change'%>
					        <span class="thumb notification_calender" style="background: #333;">
					          <img class="thumb-img" src="/assets/vertical-timeline/img/cd-icon-briefcase.svg" alt="Reminder">
					        </span>
					      <%end%>
		          <%end%>
		        </td>
			        <td class="remove_bold_<%=k%>" style="<%=notification.read_at.blank? ? 'font-weight:bold' : ''%>">
		            <%=link_to notification.read_at.blank? ? notification_path(k) : "javascript:void(0)", remote: :true, method: :patch, class: "#{mark_class} title-color noti_link_#{k}", data: {id: "#{k}"} do%>
					        <%= notification.type == 'account_status_change' ? v.name : v.title%>
			          <%end%>
			        </td>
	        <td class="remove_bold_<%=k%>" style="<%=notification.read_at.blank? ? 'font-weight:bold' : ''%>"><%=Chronic.parse(notification.created_at).in_time_zone(current_user.time_zone).strftime("%b %d at %l:%M %p")%></td>
	      </tr>
	      <tr class="item_details_<%=v.id%>" style="display: none;">
	        <td colspan="3">
		        <%if notification.type == 'reminder' || notification.type == 'meeting_reminder'%>
			        <%if v.type == 'meeting'%>
								<div class="cd-timeline-content shadow_non">
								    <%if v.starts_at.present? && v.ends_at.present? %>
										<span class="cd-date"><%= v.starts_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y - %l:%M %p")%> to <%=v.ends_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%l:%M %p")%>&nbsp;&nbsp;</span>
								    <% else %>
								        <span class="cd-date"><%= v.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p")%></span>
								    <% end %>
								    <%= get_styled_meetingstatus(v, false) %>
								    <span class="pull-right">
						          <%=link_to "javascript:void(0)", class: 'btn btn-xs btn-default mr5 close_div' do%>X<%end%>
								    </span>
									  <h2 class="ci_header"><%= v.title %></h2>
									  <p><span class="subheading">Agenda:<br/></span><%= sanitize v.body %></p>
								    <% if (!v.notes.nil?) %>
								        <p><span class="subheading">Notes:<br/></span><%= sanitize v.notes %></p>
								    <% end %>
								    <div class="row ci_footer">
							        <div class="col-sm-10">
						            <% if (v.scheduled_at.present?) %>
						                <i class="fa fa-bell tooltips mr10" data-toggle="tooltip" data-original-title="Reminder"></i><%= v.scheduled_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p") %><br />
						            <% end %>
						            <i class="fa fa-user tooltips mr10" data-toggle="tooltip" data-original-title="Created by"></i><%=v.created_by.first_name%> <%=v.created_by.last_name%><br />
						            <% if v.invitees.present? %>
						                <i class="fa fa-users tooltips mr10" data-toggle="tooltip" data-original-title="Invitees"></i><%= v.invitees %><br/>
						            <% end %>
						            <%=link_to account_path(v.account_id), class: 'btn btn-xs btn-default mr5 pull-right' do%>Go To Account<%end%>
							        </div>
								    </div>
								</div>
			        <%elsif v.type == 'reminder'%>
								<div class="cd-timeline-content shadow_non">
							    <span class="cd-date">
							       <%=v.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p")%>
							    </span>
							    	<span class="pull-right">
						          <%=link_to "javascript:void(0)", class: 'btn btn-xs btn-default mr5 close_div' do%>X<%end%>
								    </span>
							    <h2 class="ci_header"><%= v.title %></h2>
							    <div class="ci_reminder_body"><%= sanitize v.body %></div>
							    <% if (v.scheduled_at.present?) %>
						        <div class="ci_footer">
					            <i class="fa fa-bell"></i><%= v.scheduled_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p") %>
					            <i class="mr10"></i>
					            <% if v.notify_by_email.present? %>
					            <i class="fa fa-envelope tooltips mr10" data-toggle="tooltip" data-original-title="Email"></i>
					            <% end %>
					            <% if v.notify_by_sms.present? %>
					            <i class="fa fa-comment tooltips mr10" data-toggle="tooltip" data-original-title="SMS"></i>
					            <% end %><br/>
					             <%# if v.conversation_item_user_to_notify.present? %>
					                <!-- <br /> -->
					                <%#=notified_users(v)%>
					            <%# end %>
						          <%=link_to account_path(v.account_id), class: 'btn btn-xs btn-default mr5 pull-right' do%>Go To Account<%end%>
						        </div>
							    <% end %>
								</div>
							<%elsif v.type == 'quote'%>
								<div class="cd-timeline-content shadow_non">
								  <span class="cd-date">
								      <%= v.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p")%>
								  </span>
								  <%=get_styled_quotestatus(v, false)%>
								  <span class="pull-right">
						          <%=link_to "javascript:void(0)", class: 'btn btn-xs btn-default mr5 close_div' do%>X<%end%>
								  </span>
								  <h2 class="ci_header"><%= v.title %></h2>
								  <div class="ci_note_body">
								    <span class="subheading">Details:<br></span>
								          <%= sanitize v.body %>
								    <% if (!v.notes.nil?) %>
								      <p><span class="subheading">Notes:<br/></span><%= sanitize v.notes %></p>
								  <% end %>
								  </div>
								  <div class="ci_amount">
								      <span class="subheading">Amount:<br></span>
								      $<%=number_with_precision(v.amount, :precision => 2)%>
								  </div>
								    <div class="ci_footer">
								      <div class="col-sm-10">
								        <i class="fa fa-user tooltips mr10" data-toggle="tooltip" data-original-title="Created by"></i><%=v.created_by.first_name%> <%=v.created_by.last_name%><br />
								        <% if v.ends_at.present? %>
								            <i class="fa fa-clock-o tooltips mr10" data-toggle="tooltip" data-original-title="Expires Date"></i><%=v.ends_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y")%>&nbsp;
								            (
								            <%if v.ends_at.in_time_zone(current_user.time_zone).to_date > Date.today.in_time_zone(current_user.time_zone).to_date%>
								              <%= time_ago_in_words(v.ends_at.to_date).gsub('about','')%>
								            <%elsif v.ends_at.in_time_zone(current_user.time_zone).to_date == Date.today.in_time_zone(current_user.time_zone).to_date%>
								              <span>Today</span>
								            <%end%>
								            )<br />
								        <% end %>
								        <% if (v.scheduled_at.present?) %>
								            <i class="fa fa-bell tooltips mr10" data-toggle="tooltip" data-original-title="Reminder"></i><%= v.scheduled_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p") %><br/>
								        <%end%>
								      </div>
								      <%=link_to account_path(v.account_id), class: 'btn btn-xs btn-default mr5 pull-right' do%>Go To Account<%end%>
								    </div>
								</div>
							<%elsif v.type == 'note'%>
								<div class="cd-timeline-content shadow_non">
							    <span class="cd-date">
							        <%=v.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p")%>
							    </span>
							    <span class="pull-right">
						          <%=link_to "javascript:void(0)", class: 'btn btn-xs btn-default mr5 close_div' do%>X<%end%>
								  </span>
							    <h2 class="ci_header"><%= v.title %></h2>
							    <div class="ci_note_body"><%= sanitize v.body %></div>
							    <% if (v.scheduled_at.present?) %>
						        <div class="ci_footer">
						          +<i class="fa fa-bell"></i><%= v.scheduled_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p") %><br/>
						          <%=link_to account_path(v.account_id), class: 'btn btn-xs btn-default mr5 pull-right' do%>Go To Account<%end%>
						        </div>
							    <% end %>
								</div>
							<%elsif v.type == 'email'%>
								<div class="cd-timeline-content shadow_non">
							    <span class="cd-date">
							        <%=v.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p")%>
							    </span>
							    <span class="pull-right">
						        <%=link_to "javascript:void(0)", class: 'btn btn-xs btn-default mr5 close_div' do%>X<%end%>
								  </span>
							    <h2 class="ci_header"><%= v.title %></h2>
							    <div class="ci_note_body"><%= sanitize v.body %></div>
							    <div class="ci_footer">
						        <% if !v.invitees.nil? %>
						            <i class="fa fa-paper-plane-o"></i><%= v.invitees %><br />
						        <% end %>
						        <% if (v.scheduled_at.present?) %>
						            <i class="fa fa-calendar"></i><%= v.scheduled_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p") %><br/>
						        <% end %>
						        <span><%=link_to 'Go to account', account_path(v.account_id)%></span>
							    </div>
								</div>
			        <%end%>
			      <%else%>
			        <div class="cd-timeline-content shadow_non">
						    <span class="pull-right">
				          <%=link_to "javascript:void(0)", class: 'btn btn-xs btn-default mr5 close_div' do%>X<%end%>
						    </span>
							  <h2 class="ci_header"><%= v.name %></h2>
							  <%= get_styled_status(v, false) %>
							  <p><span class="subheading">Assigned To: &nbsp;</span><%= (v.assigned_to.nil? ? "Unkonwn" : "#{v.assigned_to.first_name} #{v.assigned_to.last_name}") %></p>
						    <div class="row ci_footer">
					        <div class="col-sm-10">
					          <i class="fa fa-calendar tooltips mr10" data-toggle="tooltip" data-original-title="Created at"></i><%= v.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p") %><br/>
				            <i class="fa fa-calendar tooltips mr10" data-toggle="tooltip" data-original-title="Updated at"></i><%= v.updated_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p") %><br />
				            <i class="fa fa-user tooltips mr10" data-toggle="tooltip" data-original-title="Updated by"></i><%= v.updated_by.nil? ? "" : v.updated_by.first_name + " " + v.updated_by.last_name %><br />
				            <%=link_to account_path(v.id), class: 'btn btn-xs btn-default mr5 pull-right' do%>Go To Account<%end%>
					        </div>
						    </div>
							</div>
			      <%end%>
	        </td>
	      <tr>
	    <%end%>
	  </tbody>
	</table>
<%else%>
<p>You have 0 Notifications</p>
<%end%>

<script type="text/javascript">

	$(document).on('click', '.show_details', function(){
	  $(this).next().toggle(500)
  })

  $(document).on('click', '.close_div', function(){
		$(this).closest('tr').hide(400);
  })

  $(document).on('click', ".mark_read", function(){
  	id = $(this).data('id')
  	$(".noti_link_"+id).attr('href', 'javascript:void(0)');
  	$(".noti_link_"+id).attr('data-method', '')
  	$(".noti_link_"+id).attr('data-remote', 'false')
    $(".noti_link_"+id).removeClass('mark_read');
    $(".remove_bold_"+id).css('font-weight', 'normal')
  	// $('#preloader').css('opacity', 0.8);
   //  $('#preloader').show();
  })
</script>