<% content_for :pageheader do %>
  <h2><i class="fa fa-bell"></i> Notifications</h2>
<% end %>
<div class="contentpanel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-btns">
        <a href="" class="minimize">−</a>
      </div>
      <h4 class="panel-title">Unread Notifications</h4>
    </div>
    <div class="panel-body">
      <ul class="notification_ui">
		    <%if @unread_items.present?%>
			    <%@unread_items.each do |k,v|%>
				   	<li class="notification_li">
				   		<span class="pull-left"><a class="close_btn">x</a>
					   		<span class="pull-left">
                  <a href="/accounts/<%=v.account_id%>" style="color: #636e7b"><%=v.title%></a>
					   		</span>
				   		</span>
				   		<span class="pull-right"><%=Chronic.parse(v.scheduled_at).in_time_zone(current_user.time_zone).strftime("%b %d")%></span>
				   	</li>
			    <%end%>
			  <%else%>
		      <p>You have 0 unread Notifications</p>
			  <%end%>
	    </ul>
    </div>
  </div>
</div>
<div class="contentpanel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-btns">
        <a href="" class="minimize">−</a>
      </div>
      <h4 class="panel-title">Read Notifications</h4>
    </div>
    <div class="panel-body">
      <ul class="notification_ui">
		    <%if @read_items.present?%>
			    <%@read_items.each do |k,v|%>
				   	<li class="notification_li">
				   		<span class="pull-left"><a class="close_btn">x</a>
					   		<span class="pull-left">
	                  <a href="/accounts/<%=v.account_id%>" style="color: #636e7b"><%=v.title%></a>
						   	</span>
						  </span>
				   		<span class="pull-right"><%=Chronic.parse(v.scheduled_at).in_time_zone(current_user.time_zone).strftime("%b %d")%>
				   		</span>
				   	</li>
			    <%end%>
			  <%else%>
		      <p>You have 0 read Notifications</p>
			  <%end%>
	    </ul>
    </div>
  </div>
</div>