<div id="add_account_transfer" class="modal fade account-transfer-add" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
          <h4 class="modal-title">Transfer Account</h4>
    </div>
      <div class="modal-body">
        <%= form_tag transfers_path, html: {class: "form-horizontal"}, remote: :true, method: :post  do %>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row row-pad-5">
                <div class="col-sm-4">Account Owner:</div>
                <div class="col-sm-8"><strong><%= @user.first_name %> <%= @user.last_name %></strong></div>
              </div>

              <div class="row row-pad-5 m_btm30">
                <div class="col-sm-4">Number of Accounts:</div>
                <div class="col-sm-8"><strong><%= @total_entries %></strong></div>
              </div>
              <div class="row row-pad-5 form-group transfr_custom_select">
                <div class="col-sm-4">Transfer Account To:
                </div>
                <div class="col-sm-8">
                  <%= hidden_field_tag :from_user_id, @user.id %>
                  <%if @total_entries != 0 %>
                    <% if @accounts[0].has_pending_transfer == false %>
                      <%= select_tag :to_user_id, options_for_select(@users.collect{ |u| ["#{u.first_name} #{u.last_name}", u.id] }, selected: @user.id), { :class => 'select2TransferAccountTo' } %>
                    <% else %>
                      <p> There is one or more accounts in pending transfer state for this Account Owner. <br />Please resolve before performing this action. </p>
                    <% end %>
                  <% else %>
                    <p>Current user has no accounts to transfer.</p>
                  <% end %>
                </div>
              </div>
            </div><!-- panel-body -->

            <div class="panel-footer">
              <% unless @total_entries == 0 %>
                <% if @accounts[0].has_pending_transfer == false %>
                  <button type="submit" class="btn btn-primary" id="transfer">Transfer</button>
                <% end %>
              <%end%>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div><!-- panel -->
        <% end %>
      </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->

<div id="confirm_box_modal">
</div>

<script>

  $(".select2TransferAccountTo").select2()
  .on("select2:select", function(e){
    var selected_element = $(e.currentTarget);
    var select_text = $(".select2TransferAccountTo option:selected").text();
    var select_val = selected_element.val();
    console.log(select_text)
    console.log(select_val)
  });

  $(".select2TransferAccountTo").select2({
    width: '100%'
  });

  // $("#transfer").click(function(){
  //   $('#add_account_transfer').modal('hide');
  //   $("#confirm_box").modal('show');
  // });

</script>
