<%= content_for :head_assets do %>
  <script src="/assets/bootstrap/js/fullcalendar.min.js"></script>
  <script src="/assets/bootstrap/js/jquery.ui.touch-punch.min.js"></script>
<% end %>
<div class="panel panel-default">
	<div class="panel-heading">
		<p>Fill in the details below to add a user</p>
	</div>
	<div class="panel-body">
	  <%= simple_form_for @user, html: {class: "form-horizontal", multipart: true } do |f| %>

	    <%= f.input :email, label: "Email", required: true %>

	    <%= f.input :first_name, label: "First Name", required: true %>

	    <%= f.input :last_name, label: "Last Name", required: true %>
      <% if @user.new_record? %>
	       <%= f.input :password, label: "Password", required: true %>

	       <%= f.input :confirm_password, label: "Confirm Password", required: true %>
      <%end%>

	    <div class="form-group">
	      <label class="col-sm-3 control-label">Role<span class="asterisk">*</span></label>
	      <div class="col-sm-2">
	      <%rol = @user.new_record? ? '' : (@user.roles.present? ? @user.roles.last.id : '')%>
	       <%=select_tag "user[role_ids][]", options_for_select(Role.all.map{|c| [c.name, c.id] }, selected: "#{rol}"), {prompt: "-- select --", :class => 'form-control input-sm sel_role', required: true}%>
	      </div>
	      <div class="show_entity">
		      <label class="col-sm-1 control-label">Entity<span class="asterisk">*</span></label>
			      <div class="col-sm-2">
			         <%en = @user.new_record? ? '' : (@user.entity.present? ? @user.entity.id : '') %>
			         <%=f.select(:company_entity_id, options_for_select(CompanyEntity.all.map{|c| [c.name, c.id] }, selected: "#{en}"), {prompt: "-- select --"}, {:class => 'form-control sel_clear input-sm', required: true})%>
			      </div>
	      </div>
	    </div>
	    <div class="form-group">
	      <label class="col-sm-3 control-label">Locale<span class="asterisk">*</span></label>
	      <div class="col-sm-6">
	        <%=f.select(:locale, options_for_select([['English', 'en'],['French', 'fr']], selected: @user.new_record? ? '' : @user.locale ), {prompt: "-- select --"}, {:class => 'form-control input-sm', required: true})%>
	      </div>
	    </div>
      <%#= f.input :time_zone, input_html: { class: 'form-control input-sm' }, priority: ActiveSupport::TimeZone.all.sort.map{|z| [z.name, z.name]}, default: "Pacific Time (US & Canada)" %>
      <div class="form-group">
        <label class="col-sm-3 control-label">Time Zone<span class="asterisk">*</span></label>
	      <div class="col-sm-6">
	        <%=select_tag('user[time_zone]', options_for_select(ActiveSupport::TimeZone.all.sort.map{|z| [z.name, z.name]} ,selected: @user.try(:time_zone)), {prompt: "-- select --", :class => 'form-control', required: true})%>
	      </div>
      </div>

	    <%= f.fields_for :addresses_attributes do |add| %>
	    	<%st_address = @address.last.street_address rescue nil%>
	      <%= add.input :street_address, required: true, label: "Street", :input_html => { :name => "user[addresses_attributes][][street_address]", :value => st_address}%>
	      <%city = @address.last.city rescue nil%>
	      <%= add.input :city, required: true, label: "City", :input_html => { :name => "user[addresses_attributes][][city]", :value => city} %>
        <%address_region = @address.last.region rescue nil%>
	      <%= add.input :region, required: true, label: "Province/State", :input_html => { :name => "user[addresses_attributes][][region]", :value => address_region} %>
        <%postcode = @address.last.postcode rescue nil%>
	      <%= add.input :postcode, required: true, label: "Postcode/Zipcode", :input_html => { :name => "user[addresses_attributes][][postcode]", :value => postcode}%>

	      <div class="form-group">
	        <label class="col-sm-3 control-label">Country<span class="asterisk">*</span></label>
	        <div class="col-sm-6">
	  				<%= add.input_field :country, { required: true, priority: [ "Canada", "United States", "United Kingdom" ],  class: "select2 form-control", name: "user[addresses_attributes][][country]", selected: @address.present? ? @address.last.country : '' } %>
	  			</div>
	      </div>
	      <% address_id = @address.last.id rescue nil %>
	      <%= add.hidden_field :id, value: address_id, name: "user[addresses_attributes][][id]" %>
	    <% end %>

	    <%= f.simple_fields_for :contacts_attributes do |c| %>
	      <div class="form-group">
	        <label class="col-sm-3 control-label">Phone:</label>
	        <div class="col-sm-2">
            <%contact_value = @contact.first.value rescue nil%>
	          <%=c.hidden_field :type, value: 'phone', name: "user[contacts_attributes][][type]" %>
	          <%= c.input_field :value, { label: 'Phone', name: "user[contacts_attributes][][value]", class: "form-control", value: contact_value}%>
	          <% contact_id = @contact.first.id rescue nil %>
	          <%=c.hidden_field :id, value: contact_id, name: "user[contacts_attributes][][id]" %>
	        </div>
	        <label class="col-sm-1 control-label">Mobile:</label>
	        <div class="col-sm-2">
	          <%contact_value1 = @contact.last.value rescue nil%>
	          <%=c.hidden_field :type, value: 'mobile', name: "user[contacts_attributes][][type]" %>
	          <%= c.input_field :value, { label: 'Value', name: "user[contacts_attributes][][value]", class: "form-control", value: contact_value1}%>
	          <% contact_id1 = @contact.last.id rescue nil %>
	          <%=c.hidden_field :id, value: contact_id1, name: "user[contacts_attributes][][id]" %>
	        </div>
	      </div>
	    <% end %>

	    <div class="form-group">
	      <label class="col-sm-3 control-label">Picture</label>
	      <div class="col-sm-6">
	        <label title="Upload image file" for="inputImage" class="btn btn-white">
	          <%= f.file_field :avatar, { name: "user[avatar]" }  %>
	        </label>
	      </div>
	    </div>
		</div><!-- panel-body -->

		<div class="panel-footer">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
				 <%=submit_tag 'Save', class: 'btn btn-primary'%>
					&nbsp;
					<button class="btn btn-default" name="cancel" id="cancel">Cancel</button>
				</div>
			</div>
		</div><!-- panel-footer -->
	<% end %>
</div>

<script>
	$(function(){
		// validate form
		$(".simple_form").validate({
		  highlight: function(element) {
		    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
		  },
		  success: function(element) {
		    jQuery(element).closest('.form-group').removeClass('has-error');
		  }
		});

		// default case
		if ( $('.sel_role').val() == 1 || $('.sel_role').val() == '' ) {
		  $(".show_entity").hide();
		  $(".sel_clear").val('');
		}
	});

	// when an entity is selected
	$('.sel_role').change(function(){
	  if($(this).val() == 1 || $(this).val() == '' )
	    {
	      $(".show_entity").hide();
	    	$(".sel_clear").val('');
	    }else
	    {
	     $(".show_entity").show();
	    }
	});
	<% if @user.new_record?%>
		$(function(){
			$( "#user_form" ).validate({
				debug: true,
			  rules: {
			   'user[password]': {
			   		required: true,
			   		minlength: 8
			    },
			    'user[confirm_password]': {
			      equalTo: "#user_password",
			      minlength: 8
			    }
			  },
			  submitHandler: function (form) {
			  	form.submit();
	      }
			});
		});
	<%end%>
</script>