<div class="ibox-content ibox-heading">
  <%= get_styled_meetingstatus(citem, false) %>
  <div class="btn-group mr5 pull-right">
    <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle" type="button" style="border-radius: 2px">
      <i class="fa fa-cog mr5"></i><span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="complete_meeting" href="#"
           data-toggle="modal"
           data-target=".conversation-complete-meeting-modal-form"
           data-id="<%=citem.id%>"
           data-account-id="<%=citem.account_id%>">Complete
        </a>
      </li>
      <li>
          <a class="edit_meeting" href="#"
             data-toggle="modal"
             data-target=".conversation-edit-meeting-modal-form"
             data-id="<%= citem.id %>"
             data-invitees="<%=citem.invitees%>"
             data-title="<%=citem.title %>"
             data-date="<%=Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%m/%d/%Y") if citem.scheduled_at.present?%>"
             data-time="<%=Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%I:%M%p") if citem.scheduled_at.present? %>"
             data-starts-date="<%=Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone).strftime("%m/%d/%Y") if citem.starts_at.present? %>"
             data-starts-time="<%=Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone).strftime("%I:%M%p") if citem.starts_at.present? %>"
             data-ends-date="<%=Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).strftime("%m/%d/%Y") if citem.ends_at.present? %>"
             data-ends-time="<%=Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).strftime("%I:%M%p") if citem.ends_at.present? %>"
             data-frequency ="<%=%>"
             data-stop-after="<%=%>"
             data-repeat="<%=%>"
             data-day-of-week="<%=%>"
             day-of-month="<%=%>"
             weekday-of-month="<%=%>"
             data-location="<%= citem.location%>"
             data-body="<%= citem.body %>">Edit
          </a>
      </li>
      <li>
        <%=link_to 'Delete', delete_meeting_account_path(account, item_id: citem.id, info: true), method: :delete,data: {confirm: 'Are you sure to delete this meeting?'}%>
      </li>
      <li class="divider"></li>
      <li><%= link_to "Open Account", account_path(citem.account_id) %></li>
    </ul>
  </div>
  <h3><%=citem.title%></h3>
  <small><i class="fa fa-map-marker" style="margin-right:10px"></i>&nbsp;&nbsp;<%=citem.location%></small><br />
  <small><i class="fa fa-calendar" style="margin-right:10px"></i><%=Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone).strftime("%m/%d/%Y") if citem.starts_at.present? %></small><br />
  <small><i class="fa fa-clock-o" style="margin-right:10px"></i><%=Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone).strftime("%I:%M %p") if citem.starts_at.present? %>  to  <%=Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).strftime("%I:%M %p") if citem.ends_at.present? %></small><br />
</div>
<%time = citem.ends_at.present? ? (DateTime.now.in_time_zone(current_user.time_zone) > citem.ends_at.to_datetime.in_time_zone(current_user.time_zone)+1.hour) : false%>
<%invitees = citem.invitees.present? ? citem.invitees.split(', ') : []%>
<div class="panel-body">
  <% if citem.status == "scheduled" && !time%>
    <%if current_user.id == citem_created_by.id || invitees.include?(current_user.email)%>
      <%if check_in(citem,false)%>
        <%=link_to account_check_in_path(conversation_item_id: citem.id, info: true), method: :post, class: "btn btn-xs btn-default pull-right mr5" do%>
          <i class="fa fa-sign-in mr5"></i>Check In
        <%end%>
      <%end%>
      <%if !check_in(citem,false) && check_out(citem,false)%>
       <%=link_to account_check_out_path(conversation_item_id: citem.id, info: true), method: :post, class: "btn btn-xs btn-default pull-right mr5" do%>
          <i class="fa fa-sign-in mr5"></i>Check Out
        <%end%>
      <%end%>
    <%else%>
        <%=link_to jump_in_account_path(citem.account_id,conversation_item_id: citem.id, info: true), method: :patch, class: "btn btn-xs btn-default pull-right mr5" do%>
          <i class="fa fa-sign-in mr5"></i>Jump In
        <%end%>
    <%end%>
  <% end %>
  <p>
    <span class="subheading">Agenda:<br></span>
    <%= sanitize citem.body %>
  </p>
  <p>
    <span class="subheading">Notes:<br></span>
    <%= sanitize citem.notes %>
  </p>
  <div class="row ci_footer">
      <div class="col-sm-10">
        <%if citem.scheduled_at.present? %>
          <i class="fa fa-bell tooltips mr10" data-toggle="tooltip" data-original-title="Reminder"></i><%= citem.scheduled_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p")%><br>
        <%end%>
        <i class="fa fa-user tooltips mr10" data-toggle="tooltip" data-original-title="Created by"></i><%=citem_created_by.first_name%> <%=citem_created_by.last_name%><br>
        <i class="fa fa-users tooltips mr10" data-toggle="tooltip" data-original-title="Invitees"></i><%= citem.invitees %>
      </div>
      <div class="col-sm-2">
      </div>
  </div>
</div>
<%= render "accounts/conversation_meeting_complete", account: account, info: true%>
<%= render "accounts/conversation_meeting_edit", account: account, info: true%>


<script type="text/javascript">
  $(document).on('click', "a.complete_meeting", function(e){
    id = $(this).attr('data-id')
    $('.conversation-complete-meeting-modal-form input[name="conversation_item[id]"]').val($(this).attr('data-id'));
    $('.conversation-complete-meeting-modal-form input[name="info"]').val(true);
  });

  var meeting_edit_editor;

  $(function() {
    meeting_edit_editor = $('#meeting_edit_editor').wysihtml5({'font-styles': false, 'image': false, 'link':false});
  });


  // $(document).on('click', "a.edit_meeting", function(e){
  $('.edit_meeting').click(function(){
    id = $(this).attr('data-id')
    invitees = $(this).attr('data-invitees')
    invitees_array = invitees.split(',')
    $.each(invitees_array, function(index, value){
      $("#edit_tag_input").before( "<span>"+value+"</span>");;
    });
    $('.conversation-edit-meeting-modal-form input[name="conversation_item[invitees]"]').val($(this).attr('data-invitees'));
    $('.conversation-edit-meeting-modal-form input[name="conversation_item[title]"]').val($(this).attr('data-title'));
    $('.conversation-edit-meeting-modal-form input[name="conversation_item[location]"]').val($(this).attr('data-location'));
    $('.conversation-edit-meeting-modal-form input[name="scheduled_time"]').val($(this).attr('data-time'));
    $('.conversation-edit-meeting-modal-form input[name="scheduled_date"]').val($(this).attr('data-date'));
    $('.conversation-edit-meeting-modal-form input[name="starts_date"]').val($(this).attr('data-starts-date'));
    $('.conversation-edit-meeting-modal-form input[name="starts_time"]').val($(this).attr('data-starts-time'));
    $('.conversation-edit-meeting-modal-form input[name="ends_date"]').val($(this).attr('data-ends-date'));
    $('.conversation-edit-meeting-modal-form input[name="ends_time"]').val($(this).attr('data-ends-time'));
    $('.conversation-edit-meeting-modal-form input[name="info"]').val(true);

      if ($('.conversation-edit-meeting-modal-form input[name="scheduled_time"]').val()!="" && $('.conversation-edit-meeting-modal-form input[name="scheduled_date"]').val()!="")
        {
          $("#meeting-reminder-edit").attr('checked', true);
          $("#meeting-reminder-settings-edit").show(500);
          $("#meeting-reminder-settings-edit").show(500);
        }else{
          $("#meeting-reminder-edit").attr('checked', false);
          $("#meeting-reminder-settings-edit").hide(500);
          $("#meeting-reminder-settings-edit").hide(500);
          $('.conversation-edit-meeting-modal-form input[name="scheduled_date"]').val(null);

        }
     meeting_edit_editor.data("wysihtml5").editor.setValue($(this).attr('data-body'));

    $('.conversation-edit-meeting-modal-form input[name="conversation_item[id]"]').val($(this).attr('data-id'));
  });

  $(document).ready(function(){

    $('#meeting-reminder-time-edit').timepicker({minuteStep: 5});

    // by default hide reminder settings for meetings
    $("#meeting-reminder-settings-edit").hide();

    // hide show note reminder settings for meetings
    $('#meeting-reminder-edit').change(function () {
        if ($(this).is(':checked')) {
          $("#meeting-reminder-settings-edit").show(500);
      }
      else {
        $("#meeting-reminder-settings-edit").hide(500);
        // $('.conversation-edit-meeting-modal-form input[name="scheduled_date"]').val(null);
      }
    });

    // by default hide repeat settings for meetings
    $("#meeting-repeat-settings-edit").hide();
    $("#repeat-frequency-week-edit").hide();
    $("#repeat-frequency-month-edit").hide();
    $("#repeat-frequency-year-edit").hide();
    $("#repeat-frequency-weekday-on-edit").hide();
    $("#repeat-frequency-month-on-edit").hide();

    // hide show note reminder settings for meetings
    $('#meeting-repeat-edit').change(function () {
        if ($(this).is(':checked')) {
          $("#meeting-repeat-settings-edit").show(500);
      }
      else {
        $("#meeting-repeat-settings-edit").hide(500);
        $("#repeat-frequency").val('');
        $("#repeat-occurrences").val('');
        $('#repeat-every-day').val('');
        $('#repeat-every-week').val('');
        $('#repeat-every-month').val('');
        $('#repeat-every-year').val('');
        $('#repeat-every-month-on').val('');
        $('#repeat-frequency-weekday-on').val('');
      }
    });

    // hide show note reminder settings for meetings
    $('#repeat-frequency').change(function () {
      if($(this).val() == "daily") {
        $("#repeat-frequency-day-edit").show(500);
        $("#repeat-frequency-week-edit").hide(500);
        $("#repeat-frequency-month-edit").hide(500);
        $("#repeat-frequency-year-edit").hide(500);
        $("#repeat-frequency-weekday-on-edit").hide(500);
        $("#repeat-frequency-month-on-edit").hide(500);
      }
      else if($(this).val() == "weekly"){
        $("#repeat-frequency-day-edit").hide(500);
        $("#repeat-frequency-week-edit").show(500);
        $("#repeat-frequency-month-edit").hide(500);
        $("#repeat-frequency-year-edit").hide(500);
        $("#repeat-frequency-weekday-on-edit").show(500);
        $("#repeat-frequency-month-on-edit").hide(500);
      }
      else if($(this).val() == "monthly"){
        $("#repeat-frequency-day-edit").hide(500);
        $("#repeat-frequency-week-edit").hide(500);
        $("#repeat-frequency-month-edit").show(500);
        $("#repeat-frequency-year-edit").hide(500);
        $("#repeat-frequency-weekday-on-edit").hide(500);
        $("#repeat-frequency-month-on-edit").show(500);
      }
      else if($(this).val() == "yearly"){
        $("#repeat-frequency-day-edit").hide(500);
        $("#repeat-frequency-week-edit").hide(500);
        $("#repeat-frequency-month-edit").hide(500);
        $("#repeat-frequency-year-edit").show(500);
        $("#repeat-frequency-weekday-on-edit").hide(500);
        $("#repeat-frequency-month-on-edit").hide(500);
      }
    });
  });
</script>