<h3 class="subtitle-lined">Regular Visits</h3>
<%=@formatted_date %>
<% if @sorted_regular_visits.count > 0 %>
  <section id="cd-timeline" class="cd-container sort_container" >
    <% @sorted_regular_visits.each do |citem| %>
      <div class="cd-timeline-block citem_div" data-id="<%=citem.id%>" data-conversation-id = "<%=citem.conversation_id%>">
        <div class="cd-timeline-img cd-meeting">
          <img src="/assets/vertical-timeline/img/cd-icon-calendar.svg" alt="Meeting">
        </div>
        <div class="cd-timeline-content">
          <%if citem.starts_at.present? && citem.ends_at.present? %>
          <span class="cd-date"><%= citem.starts_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y")%></span>
          <% else %>
              <span class="cd-date"><%= citem.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p")%></span>
          <% end %>
          <%#= get_styled_regularmeetingstatus(citem, false) %>
          <%=get_styled_meetingstatus(citem, pulled_right=false)%>
          <div class="btn-group mr5 pull-right">
            <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle" type="button" style="border-radius: 2px">
              <i class="fa fa-ellipsis-v mr5"></i><span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="complete_meeting" href="#"
                   data-toggle="modal"
                   data-target=".conversation-complete-meeting-modal-form"
                   data-status="<%= citem.status%>"
                   data-notes ="<%=citem.notes%>"
                   data-check-out = "<%=check_out_details(citem, nil).present? ? 'completed' : ''%>"
                   data-id="<%=citem.id%>"
                   data-account-id="<%=citem.account_id%>">Complete
                </a>
              </li>
              <li>
                  <a class="edit_meeting" href="#"
                   data-toggle="modal"
                   data-target=".conversation-edit-meeting-modal-form"
                   data-id="<%= citem.id %>"
                   data-account-id="<%=citem.account_id%>"
                   data-invitees="<%=citem.invitees%>"
                   data-title="<%=citem.title %>"
                   data-date="<%=(mobile? ? Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%Y-%m-%d") :  Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%m/%d/%Y")) if citem.scheduled_at.present?%>"
                   data-time="<%=((@daylight_setting == 'enable' && Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).dst?) ? (Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone) - 1.hour).strftime("%I:%M %p") : Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%I:%M %p"))if citem.scheduled_at.present? %>"
                   data-time-24="<%=((@daylight_setting == 'enable' && Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).dst?) ? (Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone) - 1.hour).strftime("%H:%M") : Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%H:%M"))if citem.scheduled_at.present? %>"
                   data-starts-date="<%=(mobile? ? Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone).strftime("%Y-%m-%d") : Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone).strftime("%m/%d/%Y")) if citem.starts_at.present? %>"
                   data-starts-time="<%=((@daylight_setting == 'enable' && Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone).dst?) ? (Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone) - 1.hour).strftime("%I:%M %p") : Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone).strftime("%I:%M %p"))if citem.starts_at.present? %>"
                   data-ends-date="<%= mobile? ? Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).strftime("%Y-%m-%d") :  Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).strftime("%m/%d/%Y") if citem.ends_at.present? %>"
                   data-ends-time="<%=((@daylight_setting == 'enable' && Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).dst?) ? (Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone) - 1.hour).strftime("%I:%M %p") : Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).strftime("%I:%M %p"))if citem.ends_at.present? %>"
                   data-repetition-rule ="<%=(citem.repetition_rule.present? || citem.related_to.present?) ? 'true' : 'false'%>"
                   data-location="<%= citem.location%>"
                   data-longitude="<%=citem.longitude%>"
                   data-latitude="<%=citem.latitude%>"
                   data-item-type="<%=citem.item_type%>"
                   data-body="<%= citem.body %>">Edit</a>
              </li>
              <li>
                <%=link_to 'Delete', "javascript:void(0)", class: "delete_item", data:{id: citem.id, account_id: citem.account_id}%>
              </li>
              <li class="divider"></li>
              <li><%= link_to "Go To Account", account_path(citem.account_id) %></li>
            </ul>
          </div>
          <div class="regular-visit-draggable btn btn-sm btn-white mr10 pull-right" style="border-radius: 2px" title=" Click and drag up and down to arrange in the order you wish">
              <i class="mr5"></i><i class="fa fa-sort mr5"></i></span>
          </div>
          <h2 class="ci_header"><%= citem.title %></h2>
          <p><span class="subheading">Agenda:<br/></span><%= sanitize citem.body %></p>
          <% if (!citem.notes.nil?) %>
            <p><span class="subheading">Notes:<br/></span><%= sanitize citem.notes %></p>
          <% end %>
          <div class="row ci_footer">
            <div class="col-sm-10">
              <% if (citem.scheduled_at.present?) %>
                <i class="fa fa-bell tooltips mr10" data-toggle="tooltip" data-original-title="Reminder"></i>
                <%scheduled_at = citem.scheduled_at.to_datetime.in_time_zone(current_user.time_zone)%>
                 <%scheduled_at = scheduled_at - 1.hour if @daylight_setting == 'enable' && scheduled_at.dst?%>
                 <%=scheduled_at.strftime("%a %b %d %Y at %l:%M %p")%><br />
              <% end %>
              <i class="fa fa-user tooltips mr10" data-toggle="tooltip" data-original-title="Created by"></i><%=citem.created_by.first_name%> <%=citem.created_by.last_name%><br />
              <% if citem.invitees.present? %>
                <i class="fa fa-users tooltips mr10" data-toggle="tooltip" data-original-title="Invitees"></i><%= citem.invitees %><br/>
              <% end %>
              <%check_in_time = check_in_details(citem, nil) %>
              <%check_out_time = check_out_details(citem, nil) %>
              <% if check_in_time%>
                <i class="fa fa-sign-in mr10" data-toggle="tooltip" data-original-title="Check In"></i><%= check_in_time %><br/>
              <% end %>
              <% if check_out_time && !check_out(citem,false)%>
                <i class="fa fa-sign-out mr10" data-toggle="tooltip" data-original-title="Check Out"></i><%= check_out_time %><br/>
              <% end %>
              <div class="check_in_time_<%=citem.id%> hidden">
                <i class="fa fa-sign-in mr10" data-toggle="tooltip" data-original-title="Check In"></i><%= Time.now.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p")%>
              </div>
              <div class="check_out_time_<%=citem.id%> hidden">
                <i class="fa fa-sign-out mr10" data-toggle="tooltip" data-original-title="Check Out"></i><%= Time.now.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p") %>
              </div>
              <i class="fa fa-briefcase tooltips mr10" data-toggle="tooltip" data-original-title="Account"></i><%= citem.account.try(:name) ? citem.account.name : "Account Deleted" %>
            </div>
            <%invitees = citem.invitees.present? ? citem.invitees.split(', ') : []%>
            <div class="col-sm-2">
              <%time = citem.ends_at.present? ? (DateTime.now.in_time_zone(current_user.time_zone) > citem.ends_at.to_datetime.in_time_zone(current_user.time_zone)+1.hour) : false%>
              <%if @enable_checkin_checkout == 'enable'%>
                <% if (citem.status == "scheduled" || citem.status == "in_progress") && !time%>
                  <%if current_user.id == citem.created_by.id || invitees.include?(current_user.email)%>
                    <%if check_in(citem,nil)%>
                      <a class="btn btn-xs btn-default pull-right mr5 checkin" id="<%=citem.id%>" data-created-by="<%=citem.created_by.id%>" data-conversation-id = "<%=citem.conversation_id%>">
                        <i class="fa fa-sign-in mr5"></i><span class="position_button">Check In</span>
                      </a>
                    <%end%>
                    <%if !check_in(citem,nil) && check_out(citem,nil)%>
                      <a class="btn btn-xs btn-default pull-right mr5 checkout" id="<%=citem.id%>" data-created-by="<%=citem.created_by.id%>" data-conversation-id="<%=citem.conversation_id%>">
                        <i class="fa fa-sign-out mr5"></i><span class="position_button">Check Out</span>
                      </a>
                    <%end%>
                  <%else%>
                    <a class="btn btn-xs btn-default pull-right mr5 jumpin" id="<%=citem.id%>" data-conversation-id = "<%=citem.conversation_id%>"><i class="fa fa-sign-in mr5"></i><span class="position_button">Jump In</span>
                    </a>
                  <%end%>
                <% elsif !check_in(citem,false) && check_out(citem,false) && (citem.status == "in_progress" || citem.status == "completed") && !time %>
                  <a class="btn btn-xs btn-default pull-right mr5 checkout" id="<%=citem.id%>" data-created-by="<%=citem.created_by.id%>" data-conversation-id = "<%=citem.prefix_options[:conversation_id].present? ? citem.prefix_options[:conversation_id] : citem.conversation_id%>">
                    <i class="fa fa-sign-out mr5"></i><span class="position_button">Check Out</span>
                  </a>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section> <!-- cd-timeline -->
<% else %>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-md-12">
          <!--<section class="cd-container">-->
            <h3>No items available</h3>
          <!--</section>-->
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">

  var my = "<%=@enable_regular_visits_sort%>"
  if (my == "disable")
    $('.regular-visit-draggable').addClass("hidden");
  else
    $('.regular-visit-draggable').removeClass("hidden")

  var ready, set_positions;
  set_positions = function(){
    // loop through and give each task a data-pos
    // attribute that holds its position in the DOM
    $('.citem_div').each(function(i){
        $(this).attr("data-pos",i+1);
    });
  }

  ready = function(){
    // call set_positions function
    set_positions();
    $('.sort_container').sortable({handle: ".regular-visit-draggable"});

    // after the order changes
    $('.sort_container').sortable({handle: ".regular-visit-draggable"}).bind('sortupdate', function(e, ui) {
      // array to store new order
      updated_order = []
      // set the updated positions
      set_positions();

      // populate the updated_order array with the new task positions
      $('.citem_div').each(function(i){
          updated_order.push({ id: $(this).data("id"), position: i+1, conversation_id: $(this).data("conversation-id")  });

      });

      // send the updated order via ajax
      $.ajax({
          type: "PATCH",
          url: '/schedule/sort_regular_visits',
          data: { order: updated_order },
          success: function(data){
            if(typeof(data.alert) !== 'undefined'){
              alert(data.alert);
            }
          }
      });
    });
  }

  $(document).ready(ready);
  $(document).on('page:load', ready);
</script>
