<% content_for :pageheader do %>
  <h2><i class="fa fa-home"></i> Schedule</h2>
<% end %>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default panel-alt">
      <div class="media padding10">
        <a class="pull-left">
          <% if current_user.avatar_url.eql? "/avatars/web/missing.png" || !(current_user.avatar_url.present?)%>
            <img src="/assets/bootstrap/images/user.png" class="media-object" />
          <% else %>
            <img alt="" src="<%= current_user.avatar_url %>" class="thumbnail media-object" style="margin-bottom:0px; height:100px;">
          <% end %>
        </a>
        <div class="media-body event-body">
          <h3 class="subtitle-lined"><%= current_user.first_name rescue nil %> <%= current_user.last_name rescue nil%></h3>
          <small><%= current_user.time_zone %></small>
        </div>
      </div>
      <div id="conversation_item_details">
        <%if @meetings.present? && @next_meeting.present?%>
          <%account = Account.find(@next_meeting.first.account_id)%>
          <%created_by = OpenStruct.new(@next_meeting.first.created_by)%>
          <%=render 'conversation_item_details', citem: @next_meeting.first, account: account, citem_created_by: created_by%>
        <%end%>
      </div>
    </div>
  </div><!-- col-->
  <div class="col-md-8">
    <div class="row">
      <div class="col-sm-6 mb10">
        <% if can? :schedule_filter, Account %>
          <% if (@users.count > 1) %>
            <%= form_tag schedule_calendar_event_path, method: :get, remote: :true do |f| %>
            <div class="col-sm-8 mb10">
              <select class="select2" multiple="multiple" name="users[]" id="schedule_user_list" data-placeholder="Filter schedule by user">
                <%= options_for_select(@users.collect{ |u| ["#{u.first_name} #{u.last_name}", u.id] if current_user.id != u.id }) %>
              </select>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primary" id="show_calendar_eve">Show</button>
            </div>
            <%end%>
          <% end %>
        <% end %>
      </div>
      <div class="col-sm-6">
        <div class="btn-group mr5 pull-right">
          <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
              <i class="fa fa-plus-circle mr5"></i>Add
              <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li><a href="#" data-toggle="modal" data-target=".account-action-meeting">Schedule Meeting</a></li>
          </ul>
        </div>
      </div>
    </div><!-- row -->
    <div class="row">
      <div class="col-sm-12">
        <div id="calendar"></div>
      </div>
    </div><!-- row -->
  </div>
</div>
<%= render "accounts/conversation_meeting", account: nil %>

<script>
  $(document).on('click', "a.complete_meeting", function(e){
    id = $(this).attr('data-id')
    $('.conversation-complete-meeting-modal-form input[name="conversation_item[id]"]').val($(this).attr('data-id'));
    $('.conversation-complete-meeting-modal-form input[name="id"]').val($(this).attr('data-account-id'));
  });
  var meeting_new_editor

  $(function() {
    meeting_new_editor = $('#meeting_new_editor').wysihtml5({'font-styles': false, 'image': false, 'link':false});
  });

  $(document).ready(function(){

    // Tags Input
    jQuery('#invite-emails').tagsInput({
      width:'100%',
      height: 'auto',
      onAddTag:isValidEmailAddress,
      defaultText:'Invitees'
    });
    function isValidEmailAddress(emailAddress) {
        var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;

        if (pattern.test(emailAddress) == false) {
        alert("Please add a valid email address");
        $('#invite-emails').removeTag(emailAddress);
        }
    };

    $('#meeting-reminder-time').timepicker({minuteStep: 5});

    // by default hide reminder settings for meetings
    $("#meeting-reminder-settings").hide();

    // hide show note reminder settings for meetings
    $('#meeting-reminder').change(function () {
        if ($(this).is(':checked')) {
          $("#meeting-reminder-settings").show(500);
      }
      else {
        $("#meeting-reminder-settings").hide(500);
        // $('.conversation-edit-meeting-modal-form input[name="scheduled_date"]').val(null);
      }
    });

    // by default hide repeat settings for meetings
    $("#meeting-repeat-settings").hide();
    $("#repeat-frequency-week").hide();
    $("#repeat-frequency-month").hide();
    $("#repeat-frequency-year").hide();
    $("#repeat-frequency-weekday-on").hide();
    $("#repeat-frequency-month-on").hide();

    // hide show note reminder settings for meetings
    $('#meeting-repeat').change(function () {
        if ($(this).is(':checked')) {
          $("#meeting-repeat-settings").show(500);
      }
      else {
        $("#meeting-repeat-settings").hide(500);
        $("#repeat-frequency").val(null);
        $("#repeat-occurrences").val(null);
        $('#repeat-every-day').val(null);
        $('#repeat-every-week').val(null);
        $('#repeat-every-month').val(null);
        $('#repeat-every-year').val(null);
        $('#repeat-every-month-on').val(null);
        $('#repeat-frequency-weekday-on').val(null);
      }
    });

    // hide show note reminder settings for meetings
    $('#repeat-frequency').change(function () {
      if($(this).val() == "daily") {
        $("#repeat-frequency-day").show(500);
        $("#repeat-frequency-week").hide(500);
        $("#repeat-frequency-month").hide(500);
        $("#repeat-frequency-year").hide(500);
        $("#repeat-frequency-weekday-on").hide(500);
        $("#repeat-frequency-month-on").hide(500);
      }
      else if($(this).val() == "weekly"){
        $("#repeat-frequency-day").hide(500);
        $("#repeat-frequency-week").show(500);
        $("#repeat-frequency-month").hide(500);
        $("#repeat-frequency-year").hide(500);
        $("#repeat-frequency-weekday-on").show(500);
        $("#repeat-frequency-month-on").hide(500);
      }
      else if($(this).val() == "monthly"){
        $("#repeat-frequency-day").hide(500);
        $("#repeat-frequency-week").hide(500);
        $("#repeat-frequency-month").show(500);
        $("#repeat-frequency-year").hide(500);
        $("#repeat-frequency-weekday-on").hide(500);
        $("#repeat-frequency-month-on").show(500);
      }
      else if($(this).val() == "yearly"){
        $("#repeat-frequency-day").hide(500);
        $("#repeat-frequency-week").hide(500);
        $("#repeat-frequency-month").hide(500);
        $("#repeat-frequency-year").show(500);
        $("#repeat-frequency-weekday-on").hide(500);
        $("#repeat-frequency-month-on").hide(500);
      }
    });
  });

  // Select2
  $("#schedule_user_list").select2({
    width: '100%',
    maximumSelectionLength: 5,
  });

  $("#show_calendar_eve").click(function(){
    $('#preloader').css('opacity', 0.3);
    $('#preloader').show();
  })

  jQuery(document).ready(function() {

    "use strict";
    <%if params[:mid].present? && params[:acc_id].present? %>
      var c_id = '<%=params[:mid]%>';
      var acc_id = '<%=params[:acc_id]%>';
      $.ajax({
        type: "GET",
        url: '/schedule/get_meeting?citem_id='+ c_id + "&account_id=" + acc_id,
        success: function (data) {
        }
      });
    <%end%>
    /* initialize the calendar
     -----------------------------------------------------------------*/
    $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        eventClick: function (calEvent, jsEvent, view) {
          $('#preloader').css('opacity', 0.3);
          $('#preloader').show();
          var c_id = calEvent.id
          var account_id = calEvent.account_id
          $.ajax({
            type: "GET",
            url: '/schedule/get_meeting?citem_id='+ c_id + "&account_id=" + account_id,
            success: function (data) {
            }
          });
        },
        editable: false,
        droppable: false, // this allows things to be dropped onto the calendar
        events: '/schedule/get_events'
    });

	});
</script>

<style>
  .fc-event-inner {/* force events to be one-line tall */
    white-space: nowrap;
    overflow: hidden;
  }
</style>
