$('#contact-modal').modal('hide');
$('#account-contact-add-form')[0].reset();
<% if @status.eql?("ok") %>
$("#account-contacts").append('\
<li id="<%= dom_id(@contact) %>"><i class="fa fa-<%= contact.icon_name %>"></i><%= contact.value %></li>\
');

$.fn.editable.defaults.ajaxOptions = {type: "PUT"};
jQuery('#account-contact-editable-<%= @contact.id %>').editable({
  send: 'always',
  validate: function(value) {
    if($.trim(value) == '') return 'This field is required';
  },
  params: function (params) {
    var data = {};
    var contact = {};
    data['authenticity_token'] = "<%= form_authenticity_token %>";
    contact['id'] = params.id;
    contact['name'] = $(this).editable().data('contactname');;
    contact['type'] = $(this).editable().data('contacttype');
    contact['value'] = params.value;
    data['contact'] = contact;
    return data;
  },
  success: function(response, newValue) {
    console.log(JSON.stringify(response));
    if(response.status == 'error'){
      return response.msg; //msg will be shown in editable form
    }
  }
});

jQuery(document).ready(function() {
	jQuery.gritter.add({
		title: 'Success!',
		text: '<%= @notification_message %>',
    	class_name: 'growl-success',
    	image: '/assets/bootstrap/images/screen.png',
		sticky: false,
		time: ''
	});
});
<% else %>
jQuery(document).ready(function() {
	jQuery.gritter.add({
		title: 'Error!',
		text: '<%= @notification_message %>',
    	class_name: 'growl-danger',
    	image: '/assets/bootstrap/images/screen.png',
		sticky: false,
		time: ''
	});
});
//alert("Error in create DEBUG[]: <%= @contact.errors.messages.inspect %>");
<% end %>
