<% content_for :pageheader do %>
  <h2><i class="fa fa-user"></i> Preference</h2>
<% end %>
<%= simple_form_for current_user, url: preference_path, method: :patch do |f| %>
  <div class="panel panel-default">
  	<div class="panel-heading">
  		<p>Edit your preference below and click save</p>
  	</div>

  	<div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">Default view of your calendar</label>
        <div class="col-sm-6">
          <%=select_tag('preference[default_calendar_view]', options_for_select([['Daily', 'agendaDay'],['Weekly', 'agendaWeek'],['Monthly', 'month']], selected: @user_preference['default_calendar_view']), {prompt: "-Select your default view of your calendar-", :class => 'form-control', required: true})%>
        </div>
      </div>
    </div> <!-- panel-body -->

    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">Preview conversation timeline</label>
        <div class="col-sm-6">
          <%=select_tag('preference[preview_conversation_timeline]', options_for_select([['1 day', 'one_day'],['2 days', 'two_days'],['1 week', 'one_week'],['2 weeks', 'two_weeks'],['1 month', 'one_month']], selected: @user_preference['preview_conversation_timeline']), {prompt: "-Select your conversation timeline preview limit-", :class => 'form-control', required: true})%>
        </div>
      </div>
    </div> <!-- panel-body -->

    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">Receive Notifications by</label>
        <div class="col-sm-6">
          <%=select_tag('preference[received_notification_by]', options_for_select([['Both', 'both'],['Email only', 'email'],['SMS only', 'sms'],['None', 'none']], selected: @user_preference['received_notification_by']), {prompt: "-Select your notification reminder preference. Email or SMS or both-", :class => 'form-control', required: true})%>
        </div>
      </div>
    </div> <!-- panel-body -->

    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">Notification display limit</label>
        <div class="col-sm-6">
          <%=select_tag('preference[notification_display_limit]', options_for_select([['1 day', 'one_day'],['2 days', 'two_days'],['1 week', 'one_week'],['2 weeks', 'two_weeks'],['3 weeks', 'three_weeks'],['1 month', 'one_month']], selected: @user_preference['notification_display_limit']), {prompt: "-Select your notification display limit-", :class => 'form-control', required: true})%>
        </div>
      </div>
    </div> <!-- panel-body -->

  	<div class="panel-footer">
  		<div class="row">
  			<div class="col-sm-6 col-sm-offset-3">
  				<button type="submit" class="btn btn-primary" name="save" id="save">Save</button>&nbsp;
  				<a class="btn btn-default" href="/users">Cancel</a>
  			</div>
  		</div>
  	</div><!-- panel-footer -->
<% end %>