$('#address-modal').modal('hide');
$('#account-address-add-form')[0].reset();
<% if @status.eql?("ok") %>
$("#account-addresses").append('\
<li id="<%= dom_id(address) %>" style="border-bottom:0px;"> \
  <address>\
    <strong><%= address.name %> <br/></strong>\
    <div class="edit-div-right">\
      <%= link_to account_address_path(@account, address.id), { method: :delete, remote: true, data: { confirm: 'Are you sure you want to delete this address?', toggle: "tooltip", placement: "top"}, class: "account_icons", title: "Remove"} do %>\
      <i class="fa fa-trash-o"></i>\
      <% end %>\
    </div>\
    <a href="https://maps.google.com?daddr=<%= address.street_address %>+<%= address.city %>+<%= address.region %>+<%= address.country %>+<%= address.postcode %>" target="_blank">\
    <%= address.street_address %><br>\
    <%= address.city %>, <%= address.region %>, <%= address.country %><br />\
    <%= address.postcode %>\
    </a>\
  </address>\
</li>\
');

jQuery(document).ready(function() {
	jQuery.gritter.add({
		title: 'Success!',
		text: '<%= @notification_message %>',
    	class_name: 'growl-success',
    	image: '/assets/bootstrap/images/screen.png',
		sticky: false,
		time: ''
	});
});
<% else %>
jQuery(document).ready(function() {
	jQuery.gritter.add({
		title: 'Error!',
		text: '<%= @notification_message %>',
    	class_name: 'growl-danger',
    	image: '/assets/bootstrap/images/screen.png',
		sticky: false,
		time: ''
	});
});

<% end %>
