<% content_for :pageheader do %>
  <h2><i class="fa fa-cogs"></i>Settings</h2>
<% end %>
<%= form_tag update_settings_admin_company_settings_path(company_id: @company), method: :patch, class: "form-horizontal" do |f| %>
  <div class="profile-header">
    <div class="row row-pad-5">
      <div class="col-md-12 mb20">
        <!-- Nav tabs -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="" class="minimize">−</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">Modules</h3>
          </div>
          <div class="panel-body">
            <div class="tab-pane" id="authentication">
              <div class="row row-pad-5">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Assets Management</label>
                  <div class="col-sm-4">
                    <%=select_tag('asset_management',options_for_select(assets_management_select_options, selected: @assets_management), prompt: '-select-', class: "form-control")%>
                  </div>
                </div>
              </div><!-- row pad 5-->
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="" class="minimize">−</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">Account Properties</h3>
          </div>
          <div class="panel-body">
            <div class="tab-pane" id="authentication">
              <div class="row row-pad-5">
                <div class="col-sm-10">
                </div>
                <div class="col-sm-2">
                  <a href="#" data-toggle="modal" class="btn btn-primary btn-block add_property" data-target=".add-account-property-modal-form"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;Add Property</a>
                </div>
              </div>
              <div class="row row-pad-5">
                <div class="form-group">
                  <div class="col-sm-12 mb30">

                    <div class="table-responsive ">
                        <table class="table table-primary mb30">
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Label</th>
                                <th>Required</th>
                                <th>Format</th>
                                <th>Values</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody>
                            <%unless @account_properties.blank?%>
                              <%@account_properties.each do |key, value|%>
                                <tr>
                                  <td><%=key%></td>
                                  <td><%=value['label']%></td>
                                  <td><%=value['required']%></td>
                                  <td><%=value['format']%></td>
                                  <td><%=value['values']%></td>
                                  <td class="table-action">
                                    <a href="" data-toggle="modal" data-target=".add-account-property-modal-form" class="edit_property" data-key="<%=key%>"
                                     data-label="<%=value['label']%>"
                                     data-required="<%=value['required']%>"
                                     data-format="<%=value['format']%>"
                                     data-values="<%=value['values']%>">
                                     <i class="fa fa-pencil"></i></a>
                                    <a href="/admin/companies/<%=@company.id%>/settings/delete_property?property_id=<%=key%>" data-method="delete" rel="nofollow" data-confirm="Are you sure you want to delete this property?"><i class="fa fa-trash-o"></i></a>
                                  </td>
                                </tr>
                              <%end%>
                            <%end%>
                            </tbody>
                        </table>
                    </div><!-- table-responsive -->
                  </div>
                </div>
              </div><!-- row pad 5-->
            </div>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="" class="minimize">−</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">Asset Properties</h3>
          </div>
          <div class="panel-body">
            <div class="tab-pane" id="authentication">
              <div class="row row-pad-5">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Properties</label>
                  <div class="col-sm-4">


                  </div>
                </div>
              </div><!-- row pad 5-->
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-footer">
            <div class="row row-pad-5">
              <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="reset" class="btn btn-default">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- col- -->
    </div><!-- row -->
  </div><!-- profile-header -->
<%end%>
<%=render 'add_and_update_account_property'%>
<script type="text/javascript">
  $("#accounts_by_status").select2({
    width: '100%',
  });

  $(".add_property").click(function(){
    $(".property_title").text('Add Property')
    $("#property_value").val(null)
    $("#property_format").val(null)
    $("#property_label").val(null)
    $("#property_id").val(null)
    $("#property_id").prop('readonly', false)
    $("#required_false").attr('checked',true)
    $(".property_value").hide()
  })

  $("#property_format").change(function(){
    if($(this).val() == 'enum'){
      $(".property_value").show(500)
    }else{
      $("#property_value").val(null)
      $(".property_value").hide(500)
    }
  })

  $(".edit_property").click(function(){
    $(".property_title").text('Edit Property')
    $("#property_id").val($(this).data('key'))
    $("#property_id").prop('readonly', true)
    $("#property_label").val($(this).data('label'))
    $("#property_format").val($(this).data('format'))
    if($(this).data('format') == 'enum'){
      $(".property_value").show(500)
      $("#property_value").val($(this).data('values'))
    }else{
      $(".property_value").hide(500)
      $("#property_value").val(null)
    }
    if($(this).data('required') == true){
     $("#required_true").attr('checked',true)
    }else{
      $("#required_false").attr('checked',true)
    }
  })
</script>