<% content_for :pageheader do %>
  <h2><i class="fa fa-home"></i> Company</h2>
<% end %>

<div class="profile-header">
  <div class="row">
    <div class="col-sm-3">
    	<img src="/assets/bootstrap/images/photos/hd-profile.jpg" class="thumbnail img-responsive" alt="">
      <div class="mb30"></div>
    </div><!-- col-sm-3 -->
    <div class="col-sm-9">
      <h2 class="profile-name"><%= @company.name %></h2>
      <div class="mb20"></div>
      <div class="row">
        <div class="col-sm-11">
          <div class="row">
              <small>
              <div class="col-sm-5">
                  <div class="row bars">
                      <div class="col-xs-5" style="text-align:right"><strong>Status</strong></div>
                      <div class="col-xs-7"><span class="badge" style="background-color: #0eb057; border-color: #0eb057;">Open</span> </div>
                  </div>
                  <div class="row bars">
                      <div class="col-xs-5" style="text-align:right"><strong>Address</strong></div>
                      <div class="col-xs-7">???</div>
                  </div>
                  <div class="row bars">
                      <div class="col-xs-5" style="text-align:right"><strong>Contact</strong></div>
                      <div class="col-xs-7">???</div>
                  </div>
              </div><!-- col-sm-4 -->
              <div class="col-sm-7">
                  <div class="row bars">
                      <div class="col-xs-5" style="text-align:right"><strong>Created</strong></div>
                      <div class="col-xs-7">???</div>
                  </div>
                  <div class="row bars">
                      <div class="col-xs-5" style="text-align:right"><strong>Language</strong></div>
                      <div class="col-xs-7"><%= @company.locale %></div>
                  </div>
                  <div class="row bars">
                      <div class="col-xs-5" style="text-align:right"><strong>Time Zone</strong></div>
                      <div class="col-xs-7"><%= @company.time_zone %></div>
                  </div>
              </div><!-- col-sm-4 -->
              </small>
          </div><!-- row -->
        </div>
      </div>
    </div><!-- col-sm-9 -->
    <div class="mb20"></div>
  </div><!-- row -->
  <div class="row row-pad-5">
    <div class="col-md-12 mb20">
      <!-- Nav tabs -->

      <% if has_permissions({ "AccountStatus"=>{"actions"=>["read","manage"]}, "all"=>{"actions"=>"manage"} }) %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-btns">
              <a href="" class="minimize">−</a>
            </div><!-- panel-btns -->
            <h3 class="panel-title">Account Statuses</h3>
          </div>
            <div class="panel-body">
              <div class="tab-pane" id="settings">
                <div class="row row-pad-5">
                  <div class="col-md-10">
                    <p>
                      Each account is designated a status and can a great way to organize based on name and color.
                    </p>
                  </div>
                  <div class="col-md-2">
                    <% if has_permissions({ "AccountStatus"=>{"actions"=>"manage"}, "all"=>{"actions"=>"manage"} }) %>
                      <a href="#" id="add_status" class="btn btn-primary btn-block" data-toggle="modal" data-target=".account-status-add"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;Add Status</a>
                    <% end %>
                  </div>
                </div><!-- row pad 5-->
              <div class="row row-pad-5">
                <div class="col-md-8">
                  <div class="table-responsive">
                    <table class="table mb30">
                      <thead>
                        <tr>
                          <th>Status</th>
                          <th>Description</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <% @account_statuses.each do |status| %>
                          <tr>
                            <td><span class="badge" style="background-color: <%= status.color %>; border-color: <%= status.color %>;"><%= status.name %></span></td>
                            <td><%= status.description %></td>
                            <td class="table-action">
                              <% if has_permissions({ "AccountStatus"=>{"actions"=>"manage"}, "all"=>{"actions"=>"manage"} }) %>
                                <a href="#"
                                data-id="<%= status.id %>"
                                data-statname="<%= status.name %>"
                                data-statcolor="<%= status.color %>"
                                data-statdesc="<%= status.description %>"
                                data-toggle="modal" data-target=".account-status-add" class="modal-link"><i class="fa fa-pencil"></i></a>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div><!-- table-responsive -->
                </div><!-- col-md-6 -->
              </div><!-- row pad 5-->
            </div>
            </div>
          </div>
        <% end %>

        <% if has_permissions({ "CompanyEntity"=>{"actions"=>["read","manage"]}, "all"=>{"actions"=>"manage"} }) %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-btns">
                <a href="" class="minimize">−</a>
              </div><!-- panel-btns -->
              <h3 class="panel-title">Company Entities</h3>
            </div>
            <div class="panel-body">
              <div class="tab-pane active" id="organization">

                <div class="row row-pad-5">
                  <div class="col-md-10">
                    <!-- <h3 class="panel-title">Entities</h3> -->
                    <p>Use entities to describe how your organization is structured</p>
                  </div>
                  <div class="col-md-2">
                    <% if has_permissions({ "CompanyEntity"=>{"actions"=>"manage"}, "all"=>{"actions"=>"manage"} }) %>
                      <a href="<%= new_company_entity_path %>" class="btn btn-primary btn-block"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;Add Entities</a>
                    <% end %>
                  </div>
                </div><!-- row -->

                <div class="row row-pad-5">
                  <div class="col-md-8">
                    <% if @entites.present? %>
                      <div class="table-responsive">
                        <ul class="table_head">
                          <li class="first_li">Name</li>
                           <li class="second_li">Description</li>
                            <li class="third_li">&nbsp;</li>
                        </ul>
                        <%# @entites.each do |entity| %>
                          <%#unless entity.parent.present? %>
                              <%#=get_children(entity.id)%>
                          <%#end%>
                        <%#end%>

                        <%=nested_entities(@entites)%>

                      </div><!-- table-responsive -->
                    <% else %>
                      <p>Create and manage Entities here.</p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <!-- <ul class="panel-title"> -->
            <!-- <li><a href="#organization" data-toggle="tab"><strong>Company Entities</strong></a></li> -->
            <!-- <li><a href="#settings" data-toggle="tab"><strong>Account Statues</strong></a></li> -->
          <!-- </ul> -->
          <!-- Tab panes -->
        </div>
      <% end %>

    </div> <!-- col- -->
  </div><!-- row -->
</div><!-- profile-header -->
</div>
</div><!-- mainpanel -->
</section>
<%= render "company_account_status" %>
<%= render 'edit_company_entity' %>

<script src="/assets/bootstrap/js/colorpicker.js"></script>
<script src="/assets/bootstrap/js/chosen.jquery.min.js"></script>
<script>

  $(document).on('click', "a.edit-folder", function(e){
    id = $(this).attr('data-id')
    $('input[name="company_entity[name]"]').val($(this).attr('data-name'));
    $('textarea[name="company_entity[description]"]').val($(this).attr('data-description'));
    $('select[name="company_entity[parent_id]"]').val($(this).attr('data-parent'))
    $('#edit_company_entity').modal('show');
    $('#edit_company_entity').find('form').attr('action', '/company_entities/'+id)
  });
	// Color Picker
	if(jQuery('#account-status-color').length > 0) {
	 jQuery('#colorSelector').ColorPicker({
			onShow: function (colpkr) {
				jQuery(colpkr).fadeIn(500);
				return false;
			},
			onHide: function (colpkr) {
				jQuery(colpkr).fadeOut(500);
				return false;
			},
			onChange: function (hsb, hex, rgb) {
				jQuery('#colorSelector span').css('backgroundColor', '#' + hex);
				jQuery('#account-status-color').val('#'+hex);
			}
	 });
	}

	$(document).on("click", ".modal-link", function () {
		var statusID = $(this).data('id');
		$(".modal-body #account-status-id").val( statusID );
		$("#account-status-name").val( $(this).data('statname') );
		$("#account-status-color").val( $(this).data('statcolor') );
		$("#account-status-desc").val( $(this).data('statdesc') );
	});


  $(document).on("click", "#add_status", function () {
    $(".modal-body #account-status-id").val("");
    $("#account-status-name").val("");
    $("#account-status-color").val("");
    $("#account-status-desc").val("");
  });

  $(document).on('click', '.nested_link', function(){
    $('#preloader').css('opacity', 0.3);
    $('#preloader').show();
  });
</script>
