<% if @sorted_citems[:email].count == 0 %>
  <p>Looks like there was no emails scheduled for this date range</p>
<% else %>
  <div class="table-responsive">
    <table class="table table-hover mb30">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @sorted_citems[:email].each do | email | %>
          <tr>
            <td><%= email.title %></td>
            <td><%= email.updated_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%b %d") %></td>
            <td>
              <%=render 'reports/activity_report/email_activity_details', email: email%>
              <div class="table-controls">
                <a href="#" data-target=".email-activity-detail_<%=email.id%>" data-toggle="modal" class="btn btn-default btn-icon btn-xs tip" title="View" data-original-title="View"><i class="fa fa-search-plus"></i></a>
                <%=link_to account_path(email.account_id), class: "btn btn-default btn-icon btn-xs tip margin_left10" do%>
                <i class="fa fa-briefcase" title="Go to account"></i><%end%>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>