<div class="modal fade note-activity-detail_<%=note.id%>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
          <h4 class="modal-title">Activity Detail</h4>
      </div>
      <div class="modal-body">
          <span class="cd-date"><%= note.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p")%></span>
        <h4 class="ci_header"><%= note.title %></h4>
        <p><%= sanitize note.body %></p>
        <div class="row ci_footer">
          <div class="col-sm-10">
            <i class="fa fa-user tooltips mr10" data-toggle="tooltip" data-original-title="Created by"></i><%=note.created_by.first_name%> <%=note.created_by.last_name%><br />
            <i class="fa fa-briefcase tooltips mr10" data-toggle="tooltip" data-original-title="Account"></i><%= note.account.try(:name) ? note.account.name : "Account Deleted" %><br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
