<% content_for :pageheader do %>
  <h2><i class="fa fa-briefcase"></i>Account Activity Report</h2>
<% end %>
<div class="contentpanel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-btns">
        <a href="" class="minimize">−</a>
      </div>
      <h4 class="panel-title">Fill in the detials below to get results</h4>
    </div>
    <div class="panel-body">
      <%=form_tag activity_report_result_path, method: :get do%>
        <div class="row mb10">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Start Date</label>
              <%if mobile?%>
                <input id="activity_from_datepicker" type="date" name="search[date_gteq]" required="required" placeholder="Start Date"/>
              <%else%>
                <input type="text" name="search[date_gteq]" class="form-control" placeholder="Start Date" id="activity_from_datepicker" required="required">
              <%end%>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">End Date</label>
              <%if mobile?%>
                <input id="activity_to_datepicker" type="date" name="search[date_lteq]" required="required" placeholder="End Date"/>
              <%else%>
                <input type="text" class="form-control" name="search[date_lteq]" placeholder="End Date"id="activity_to_datepicker" required="required">
              <%end%>
            </div>
          </div>
        </div>
        <%if current_user.roles.last.try(:name) != 'User'%>
          <div class="form-group">
            <label class="control-label">User</label>
            <select class="select" id="select_users" name="users[]" multiple="multiple" required="required" class="form-control" data-placeholder="Filter report by user">
              <% @users.each do |u|%>
                <option value="<%=u.id%>" <%= "selected='selected'" if @users.count == 1 %>><%=u.first_name%> <%=u.last_name%></option>
              <%end%>
              <% if @users.count > 1 %>
                <option value="all">All</option>
              <% end %>
            </select>
          </div>
        <%end%>
        <button type="submit" class="btn btn-primary">Get Report</button>
        <button type="reset" class="btn btn-default">Reset</button>
      <%end%>
    </div>
  </div>
</div>
<script type="text/javascript">
  $("#select_users").select2({
    width: '100%'
  });
  if(mobile == 'false'){
    $("#activity_to_datepicker").datepicker()
    $('#activity_from_datepicker').datepicker({
      dateFormat: 'mm/dd/yy',
      altField: "#activity_to_datepicker",
      altFormat: "mm/dd/yy",
      onSelect: function (selected) {
        var min = new Date(selected);
        var max = new Date(selected);
        max.setDate(max.getDate()+90);
        $('#activity_to_datepicker').datepicker('option', { minDate: min, maxDate: max});
      }
    });
  }else{
    $('#activity_from_datepicker').on('change', function() {
      $('#activity_to_datepicker').prop('min', $(this).val());
      var dt = $(this).val()
      var new_date = new Date(dt)
      new_date.setDate(new_date.getDate()+90)
      year = new_date.getFullYear()
      month = new_date.getMonth()+1
      date = new_date.getDate()
      if(month < 10){
       month = '0'+month
      }
      if(date < 10){
        date = '0'+date
      }
      max_date = year+'-'+month+'-'+date
      $('#activity_to_datepicker').prop('max', max_date);
      $('#activity_to_datepicker').val($(this).val());
    });
  }
</script>