<% content_for :pageheader do %>
  <h2><i class="fa fa-map-marker"></i>Tracking Report</h2>
<% end %>

<div class="gps-tracking">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"></h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <%=select_tag "user-visits", options_for_select(@users.map{|u| ["#{u.first_name}" +" "+ "#{u.last_name}", u.id]}, params[:user]), {prompt: "-- Select Name --", class: 'form-control'} %>
        </div>
        <div class="col-sm-3">
          <div class="input-group ">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              <input type="text" class="form-control user-data-picker" placeholder="mm/dd/yy" name="date" id="schedule-from-datepicker" required="required" value="<%=DateTime.parse(params[:date]).strftime('%m/%d/%Y') if !params[:date].nil? && params[:date] != ''%>"/>
          </div>
        </div>
      </div>
      <div class="row navigation">
        <div class="col-sm-6">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <%= label_tag 'visit', "Visit", class: ''%>
          <%= check_box_tag 'visit','visit-user' %>
          <%= label_tag 'tracking', "Tracking", class: ''%>
          <%= check_box_tag 'tracking' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12 map-layout">
  <div id="map" style="height: 500px"></div>
</div>

<% if @allPosition.present? %>

  
  <!-- Commented because right now no need it for this functionality  -->
  <!-- <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>     -->
  
  <%= javascript_include_tag "Leaflet.js" %>
  <!-- 
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>     -->

  <!-- <script src="http://jdewit.github.io/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>  -->   

  <script src="http://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.0/leaflet.awesome-markers.js"></script>
  
  <%= javascript_include_tag "LeafletPlayback.js" %>
  
  <script type="text/javascript">
    var mapsetView1 = <%=JSON.parse(@allPosition)['geometry']['coordinates'][0][0].to_f unless @allPosition.nil?%>
    var mapsetView0 = <%=JSON.parse(@allPosition)['geometry']['coordinates'][0][1].to_f unless @allPosition.nil?%>
    var demoTracks = [<%=@allPosition.html_safe unless @allPosition.nil?%>];
    var startDate = '<%= DateTime.parse(params[:date]).beginning_of_day.strftime("%m/%d/%Y")%>';
    var startTimeGps = "<%= Time.at(JSON.parse(@allPosition)['properties']['time'][0]).to_datetime.strftime('%I:%M:%S %p')%>".toString();
    $('#visit').attr('checked', true);

  </script>

  <%= javascript_include_tag "example_2_control.js" %>
  <%= javascript_include_tag "example_2.js" %>
<% else %>
  <script type="text/javascript">
   $(document).ready(function() {
      (function() {
          // map options
          var options = {
              zoom: 5,
              center: new google.maps.LatLng(39.909736, -98.522109), // centered US
              mapTypeId: google.maps.MapTypeId.TERRAIN,
              mapTypeControl: false
          };
          // init map
          var map = new google.maps.Map(document.getElementById('map'), options);
          })();
      });
  </script>
<% end %>

<script type="text/javascript">
	$('#visit').on('change', function(){
		if ($('#visit').attr('checked')){
			var user = $('select#user-visits option:selected').val();
			var date = $("#schedule-from-datepicker").datepicker( 'getDate' );
			if (user != null && user != '' && date != null && date != ''){
				window.location.href = "/gps_tracking_report?user="+user+"&date="+date;
			} else{
        alert('You Missing Something!');
      }
		}else{
			console.log('Please checked.');
		}
	});
</script>
