<% content_for :pageheader do %>
  <h2><i class="fa fa-map-marker"></i>Tracking Report</h2>
<% end %>
<div class="gps-tracking">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <div class="pull-right arrow-mrg">
           <i class="fa fa-arrow-up full-screen-action up-arrow" aria-hidden="true" id="full-screen"></i>
           <i class="fa fa-arrow-down full-screen-action down-arrow" aria-hidden="true" style="display: none"></i>
        </div>
      </h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <%=select_tag "user-visits", options_for_select(@users.map{|u| ["#{u.first_name}" +" "+ "#{u.last_name}", u.id]}, params[:user]), {prompt: "-- Select Name --", class: 'form-control input-sm'} %>
        </div>
        <div class="col-sm-3">
          <div class="input-group ">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              <input type="text" class="form-control user-data-picker" placeholder="mm/dd/yy" name="date" id="schedule-from-datepicker" required="required" value="<%=DateTime.parse(params[:date]).strftime('%m/%d/%Y') if !params[:date].nil? && params[:date] != ''%>"/>
          </div>
        </div>
        <div class="col-sm-3">
          <%= submit_tag "Search", class: 'btn btn-primary btn-block', id: 'track-records' %>
        </div>
      </div>
      <div class="row navigation">
        <div class="col-sm-6">
        </div>
      </div>
      <% unless @allPosition.present? %>
        <br/>
      <% end %>
      <div class="row custom-checbox">
        <div class="col-sm-12">
          <div class="ckbox ckbox-default left-chk">
            <%= check_box_tag 'tracking', nil, true, class: '' %>
            <%#= radio_button_tag 'tracks', 'tracking'%>
            <%= label_tag 'tracking', "Tracking", class: '' %>&nbsp;&nbsp;&nbsp;
          </div>

          <div class="ckbox ckbox-default left-chk">
            <%= check_box_tag 'visit', nil, false, class: '' %>
            <%#= radio_button_tag 'tracks', 'visit'%>
            <%= label_tag 'visit', "Visits", class: '' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="col-sm-12 map-layout" style="margin-bottom:20px;">
    <div id="tracking_map" style="height: 600px;">
      <div id="map" style="height: 100%;"></div>
    </div>
  </div>





<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-stat">
      <div class="panel-heading" style="background-color:#1cc7c2;">
        <div class="stat">
          <div class="row">
            <div class="col-xs-4">
              <span class="thumb activity-icon">
                <img class="thumb-img" src="/assets/vertical-timeline/img/cd-icon-calendar.svg" alt="Planned Visits">
              </span>
            </div>
            <div class="col-xs-8 text-center">
              <small class="stat-label"><strong>Planned Visits</strong></small>
              <h1>0</h1>
            </div>
          </div><!-- row -->
        </div><!-- stat -->
      </div><!-- panel-heading -->
    </div>
  </div><!-- tile meeting -->
  <div class="col-sm-4">
    <div class="panel panel-stat">
      <div class="panel-heading" style="background-color:#673AB7;">
        <div class="stat">
          <div class="row">
            <div class="col-xs-4">
              <span class="thumb activity-icon">
                <img class="thumb-img" src="/assets/vertical-timeline/img/cd-icon-calendar.svg" alt="Adhoc Visits">
              </span>
            </div>
            <div class="col-xs-8 text-center">
              <small class="stat-label"><strong>Adhoc Visits</strong></small>
              <h1>0</h1>
            </div>
          </div><!-- row -->
        </div><!-- stat -->
      </div><!-- panel-heading -->
    </div>
  </div><!-- tile regular visits -->
  <div class="col-sm-4">
    <div class="panel panel-stat">
      <div class="panel-heading" style="background-color:#e91e63;">
        <div class="stat">
          <div class="row">
            <div class="col-xs-4">
              <span class="thumb activity-icon">
                <img class="thumb-img" src="/assets/vertical-timeline/img/cd-icon-calculator.svg" alt="Total Visits">
              </span>
            </div>
            <div class="col-xs-8 text-center">
              <small class="stat-label"><strong>Total</strong></small>
              <h1>0</h1>
            </div>
          </div><!-- row -->
        </div><!-- stat -->
      </div><!-- panel-heading -->
    </div>
  </div><!-- tile quote -->
</div><!-- row -->


<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped" id="trackingTable">
      <thead>
         <tr>
            <th></th>
            <th>Coordinates</th>
            <th>Time</th>
            <th>App Version</th>
            <th>GPS</th>
            <th>WiFi</th>
            <th>Mobile Data</th>
            <th>Activity Type</th>
            <th>Heading</th>
            <th>Battery Level</th>
            <th>Accuracy</th>
            <th>Confidence</th>
            <th>Charging</th>
         </tr>
      </thead>
       <%
       unless @allPosition.nil?  
          coordinateData  = JSON.parse(@allPosition)
          coordinateData['geometry']['coordinates'].each_with_index do |coord, i| 
      %>
        <tr>
          <td><%= i + 1 %>
          <td><%= coord %></td>
          <td><%= coordinateData['properties']['time'][i] %></td>
          <% if coordinateData['properties']['metadata'][i].present? %>
            <td><%= coordinateData['properties']['metadata'][i]['version'] %></td>
            <td><%= coordinateData['properties']['metadata'][i]['gps'] %></td>
            <td><%= coordinateData['properties']['metadata'][i]['wifi'] %></td>
            <td><%= coordinateData['properties']['metadata'][i]['mobile_data'] %></td>
            <td><%= coordinateData['properties']['metadata'][i]['activity_type'] %></td>
            <td><%= coordinateData['properties']['metadata'][i]['heading'] %></td>
            <td><%= coordinateData['properties']['metadata'][i]['battery_level'] %></td>
            <td><%= coordinateData['properties']['metadata'][i]['accuracy'] %></td>
            <td><%= coordinateData['properties']['metadata'][i]['activity_confidence'] %></td>
            <td><%= coordinateData['properties']['metadata'][i]['battery_is_charging'] %></td>
          <% else %>
            <td> na </td>
            <td> na </td>
            <td> na </td>
            <td> na </td>
            <td> na </td>
            <td> na </td>
            <td> na </td>
            <td> na </td>
            <td> na </td>
            <td> na </td>
          <% end %>
        </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div><!-- col-sm-12 -->
</div><!-- row -->


<div class="col-sm-3 places-position panel-dark pull-right">
  <div class="panel-heading">
    <h3 class="panel-title text-center"><i class="fa fa-map-marker" aria-hidden="true"></i> Schedule</h3>
  </div>
  <div class="panel-body left-right" style="padding: 10px 0;">
    <ul class="schedule-box">
      <%if @gps_visits.present? %>
        <% @gps_visits.each do |v| 
          case v['status']
          when 'done'
            sideLineColor = 'yellow'
          when 'todo'
            sideLineColor = 'red'
          when 'in_progress'
            sideLineColor = 'green'
          end
        %>
          <li class="<%=sideLineColor%>">
            <h4><%= v['name'] %></h4>
            <p><%= v['city_name'] %> <%= v['scheduled_at'].to_datetime.strftime('%H:%M:%p') %></p>
          </li>
        <% end %>
      <% else %>
        <p class="text-center">No place to visit.</p>
      <% end %>
    </ul>
  </div>
</div>

<% if @allPosition.present? %>
  <%= javascript_include_tag "Leaflet.js" %>
  <%= javascript_include_tag "Leaflet_AwesomeMarkers.js" %>
  <%= javascript_include_tag "LeafletPlayback.js" %>

  <script type="text/javascript">
    var map;
    var mapsetView1 = <%=JSON.parse(@allPosition)['geometry']['coordinates'][0][0].to_f unless @allPosition.nil?%>
    var mapsetView0 = <%=JSON.parse(@allPosition)['geometry']['coordinates'][0][1].to_f unless @allPosition.nil?%>
    var demoTracks = [<%=@allPosition.html_safe unless @allPosition.nil?%>];

    var startDate = '<%= DateTime.parse(params[:date]).beginning_of_day.strftime("%m/%d/%Y")%>';
    var startTimeGps = "<%= Time.at(JSON.parse(@allPosition)['properties']['time'][0]).to_datetime.strftime('%I:%M:%S %p')%>".toString();
    $('.places-position').addClass('places-navigation');
  </script>

  <%= javascript_include_tag "example_2_control.js" %>
  <%= javascript_include_tag "example_2.js" %>

  <script type="text/javascript">
    $(document).ready(function() {
      var markerImg = 'url(/marker_image/<%=params[:user]%>) no-repeat 0 0';
      $(".awesome-marker-shadow").css({'background':markerImg});
      $('.leaflet-top.leaflet-right').css({'display' : 'none'});
      $('.leaflet-control-layers-selector').trigger('click');

      var coordinates = <%=JSON.parse(@allPosition)['geometry']['coordinates']%>
      var pointList = [];
      $.each(coordinates, function( index, value ) {
        pointList.push(new L.LatLng(value[1], value[0]))
      });
      var firstpolyline = new L.Polyline(pointList, {
          color: '#1caf9a',
          weight: 5,
          opacity: 1,
          smoothFactor: 1
      });
      firstpolyline.addTo(map);

      var demo = firstpolyline.on('click', function(event) {
        console.log(event);
          var l = event.latlng;
          var latitude = event.latlng.lat;
          var longitude = event.latlng.lng;
          console.log( latitude + ', ' + longitude );
          var endDate = '<%= DateTime.parse(params[:date]).end_of_day.strftime("%m/%d/%Y")%>';
          // L.AwesomeMarkers = {};
          L.setMarker(endDate,l)
      });

      $('#tracking').click(function(event) {
         if($('#tracking').attr('checked')){
          map.addLayer(firstpolyline);
         }else{
          map.removeLayer(firstpolyline);
         }
      });
      $( function() {$( "#map" ).resizable();});
      $('.mainpanel').css({'min-height' : '1200px'});

<% if @latlng.present? %>
  L.Icon.Default.imagePath = '<%= request.base_url  %>';

  var accountIcon = L.icon({
      iconUrl: '<%= asset_path('account_icon.png') %>',
      shadowUrl: '',
      shadowSize:   [0, 0], // size of the shadow
      shadowAnchor: [0, 0],  // the same for the shadow

      iconSize:     [64, 64], // size of the icon
      iconAnchor:   [32, 64], // point of the icon which will correspond to marker's location
      popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
  });

  var locations = <%= raw(@latlng) %>;

  var marker, i;

  for (i = 0; i < locations.length; i++) {

    var lat = locations[i][0];
    var lng = locations[i][1];
    var address_info = '<strong>' + locations[i][3] + '</strong><br/>' + (locations[i][4] != "" ? locations[i][4] + "<br/>": "") + (locations[i][5] != "" ? locations[i][5] + "<br/>": "") + (locations[i][6] != "" ? locations[i][6] + "<br/>": "") + (locations[i][8] != "" ? locations[i][8] + "<br/>": "") + (locations[i][7] != "" ? locations[i][7] + "<br/>": "") + (locations[i][9] != "" ? locations[i][9] + "<br/>": "") + '(Lat : ' + lat + ', ' + 'Long : ' + lng + ')';

    var marker = L.marker([lat, lng], {icon: accountIcon}).addTo(map);

    marker.bindPopup(address_info);
  }

<% end %>
    });
  </script>
<% else %>
  <script type="text/javascript">
    $('.navigation').css({'height' : '0px'});
    $('.down-arrow').css({'display':'none'});
    $('.places-position').addClass('places');
    $(document).ready(function() {
      (function() {
        // map options
        var options = {
            zoom: 5,
            center: new google.maps.LatLng(39.909736, -98.522109), // centered US
            mapTypeId: google.maps.MapTypeId.TERRAIN,
            mapTypeControl: false
        };
        // init map
        var map = new google.maps.Map(document.getElementById('map'), options);
        })();

    });
  </script>
<% end %>

<script type="text/javascript">
  $('#track-records').on('click', function(){
    var user = $('select#user-visits option:selected').val();
    var date = $("#schedule-from-datepicker").datepicker( 'getDate' );
    if ($('#tracking').attr('checked')){
      if (user != null && user != '' && date != null && date != ''){
        window.location.href = "/gps_tracking_report?user="+user+"&date="+date;
      } else{
        alert('You Missed Something!');
      }
    } else {
      console.log('Please checked.');
    }
  });
</script>

<script type="text/javascript">
  $('.full-screen-action').on('click', function(){
    if($('#map').hasClass('full-screen') || ($('#map').hasClass('full-screen-with-navigation')) ){
      if($('.transport').length > 0)
      {
        $('#map').removeClass('full-screen-with-navigation');
      }else{
        $('#map').removeClass('full-screen');
      }
      $('.down-arrow').css({'display':'none'});
      $('.up-arrow').css({'display':'block'});
    } else {
      if($('.transport').length > 0)
      {
        $('#map').addClass('full-screen-with-navigation');
      }else{
        $('#map').addClass('full-screen');
      }
      $('.up-arrow').css({'display':'none'});
      $('.down-arrow').css({'display':'block'});
    }
  });
  $(document).keyup(function(e) {
    if (e.which == 27){
      $('#map').removeClass('full-screen');
    }
  });
</script>

<script type="text/javascript">
  $('.places-action').on('click', function(){
    if($('.box-place').hasClass('hide')){
      $('.box-place').removeClass('hide');
    }else{
      $('.box-place').addClass('hide');
    }
  });
  $('#tracking').attr('checked', true);
  $('.places-position').hide();
  $('.box-place').hide();

  $("#visit").on('click', function(){
    if($('#visit').attr('checked')){
      $('.places-position').show();
      $('.box-place').show();
    } else {
      $('.places-position').hide();
      $('.box-place').hide();
    }
  });

</script>

