<% content_for :pageheader do %>
  <h2><i class="fa fa-home"></i> Meeting Report</h2>
<% end %>
<div class="contentpanel">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-success panel-stat">
        <div class="panel-heading hight_145">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="col-xs-8">
                <small class="stat-label">Total Meetings</small>
                <h1><%=@total_meetings%></h1>
              </div>
            </div><!-- row -->
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-8">
                <small class="stat-label">Average Meeting</small>
                <h5><%=@meetings_per_daye%></h5>
              </div>
            </div>
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div>
    </div><!-- col-sm-6 -->
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-danger panel-stat">
        <div class="panel-heading hight_145">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-sign-in"></i>
              </div>
              <div class="col-xs-8">
                <small class="stat-label">Total check ins</small>
                <h1><%=@total_check_in%></h1>
              </div>
            </div><!-- row -->
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div><!-- col-sm-6 -->
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-primary panel-stat">
        <div class="panel-heading hight_145">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
               <i class="fa fa-sign-out"></i>
              </div>
              <div class="col-xs-8">
                <small class="stat-label">Total check outs</small>
                <h1><%=@total_check_out%></h1>
              </div>
            </div><!-- row -->
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div><!-- col-sm-6 -->
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-dark panel-stat">
        <div class="panel-heading">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-clock-o"></i>
              </div>
              <div class="col-xs-8">
                <small class="stat-label">Duration Average</small>
                <h3><%=@average_time_for_meeting%></h3>
              </div>
            </div><!-- row -->
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6">
                <small class="stat-label">Longest</small>
                <h5><%=@longest_meeting_time%></h5>
              </div>
              <div class="col-xs-6">
                <small class="stat-label">Shortest</small>
                <h5><%=@shortest_meeting_time%></h5>
              </div>
            </div>
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div><!-- col-sm-6 -->
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-8 col-md-6">
      <div class="col-sm-7">
       <p class="mb15"><small>Meetings by the day of week</small></p>
        <div id="day_of_week_bar_chart"></div>
      </div>
    </div>
    <div class="col-sm-8 col-md-6">
      <div class="col-sm-7">
       <p class="mb15"><small>Meetings by account status</small></p>
        <div id="account_status_pie_chart"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-12">
      <div class="col-sm-12">
      <p class="mb15"><small>Meetings by the time of day</small></p>
        <div id="time_of_day_bar_chart"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-12">
      <%=render "dashboard/meeting_map", meetings: @meetings %>
    </div><!-- col-sm-9 -->
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped" id="meetingTable">
        <thead>
           <tr>
              <th>Event Title</th>
              <th>Address</th>
              <th>Start at</th>
              <th>End at</th>
              <th>Check Ins</th>
              <th>Check Outs</th>
              <th>Invitees</th>
           </tr>
        </thead>
        <tbody>
        <%if @meetings.present?%>
          <% @meetings.each do |meeting| %>
            <tr>
              <td><%= meeting.title %></td>
              <td><%= meeting.location %></td>
              <td><%= meeting.starts_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y - %l:%M %p") rescue nil%></td>
              <td><%= meeting.ends_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y - %l:%M %p") rescue nil%></td>
              <td><%= meeting.check_ins.count %></td>
              <td><%= meeting.check_outs.count %></td>
              <td><%= meeting.invitees %></td>
            </tr>
          <% end %>
        <%end%>
        </tbody>
      </table>
    </div><!-- col-sm-7 -->
  </div><!-- row -->
  <b>Check Ins/Check Outs</b>
  <div class="mb20"></div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped" id="check_inTable">
        <thead>
           <tr>
              <th>Event Title</th>
              <th>Type</th>
              <th>User</th>
              <th>Date/Time</th>
           </tr>
        </thead>
        <tbody>
        <%if @meetings.present?%>
          <% @meetings.each do |meeting| %>
            <%if meeting.check_ins.present?%>
              <%meeting.check_ins.each do |ci|%>
                <tr>
                  <td><%= meeting.title %></td>
                  <td>Check In</td>
                  <%user = User.find(ci.user_id)%>
                  <td><%=user.first_name%> <%= user.last_name%></td>
                  <td><%=ci.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y - %l:%M %p") rescue nil%></td>
                </tr>
              <%end%>
            <%end%>
            <%if meeting.check_outs.present?%>
              <%meeting.check_outs.each do |co|%>
                <tr>
                  <td><%= meeting.title %></td>
                  <td>Check Out</td>
                   <%user = User.find(co.user_id)%>
                  <td><%=user.first_name%> <%= user.last_name%></td>
                  <td><%=co.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y - %l:%M %p") rescue nil%></td>
                </tr>
              <%end%>
            <%end%>
          <% end %>
        <%end%>
        </tbody>
      </table>
    </div><!-- col-sm-7 -->
  </div><!-- row -->
</div><!-- contentpanel -->
  <%#=render "check_in_check_out"%>
<script>
  var data = '<%=@data%>';
  data = JSON.parse(data.replace(/&quot;/g,'"'))
  var m4 = new Morris.Bar({
    element: 'day_of_week_bar_chart',
    data: data,
    xkey: 'y',
    ykeys: ['a'],
    xLabelMargin: 5,
    labels: ['Meetings'],
    barColors: ['#1CAF9A'],
    lineWidth: '1px',
    fillOpacity: 0.8,
    smooth: false,
    stacked: true,
    hideHover: true
  });

  var time_data = '<%=@time_data%>';
  time_data = JSON.parse(time_data.replace(/&quot;/g,'"'))
  var m5 = new Morris.Bar({
    element: 'time_of_day_bar_chart',
    data: time_data ,
    xkey: 'y',
    ykeys: ['a'],
    xLabelMargin: 1,
    labels: ['Meetings'],
    barColors: ['#428BCA'],
    lineWidth: '1px',
    fillOpacity: 0.8,
    smooth: false,
    stacked: true,
    hideHover: true
  });

  var account_data=  '<%=@account_data%>';
  account_data = JSON.parse(account_data.replace(/&quot;/g,'"'))
  var m6 =  new Morris.Donut({
    element: 'account_status_pie_chart',
    data: account_data,
    colors: ['#1CAF9A', '#428BCA', '#ff860d', '#999999'],
    formatter: function (y, data) { return y + '%'}
  });




  jQuery(document).ready(function() {
    //"use strict";
    jQuery('#meetingTable').dataTable({
      "sPaginationType": "full_numbers",
      "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
      "pageLength": 5
    });

    jQuery('#check_inTable').dataTable({
      "sPaginationType": "full_numbers",
      "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
      "pageLength": 5
    });

  });
</script>
