<% content_for :pageheader do %>
  <h2><i class="fa fa-home"></i> Meeting Report</h2>
<% end %>
<div class="contentpanel">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-success panel-stat">
        <div class="panel-heading hight_145">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><strong>Total Meetings</strong></small>
                <h1><%=@total_meetings%></h1>
              </div>
            </div><!-- row -->
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6 text-center" style="padding-left: 0px">
                <small class="stat-label"><strong>Total Days</strong></small>
                <h5><%=@no_of_day %></h5>
              </div>
              <div class="col-xs-6 text-center" style="padding-right: 0px">
                <small class="stat-label"><strong>Avg / Day</strong></small>
                  <h5><%=@meetings_per_day %></h5>
              </div>
            </div>
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div>
    </div><!-- col-sm-6 -->
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-danger panel-stat">
        <div class="panel-heading hight_145">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-sign-in"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><strong>Total check ins</strong></small>
                <h1><%=@total_check_in%></h1>
              </div>
            </div><!-- row -->
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6 text-center" style="padding-left: 0px">
                 <small class="stat-label"><strong>Total Check Outs</strong></small>
                 <h5><%=@total_check_out%></h5>
              </div>
            </div><!-- row -->
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div><!-- col-sm-6 -->
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-primary panel-stat">
        <div class="panel-heading hight_145">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
               <i class="fa fa-users"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><strong>Created By Me</strong>
                <h1><%=@total_meetings%></h1>
              </div>
            </div>
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6 text-center" style="padding-left: 0px">
                <small class="stat-label"><strong>Invited Too</strong></small>
                <h5><%=0%></h5>
              </div>
            </div>
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div><!-- col-sm-6 -->
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-dark panel-stat">
        <div class="panel-heading" style="
    height: 165px;">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-clock-o"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><strong>Duration Average</strong></small>
                <p class='tiles-font'><%=@average_time_for_meeting%></p>
              </div>
            </div><!-- row -->
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6 text-center" style="padding-left: 0px">
                <small class="stat-label"><strong>Longest</strong></small>
                <h5><%=@longest_meeting_time%></h5>
              </div>
              <div class="col-xs-6 text-center" style="padding-right: 0px">
                <small class="stat-label"><strong>Shortest</strong></small>
                <h5><%=@shortest_meeting_time%></h5>
              </div>
            </div>
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div><!-- col-sm-6 -->
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-report panel-alt">
        <div class="panel-heading">
          <h3 class="panel-title">Meetings by Account Status</h3>
        </div>
        <div class="panel-body">
         <!-- <div id="account_status_pie_chart"></div> -->
         <div id="account_status_pie_chart" class="chart-height"></div>
        </div><!-- panel-body -->
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-report panel-alt">
        <div class="panel-heading">
          <h3 class="panel-title">Meetings by Day of Week</h3>
        </div>
        <div class="panel-body">
         <div id="day_of_week_bar_chart" class="chart-height"></div>
        </div><!-- panel-body -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-report panel-alt">
        <div class="panel-heading">
          <h3 class="panel-title">Meetings by Status</h3>
        </div>
        <div class="panel-body">
         <div id="meeting_by_status_dognut_chart" class="chart-height"></div>
        </div><!-- panel-body -->
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-report panel-alt">
        <div class="panel-heading">
          <h3 class="panel-title">Meetings by Type</h3>
        </div>
        <div class="panel-body">
         <div id="type_of_meeting_bar_chart" class="chart-height"></div>
        </div><!-- panel-body -->
      </div>
    </div>
  </div>
 <!--  <div class="row">
    <div class="col-sm-8 col-md-12">
      <%#=render "dashboard/meeting_map", meetings: @meetings %>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped" id="meetingTable">
        <thead>
           <tr>
              <th>Event Title</th>
              <th>Address</th>
              <th>Start at</th>
              <th>Duration</th>
              <th>Check Ins</th>
              <th>Check Outs</th>
              <th>Status</th>
              <th></th>
              <th></th>
           </tr>
        </thead>
        <tbody>
        <%if @meetings.present?%>
          <% @meetings.each do |meeting| %>
            <tr id="meeting_<%=meeting.id%>">
              <td><%= meeting.title %></td>
              <td><%= meeting.location %></td>
              <td><%= meeting.starts_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%Y/%m/%d %I:%M:%S %p") rescue nil%></td>
              <td><%= meeting_duration(meeting)%></td>
              <td><%= meeting.check_ins.count %></td>
              <td><%= meeting.check_outs.count %></td>
              <td><%= get_styled_meetingstatus(meeting, false) %></td>
              <td>
                <%=render 'meeting_details', meeting: meeting %>
                <%=link_to '#', data: { toggle: "modal", target: ".meeting-detail_#{meeting.id}" }, class: "btn btn-default btn-icon btn-xs tip" do%>
                <i class="fa fa-search-plus" title="View Details"></i>
                <%end%>
              </td>
              <td>
                <%=link_to account_path(meeting.account_id), class: "btn btn-default btn-icon btn-xs tip" do%>
                <i class="fa fa-briefcase" title="Go to account"></i><%end%>
              </td>
            </tr>
          <% end %>
        <%end%>
        </tbody>
      </table>
    </div><!-- col-sm-7 -->
  </div><!-- row -->
</div><!-- contentpanel -->
<script type="text/javascript">
  // $('.check_in_out').click(function(){
  //   $('#preloader').css('opacity', 0.8);
  //   $('#preloader').show();
  //   if ($(this).find('i').hasClass('fa-plus-circle')){
  //       $(this).find('i').removeClass('fa-plus-circle').addClass('fa-minus-circle')
  //     }else{
  //       $(this).find('i').removeClass('fa-minus-circle').addClass('fa-plus-circle')
  //     }
  // });

  function showMap(div_id, lat, lng, loc){
    var map = new GMaps({
      div: div_id,
      lat: lat,
      lng: lng,
      zoom: 1,
    });

    var marker = map.addMarker({
      lat: lat,
      lng: lng,
      title: loc,
    });
  }

  var data = '<%=@data%>';
  data = JSON.parse(data.replace(/&quot;/g,'"'))
  var m4 = new Morris.Bar({
    element: 'day_of_week_bar_chart',
    data: data,
    xkey: 'y',
    ykeys: ['a'],
    xLabelMargin: 5,
    labels: ['Meetings'],
    barColors: ['#1CAF9A'],
    lineWidth: '1px',
    fillOpacity: 0.8,
    smooth: false,
    stacked: true,
    resize: true,
    hideHover: true
  });

  // var time_data = '<%=@time_data%>';
  // time_data = JSON.parse(time_data.replace(/&quot;/g,'"'))
  // var m5 = new Morris.Bar({
  //   element: 'time_of_day_bar_chart',
  //   data: time_data ,
  //   xkey: 'y',
  //   ykeys: ['a'],
  //   xLabelMargin: 1,
  //   labels: ['Meetings'],
  //   barColors: ['#428BCA'],
  //   lineWidth: '1px',
  //   fillOpacity: 0.8,
  //   smooth: false,
  //   stacked: true,
  //   resize: true,
  //   hideHover: true
  // });

  var meeting_comparison_data = "<%=@meeting_comparison_data%>"
  meeting_comparison_data = JSON.parse(meeting_comparison_data.replace(/&quot;/g,'"'))
  var m5 = new Morris.Bar({
    element: 'type_of_meeting_bar_chart',
    data: meeting_comparison_data,
    xkey: 'y',
    ykeys: ['a', 'b'],
    labels: ['General meetings', 'Regular meetings'],
    barColors: ['#428BCA', '#4CAF50'],
    resize: true,
    hideHover: true,
    barSizeRatio: .2
  });

  var account_data=  '<%=@account_data%>';
  var color = '<%=@color%>'
  account_data = JSON.parse(account_data.replace(/&quot;/g,'"'));
  color = JSON.parse(color.replace(/&quot;/g,'"'));
  var m6 =  new Morris.Donut({
    element: 'account_status_pie_chart',
    data: account_data,
    resize: true,
    stacked: true,
    colors: color,
    formatter: function (y, data) { return y + '%'}
  });

  var meeting_by_status=  '<%=@meeting_by_status%>';
  meeting_by_status = JSON.parse(meeting_by_status.replace(/&quot;/g,'"'));
  var m7 =  new Morris.Donut({
    element: 'meeting_by_status_dognut_chart',
    data: meeting_by_status,
    resize: true,
    stacked: true,
    colors: ['#428BCA', '#4CAF50', '#999'],
    formatter: function (y, data) { return y + '%'}
  });

  jQuery(document).ready(function() {
    //"use strict";
    jQuery('#meetingTable').dataTable({
      "sPaginationType": "full_numbers",
      "lengthMenu": [[50, 100, 150, -1], [50, 100, 150, "All"]],
      "pageLength": 50,
      "bFilter": false
    });
  });
  $(window).resize(function () {
    m4.redraw();
    m5.redraw();
    m6.redraw();
    m7.redraw();
  });
</script>

