<% content_for :pageheader do %>
  <h2><i class="fa fa-home"></i> Meeting Report</h2>
<% end %>
<div class="contentpanel">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-success panel-stat">
        <div class="panel-heading hight_145">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-calendar"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><b>Total Meetings</b></small>
                <h1><%=@total_meetings%></h1>
              </div>
            </div><!-- row -->
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-8 text-center" style="padding-left: 0px">
                <small class="stat-label"><b>Average Meeting</b></small>
                <h4><%=@meetings_per_daye%></h4>
              </div>
            </div>
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div>
    </div><!-- col-sm-6 -->
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-danger panel-stat">
        <div class="panel-heading hight_145">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-sign-in size-i"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><b>Total check ins</b></small>
                <h1><%=@total_check_in%></h1>
              </div>
            </div><!-- row -->
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-sign-out size-i"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><b>Total check outs</b></small>
                <h1><%=@total_check_out%></h1>
              </div>
            </div><!-- row -->
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div><!-- col-sm-6 -->
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-primary panel-stat">
        <div class="panel-heading hight_145">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
               <i class="fa fa-user size-i"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><b>Created Meetings</b></small>
                <h1><%=@total_meetings%></h1>
              </div>
            </div>
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-4">
               <i class="fa fa-user size-i"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><b>Invitited Meetings</b></small>
                <h1><%=0%></h1>
              </div>
            </div>
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div><!-- col-sm-6 -->
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-dark panel-stat">
        <div class="panel-heading">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-clock-o"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><b>Duration Average</b></small>
                <p class='tiles-font'><%=@average_time_for_meeting%></p>
              </div>
            </div><!-- row -->
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6 text-center" style="padding-left: 0px">
                <small class="stat-label"><b>Longest</b></small>
                <h5><%=@longest_meeting_time%></h5>
              </div>
              <div class="col-xs-6 text-center" style="padding-right: 0px">
                <small class="stat-label"><b>Shortest</b></small>
                <h5><%=@shortest_meeting_time%></h5>
              </div>
            </div>
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div><!-- col-sm-6 -->
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-8 col-md-6">
      <div class="panel panel-dark panel-alt">
        <div class="panel-heading panel_color">
          <h3 class="panel-title">Meetings by account status</h3>
        </div>
        <div class="panel-body">
         <!-- <div id="account_status_pie_chart"></div> -->
         <div id="account_status_pie_chart" class="chart-height"></div>
        </div><!-- panel-body -->
      </div>
    </div>
    <div class="col-sm-8 col-md-6">
      <div class="panel panel-dark panel-alt">
        <div class="panel-heading panel_color">
          <h3 class="panel-title">Meetings by the day of week</h3>
        </div>
        <div class="panel-body">
         <div id="day_of_week_bar_chart" class="chart-height"></div>
        </div><!-- panel-body -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-12">
      <div class="panel panel-dark panel-alt">
        <div class="panel-heading panel_color">
          <h3 class="panel-title">Meetings by the time of day</h3>
        </div>
        <div class="panel-body">
         <div id="time_of_day_bar_chart" class="chart-height"></div>
        </div><!-- panel-body -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-12">
      <%=render "dashboard/meeting_map", meetings: @meetings %>
    </div><!-- col-sm-9 -->
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped" id="meetingTable">
        <thead>
           <tr>
              <th></th>
              <th>Event Title</th>
              <th>Address</th>
              <th>Start at</th>
              <th>End at</th>
              <th>Check Ins</th>
              <th>Check Outs</th>
              <th>Invitees</th>
           </tr>
        </thead>
        <tbody>
        <%if @meetings.present?%>
          <% @meetings.each do |meeting| %>
            <tr id="meeting_<%=meeting.id%>">
              <td class="check_in_out">
                <%=link_to reports_check_in_check_out_path(meeting.id, ci_id: meeting.conversation_id), remote: :true do%>
                  <i class="fa fa-plus-circle"></i>
                <%end%>
              </td>
              <td><%= meeting.title %></td>
              <td><%= meeting.location %></td>
              <td><%= meeting.starts_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%Y/%m/%d %I:%M:%S %p") rescue nil%></td>
              <td><%= meeting.ends_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%Y/%m/%d %I:%M:%S %p") rescue nil%></td>
              <td><%= meeting.check_ins.count %></td>
              <td><%= meeting.check_outs.count %></td>
              <td><%= meeting.invitees %></td>
            </tr>
          <% end %>
        <%end%>
        </tbody>
      </table>
    </div><!-- col-sm-7 -->
  </div><!-- row -->
</div><!-- contentpanel -->

<script type="text/javascript">
  $('.check_in_out').click(function(){
    $('#preloader').css('opacity', 0.8);
    $('#preloader').show();
    if ($(this).find('i').hasClass('fa-plus-circle')){
        $(this).find('i').removeClass('fa-plus-circle').addClass('fa-minus-circle')
      }else{
        $(this).find('i').removeClass('fa-minus-circle').addClass('fa-plus-circle')
      }
  });

  var data = '<%=@data%>';
  data = JSON.parse(data.replace(/&quot;/g,'"'))
  var m4 = new Morris.Bar({
    element: 'day_of_week_bar_chart',
    data: data,
    xkey: 'y',
    ykeys: ['a'],
    xLabelMargin: 5,
    labels: ['Meetings'],
    barColors: ['#1CAF9A'],
    lineWidth: '1px',
    fillOpacity: 0.8,
    smooth: false,
    stacked: true,
    resize: true,
    hideHover: true
  });

  var time_data = '<%=@time_data%>';
  time_data = JSON.parse(time_data.replace(/&quot;/g,'"'))
  var m5 = new Morris.Bar({
    element: 'time_of_day_bar_chart',
    data: time_data ,
    xkey: 'y',
    ykeys: ['a'],
    xLabelMargin: 1,
    labels: ['Meetings'],
    barColors: ['#428BCA'],
    lineWidth: '1px',
    fillOpacity: 0.8,
    smooth: false,
    stacked: true,
    resize: true,
    hideHover: true
  });

  var account_data=  '<%=@account_data%>';
  var color = '<%=@color%>'
  account_data = JSON.parse(account_data.replace(/&quot;/g,'"'));
  color = JSON.parse(color.replace(/&quot;/g,'"'));
  var m6 =  new Morris.Donut({
    element: 'account_status_pie_chart',
    data: account_data,
    resize: true,
    stacked: true,
    colors: color,
    formatter: function (y, data) { return y + '%'}
  });

  jQuery(document).ready(function() {
    //"use strict";
    jQuery('#meetingTable').dataTable({
      "sPaginationType": "full_numbers",
      "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
      "pageLength": 5
    });

    jQuery('#check_inTable').dataTable({
      "sPaginationType": "full_numbers",
      "lengthMenu": [[5, 10, 15, -1], [5, 10, 15, "All"]],
      "pageLength": 5
    });
  });

  $(window).resize(function () {
    m4.redraw();
    m5.redraw();
    m6.redraw();
  });
</script>

