<% content_for :pageheader do %>
  <h2><i class="fa fa-bar-chart-o"></i> Sales Report <strong><span><%= @date_heading %></span></strong></h2>
<% end %>
<div class="contentpanel">

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-success panel-stat">
        <div class="panel-heading">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-dollar"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><strong>Grand Total Of Sales (000's)</strong></small>
                <h1><%= %>$10,000</h1>
              </div>
            </div><!-- row -->
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6 text-center" style="padding-left: 0px">
                <small class="stat-label"><strong>AVG Per Week</strong></small>
                <h5><%= %>$10</h5>
              </div>
              <div class="col-xs-6 text-center" style="padding-right: 0px">
                <small class="stat-label"><strong>AVG Per Day</strong></small>
                  <h5><%= %>$1</h5>
              </div>
            </div>
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div>
    </div><!-- col-sm-6 -->
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-primary panel-stat">
        <div class="panel-heading">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-sign-in"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><strong>Total Visits</strong></small>
                <h1><%= %>1000</h1>
              </div>
            </div><!-- row -->
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6 text-center" style="padding-left: 0px">
                <small class="stat-label"><strong>AVG Per Week</strong></small>
                <h5><%= %>100</h5>
              </div>
              <div class="col-xs-6 text-center" style="padding-right: 0px">
                <small class="stat-label"><strong>AVG Per Day</strong></small>
                <h5><%= %>1.25</h5>
              </div>
            </div><!-- row -->
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div><!-- col-sm-6 -->
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-dark panel-stat">
        <div class="panel-heading">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
               <i class="fa fa-arrow-circle-up"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><strong>Top Trending <br />Products</strong></small>
                <small class="stat-label" style="text-align: left;">
                <h5>
                1. Product 1<br />
                2. Product 2<br />
                3. Product 3<br />
                </h5>
                <h6>
                4. Product 4<br />
                5. Product 5<br />
                6. Product 6<br />
                </h6></small>
              </div>
            </div>
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6 text-center" style="padding-left: 0px">
                <small class="stat-label"><strong></strong></small>
                <h5><%=%></h5>
              </div>
            </div>
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div><!-- col-sm-6 -->
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-danger panel-stat">
        <div class="panel-heading" style="height: 145px;">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-arrow-circle-down"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><strong>Bottom Trending <br />Products</strong></small>
                <small class="stat-label" style="text-align: left;">
                <h5>
                1. Product 1<br />
                2. Product 2<br />
                3. Product 3<br />
                </h5>
                <h6>
                4. Product 4<br />
                5. Product 5<br />
                6. Product 6<br />
                </h6></small>
              </div>
            </div><!-- row -->
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6 text-center" style="padding-left: 0px">
                <small class="stat-label"><strong></strong></small>
                <h5><%=%></h5>
              </div>
              <div class="col-xs-6 text-center" style="padding-right: 0px">
                <small class="stat-label"><strong></strong></small>
                <h5><%=%></h5>
              </div>
            </div>
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div><!-- col-sm-6 -->
  </div><!-- row -->

  <div class="row">
    <%=  panel_quick_stat({}) %>
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-primary panel-stat">
        <div class="panel-heading">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-sign-in"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><strong>Total Visits</strong></small>
                <h1><%= %>1000</h1>
              </div>
            </div><!-- row -->
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6 text-center" style="padding-left: 0px">
                <small class="stat-label"><strong>AVG Per Week</strong></small>
                <h5><%= %>100</h5>
              </div>
              <div class="col-xs-6 text-center" style="padding-right: 0px">
                <small class="stat-label"><strong>AVG Per Day</strong></small>
                <h5><%= %>1.25</h5>
              </div>
            </div><!-- row -->
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div><!-- col-sm-6 -->
    <%= panel_ranking_stat({}) %>
    <div class="col-sm-6 col-md-3">
      <div class="panel panel-warning panel-stat">
        <div class="panel-heading" style="height: 145px;">
          <div class="stat">
            <div class="row">
              <div class="col-xs-4">
                <i class="fa fa-arrow-down"></i>
              </div>
              <div class="col-xs-8 text-center">
                <small class="stat-label"><strong>Top Underacheiving Products</strong></small>
                <small class="stat-label" style="text-align: left;">
                <h6>
                1. Product 1<br />
                2. Product 2<br />
                3. Product 3<br />
                4. Product 4<br />
                5. Product 5<br />
                </h6></small>
              </div>
            </div><!-- row -->
            <div class="mb15"></div>
            <div class="row">
              <div class="col-xs-6 text-center" style="padding-left: 0px">
                <small class="stat-label"><strong></strong></small>
                <h5><%=%></h5>
              </div>
              <div class="col-xs-6 text-center" style="padding-right: 0px">
                <small class="stat-label"><strong></strong></small>
                <h5><%=%></h5>
              </div>
            </div>
          </div><!-- stat -->
        </div><!-- panel-heading -->
      </div><!-- panel -->
    </div><!-- col-sm-6 -->
  </div><!-- row -->

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-dark panel-alt">
          <div class="panel-heading">
              <!-- <div class="panel-btns">
                  <a href="" class="panel-close">&times;</a>
                  <a href="" class="minimize">&minus;</a>
              </div><!-- panel-btns -->
              <h5 class="panel-title">Top Trending Products</h5>
          </div><!-- panel-heading -->
          <div class="panel-body panel-table">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                      <tr class="table-head-alt">
                          <th>Product</th>
                          <th>ID</th>
                          <th>Percentage</th>
                          <th>&nbsp;</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td><a href="">Product 1</a></td>
                          <td>98</td>
                          <td>
                              <div class="progress">
                                  <div style="width: 35%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class="progress-bar progress-bar-primary">
                                    <span class="sr-only">35%</span>
                                  </div>
                              </div>
                          </td>
                          <td>35%</td>
                      </tr>
                      <tr>
                          <td><a href="">Product 2</a></td>
                          <td>45</td>
                          <td>
                              <div class="progress">
                                  <div style="width: 24%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="24" role="progressbar" class="progress-bar progress-bar-primary">
                                    <span class="sr-only">24%</span>
                                  </div>
                              </div>
                          </td>
                          <td>24%</td>
                      </tr>
                      <tr>
                          <td><a href="">Product 3</a></td>
                          <td>20</td>
                          <td>
                              <div class="progress">
                                  <div style="width: 12%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="12" role="progressbar" class="progress-bar progress-bar-primary">
                                    <span class="sr-only">12%</span>
                                  </div>
                              </div>
                          </td>
                          <td>12%</td>
                      </tr>
                      <tr>
                          <td><a href="">Product 4</a></td>
                          <td>35</td>
                          <td>
                              <div class="progress">
                                  <div style="width: 10%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar" class="progress-bar progress-bar-primary">
                                    <span class="sr-only">10%</span>
                                  </div>
                              </div>
                          </td>
                          <td>10%</td>
                      </tr>
                      <tr>
                          <td><a href="">Product 5</a></td>
                          <td>66</td>
                          <td>
                              <div class="progress">
                                  <div style="width: 8%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="8" role="progressbar" class="progress-bar progress-bar-primary">
                                    <span class="sr-only">8%</span>
                                  </div>
                              </div>
                          </td>
                          <td>8%</td>
                      </tr>
                    </tbody>
                </table>
              </div><!-- table-responsive -->
          </div><!-- panel-body -->
      </div><!-- panel -->
    </div><!-- col-md-6 -->

    <div class="col-md-6">
      <div class="panel panel-danger panel-alt">
          <div class="panel-heading">
              <!-- <div class="panel-btns">
                  <a href="" class="panel-close">&times;</a>
                  <a href="" class="minimize">&minus;</a>
              </div><!-- panel-btns -->
              <h5 class="panel-title">Bottom Trending Products</h5>
          </div><!-- panel-heading -->
            <div class="panel-body panel-table">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                      <tr class="table-head-alt">
                          <th>Product</th>
                          <th>ID</th>
                          <th>Percentage</th>
                          <th>&nbsp;</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td><a href="">Product 1</a></td>
                          <td>77</td>
                          <td>
                              <div class="progress">
                                  <div style="width: 3%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="3" role="progressbar" class="progress-bar progress-bar-primary">
                                    <span class="sr-only">1%</span>
                                  </div>
                              </div>
                          </td>
                          <td>1%</td>
                      </tr>
                      <tr>
                          <td><a href="">Product 2</a></td>
                          <td>31</td>
                          <td>
                              <div class="progress">
                                  <div style="width: 3%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="3" role="progressbar" class="progress-bar progress-bar-primary">
                                    <span class="sr-only">2%</span>
                                  </div>
                              </div>
                          </td>
                          <td>2%</td>
                      </tr>
                      <tr>
                          <td><a href="">Product 3</a></td>
                          <td>54</td>
                          <td>
                              <div class="progress">
                                  <div style="width: 4%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="4" role="progressbar" class="progress-bar progress-bar-primary">
                                    <span class="sr-only">4%</span>
                                  </div>
                              </div>
                          </td>
                          <td>4%</td>
                      </tr>
                      <tr>
                          <td><a href="">Product 4</a></td>
                          <td>101</td>
                          <td>
                              <div class="progress">
                                  <div style="width: 6%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="6" role="progressbar" class="progress-bar progress-bar-primary">
                                    <span class="sr-only">6%</span>
                                  </div>
                              </div>
                          </td>
                          <td>6%</td>
                      </tr>
                      <tr>
                          <td><a href="">Product 5</a></td>
                          <td>88</td>
                          <td>
                              <div class="progress">
                                  <div style="width: 7%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="7" role="progressbar" class="progress-bar progress-bar-primary">
                                    <span class="sr-only">7%</span>
                                  </div>
                              </div>
                          </td>
                          <td>7%</td>
                      </tr>
                    </tbody>
                </table>
                </div><!-- table-responsive -->
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div><!-- col-md-6 -->
  </div><!-- row -->

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-report panel-alt">
        <div class="panel-heading">
          <h3 class="panel-title">Sales by Tier Chart</h3>
        </div>
        <div class="panel-body">
         <div id="account_status_pie_chart" class="chart-height"></div>
        </div><!-- panel-body -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-report panel-alt">
        <div class="panel-heading">
          <h3 class="panel-title">Sales by Tier Data Table</h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
          <table class="table table-hover mb30">
            <thead>
              <tr>
                <th>Tier<br /></th>
                <th>YTD Sales<br />%-Tot</th>
                <th>YTD $ Sales<br />(000's)</th>
                <th>L-YTD Sales<br />%-Tot</th>
                <th>L-YTD $ Sales<br />(000's)</th>
                <th>YTD $ Sales<br />%-Comp</th>
                <th>YTD Projected<br />(000's)</th>
                <th>YTD Projected<br />%-Comp</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>A</td>
                <td>60.0%</td>
                <td>$20,000</td>
                <td>50.0%</td>
                <td>$16,000</td>
                <td>+ 12.0%</td>
                <td>$20,000</td>
                <td>+ 0.0%</td>
              </tr>
              <tr>
                <td>B</td>
                <td>30.0%</td>
                <td>$12,000</td>
                <td>35.0%</td>
                <td>$16,000</td>
                <td>- 25.0%</td>
                <td>$18,000</td>
                <td>- 33.0%</td>
              </tr>
              <tr>
                <td>C</td>
                <td>10.0%</td>
                <td>$10,000</td>
                <td>15.0%</td>
                <td>$8,000</td>
                <td>+ 20.0%</td>
                <td>$9,000</td>
                <td>+ 10.0%</td>
              </tr>
              <tr style="font-weight: 700;">
                <td>Grand Total</td>
                <td>100.0%</td>
                <td>$42,000</td>
                <td>100.0%</td>
                <td>$40,000</td>
                <td>+ 5.0%</td>
                <td>$41,000</td>
                <td>+ 2.0%</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div><!-- panel-body -->
      </div>
    </div>
  </div>

  <div class="row">
    <%= chart_morris_donut({id_name: 'sales_by_tier_donut_chart', title: 'Sales by Tier Donut'})%>
    <%= chart_morris_donut({id_name: 'average_time_on_site_per_tier_donut_chart', title: 'Average Time being on Site per Tier (Mins)'})%>
  </div>

  <div class="row">
    <%= chart_flot_pie({id_name: 'piechart', title: 'Sales by Tier [Pie]'})%>
    <%= chart_morris_bar({id_name: 'average_time_on_site_per_tier_chart', title: 'Average Time being on Site per Tier (Mins)'})%>
  </div>

  <div class="row">
    <%= chart_morris_bar({id_name: 'barchart2', title: 'Double Bar Charts'})%>
    <%= chart_morris_bar({id_name: 'stacked_barchart', title: 'Stacked Bar Chart'})%>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-report panel-alt">
        <div class="panel-heading">
          <h3 class="panel-title">Sales by Category by Merchandiser</h3>
        </div>
        <div class="panel-body">
         <div id="day_of_week_bar_chart" class="chart-height"></div>
        </div><!-- panel-body -->
      </div>
    </div>
  </div>

<script type="text/javascript">

  jQuery(document).ready(function() {
    //"use strict";

    <%= chart_flot_pie_js({id_name: 'piechart'}) %>
    function labelFormatter(label, series) {
    return "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
    }

    <%= chart_morris_donut_js({id_name: 'sales_by_tier_donut_chart'}) %>

    var average_time_on_site_per_tier_donut_chart_data =  '[{&quot;label&quot;:&quot;Tier A&quot;,&quot;value&quot;:30.00},{&quot;label&quot;:&quot;Tier B&quot;,&quot;value&quot;:18.00},{&quot;label&quot;:&quot;Tier C&quot;,&quot;value&quot;:25.00}]';
    average_time_on_site_per_tier_donut_chart_data = JSON.parse(average_time_on_site_per_tier_donut_chart_data.replace(/&quot;/g,'"'));
    var average_time_on_site_per_tier_donut_chart =  new Morris.Donut({
      element: 'average_time_on_site_per_tier_donut_chart',
      data: average_time_on_site_per_tier_donut_chart_data,
      resize: true,
      stacked: true,
      colors: ['#428BCA', '#4CAF50', '#999'],
      formatter: function (y, data) { return y + ' mins'}
    });


    <%= chart_morris_bar_js({
      id_name: 'average_time_on_site_per_tier_chart', 
      data: [
        { x: 'Tier A', y: 30.00 },
        { x: 'Tier B', y: 18.00 },
        { x: 'Tier C', y: 25.00 }],
      xkey: 'x',
      ykeys: ['y'],
      labels: ['Avg Time (Mins)'],
      barColors: ['#1CAF9A'],
      }) %>

   var barchart2 = new Morris.Bar({
        // ID of the element in which to draw the chart.
        element: 'barchart2',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [
            { y: '2006', a: 30, b: 20 },
            { y: '2007', a: 75,  b: 65 },
            { y: '2008', a: 50,  b: 40 },
            { y: '2009', a: 75,  b: 65 },
            { y: '2010', a: 50,  b: 40 },
            { y: '2011', a: 75,  b: 65 },
            { y: '2012', a: 100, b: 90 }
        ],
        xkey: 'y',
        ykeys: ['a', 'b'],
        labels: ['Series A', 'Series B'],
        lineWidth: '1px',
        fillOpacity: 0.8,
        smooth: false,
        hideHover: true
    });
    
   var stacked_barchart = new Morris.Bar({
        // ID of the element in which to draw the chart.
        element: 'stacked_barchart',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [
            { y: '2006', a: 30, b: 20 },
            { y: '2007', a: 75,  b: 65 },
            { y: '2008', a: 50,  b: 40 },
            { y: '2009', a: 75,  b: 65 },
            { y: '2010', a: 50,  b: 40 },
            { y: '2011', a: 75,  b: 65 },
            { y: '2012', a: 100, b: 90 }
        ],
        xkey: 'y',
        ykeys: ['a', 'b'],
        labels: ['Series A', 'Series B'],
        barColors: ['#1CAF9A', '#428BCA'],
        lineWidth: '1px',
        fillOpacity: 0.8,
        smooth: false,
        stacked: true,
        hideHover: true
   });


    $(window).resize(function () {
      sales_by_tier_donut_chart.redraw();
      average_time_on_site_per_tier_donut_chart.redraw();
      average_time_on_site_per_tier_chart.redraw();
      barchart2.redraw();
      stacked_barchart.redraw();
    });

  });

</script>

