    <div class="headerbar">

      <a class="menutoggle"><i class="fa fa-bars"></i></a>


      <div class="header-right">
        <ul class="headermenu">
          <li>
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                <i class="glyphicon glyphicon-bell"></i>
                <span class="badge"><%=@unread_items.count%></span>
              </button>
              <div class="dropdown-menu dropdown-menu-head pull-right">
                <h5 class="title">You Have <%=@unread_items.count%> New Notifications</h5>
                <ul class="dropdown-list gen-list">
                  <%@unread_items.first(5).each do |k,v| %>
                    <li class="new">
                      <a href="/accounts/<%=v.account_id%>">
                      <span class="thumb">
                        <%if v.type.eql? 'reminder'%>
                          <img src="/assets/vertical-timeline/img/cd-icon-bell.svg" alt="Reminder">
                        <%elsif v.type.eql? 'meeting'%>
                          <img src="/assets/vertical-timeline/img/cd-icon-calendar.svg" alt="Meeting">
                        <%end%>
                      </span>
                      <span class="desc">
                        <span class="name"><%=v.title%><span class="badge badge-success">new</span></span>
                        <span class="msg"><%=Chronic.parse(v.scheduled_at).in_time_zone(current_user.time_zone).strftime("%b %d")%></span>
                      </span>
                      </a>
                    </li>
                  <%end%>
                  <li class="new"><a href="<%=notifications_path%>">Read All Notifications</a></li>
                </ul>
              </div>
            </div>
          </li>
	          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <% if current_user.avatar_url.eql? "/avatars/web/missing.png" || !(current_user.avatar_url.present?)%>
                  <img src="/assets/bootstrap/images/user.png" alt="" />
                <% else %>
                  <img alt="" src="<%= current_user.avatar_url %>">
                <% end %>
                <%= current_user.first_name %> <%= current_user.last_name %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                <li><a href="<%= profile_path %>"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                <!-- <li><a href="<%= preference_path %>"><i class="glyphicon glyphicon-wrench"></i> Preference</a></li> -->
                <li><a href="<%=login_change_password_path(current_user.id)%>"><i class="glyphicon glyphicon-lock"></i>  Change Password</a></li>
                <li><a href="<%= user_logout_path %>"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div><!-- header-right -->

    </div><!-- headerbar -->
