    <div class="headerbar">

      <a class="menutoggle"><i class="fa fa-bars"></i></a>


      <div class="header-right">
        <ul class="headermenu">
          <li>
            <div class="btn-group">
              <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                <i class="glyphicon glyphicon-bell"></i>
                <!-- <span class="badge">1</span> -->
              </button>
              <div class="dropdown-menu dropdown-menu-head pull-right">
                <h5 class="title">You Have 0 New Notifications</h5>
                <ul class="dropdown-list gen-list">
                  <!-- 
                  <li class="new">
                    <a href="">
                    <span class="thumb"><img src="/assets/bootstrap/images/photos/user1.png" alt="" /></span>
                    <span class="desc">
                      <span class="name">Draniem Daamul <span class="badge badge-success">new</span></span>
                      <span class="msg">Lorem ipsum dolor sit amet...</span>
                    </span>
                    </a>
                  </li>
                  -->
                  <li class="new"><a href="<%=notifications_path%>">Read All Notifications</a></li>
                </ul>
              </div>
            </div>
          </li>
	          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <% if current_user.avatar_url.eql? "/avatars/web/missing.png" || !(current_user.avatar_url.present?)%>
                  <img src="/assets/bootstrap/images/user.png" alt="" />
                <% else %>
                  <img alt="" src="<%= current_user.avatar_url %>">
                <% end %>
                <%= current_user.first_name %> <%= current_user.last_name %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                <li><a href="<%= profile_path %>"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                <!-- <li><a href="<%= preference_path %>"><i class="glyphicon glyphicon-wrench"></i> Preference</a></li> -->
                <li><a href="<%=login_change_password_path(current_user.id)%>"><i class="glyphicon glyphicon-lock"></i>  Change Password</a></li>
                <li><a href="<%= user_logout_path %>"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div><!-- header-right -->

    </div><!-- headerbar -->
