<div class="modal fade change-timezone-modal-form" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
        <h4 class="modal-title">Update Your TimeZone</h4>
      </div>
      <div class="modal-body">
        <%= form_tag(users_update_time_zone_path(current_user.id), method: :patch) do %>
          <div class="panel panel-default">
              <div class="panel-body">
                <div class="row row-pad-5">
                  <p><b>Hi &nbsp;<%=current_user.first_name%>,</b><p>
                  <p>We noticed that your current timezone is <strong><%=cookies["browser.timezone"]%></strong> which is different from the timezone <strong><%=current_user.time_zone%></strong> saved in your profile.</p>
                  <p>Would you like to update your profile? <strong>Note: </strong>All events and calender entries will show up in the updated timezone.</p>
                </div>
              </div><!-- panel-body -->
              <div class="panel-footer">
                <button type="submit" class="btn btn-primary">Yes, Update Now</button>
                <%=link_to "No, Not Now", users_not_update_time_zone_path(current_user.id), class: "btn btn-default"%></button>
              </div>
          </div><!-- panel -->
        <% end %>
      </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->
