<div class="leftpanel">
  <div class="logopanel">
      <h1><img src="/assets/images/logo_focus_white.png" height="25" style="margin-left: 5px;"/></h1>
  </div><!-- logopanel -->
  <div class="leftpanelinner">
    <!-- This is only visible to small devices -->
    <div class="visible-xs hidden-sm hidden-md hidden-lg">
      <div class="media userlogged">
        <img alt="" src="/assets/bootstrap/images/photos/loggeduser.png" class="media-object">
        <div class="media-body">
          <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
            <span><%= "Title/Role" %></span>
        </div>
      </div>
      <h5 class="sidebartitle actitle">Account</h5>
      <ul class="nav nav-pills nav-stacked nav-bracket mb30">
        <li><a href="<%= profile_path %>"><i class="fa fa-user"></i> <span>My Profile</span></a></li>
        <li><a href="<%= user_logout_path %>"><i class="fa fa-sign-out"></i> <span>Log Out</span></a></li>
      </ul>
    </div>
    <br />
    <h5 class="sidebartitle">Main</h5>
    <ul class="nav nav-pills nav-stacked nav-bracket">
      <li><a href="<%= dashboard_path %>"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>

      <% if has_permissions({ "Account"=>{"actions"=>["read","manage"]}, "all"=>{"actions"=>"manage"} }) %>
        <li><a href="<%= schedule_path %>"><i class="fa fa-calendar"></i> <span>Schedule</span></a></li>
      <% end %>

      <% if has_permissions({ "Account"=>{"actions"=>["read","manage"]}, "all"=>{"actions"=>"manage"} }) %>
        <li><a href="<%= accounts_path %>"><i class="fa fa-briefcase"></i><span>Accounts</span></a></li>
      <% end %>

      <% if has_permissions({ "Medium"=>{"actions"=>["read","manage"]}, "all"=>{"actions"=>"manage"} }) %>
        <li><a href="<%= media_path %>"><i class="fa fa-picture-o"></i><span>Media</span></a></li>
      <% end %>

      <% if has_permissions({ "Account"=>{"actions"=>["read","manage"]}, "all"=>{"actions"=>"manage"} }) %>
        <li><a href="<%= notifications_path %>"><span class="pull-right badge badge-success">1</span><i class="fa fa-envelope-o"></i><span>Notifications</span></a></li>
      <% end %>
    </ul>

    <% if has_permission("all", "manage") \
          || has_permission("Company",        ["read","manage"]) \
          || has_permission("CompanyEntity",  ["read","manage"])
    %>
      <h5 class="sidebartitle">Admin</h5>
      <ul class="nav nav-pills nav-stacked nav-bracket">

        <% if has_permissions({ "Company"=>{"actions"=>["read","manage"]}, "CompanyEntity"=>{"actions"=>["read","manage"]}, "all"=>{"actions"=>"manage"} }) %>
          <li><a href="<%= company_path %>"><i class="fa fa-building"></i> <span>Company</span></a></li>
        <% end %>

        <% if has_permissions({ "all"=>{"actions"=>"manage"} }) %>
          <li><a href="<%= users_path %>"><i class="fa fa-users"></i> <span>Users</span></a></li>
        <% end %>

        <% if has_permissions({ "all"=>{"actions"=>"manage"} }) %>
          <li><a href="<%= settings_path %>"><i class="fa fa-cogs"></i><span>Settings</span></a></li>
        <% end %>

      </ul>
    <% end %>

    <br />
  </div><!-- leftpanelinner -->
</div><!-- leftpanel -->
