<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Front-end Software Version: <%= APP_CONFIG['software_version'] %> -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="" type="image/png">

  <title><%= APP_CONFIG['software_title'] %></title>

  <link rel="stylesheet" href="/assets/bootstrap/css/style.default.css" />
  <link rel="stylesheet" href="/assets/bootstrap/css/fullcalendar.css" />
  <link rel="stylesheet" href="/assets/bootstrap/css/colorpicker.css" />
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-timepicker.min.css" /><!-- timepicker style -->
  <link rel="stylesheet" href="/assets/bootstrap/css/jquery.tagsinput.css" /><!-- tag input style -->
  <link rel="stylesheet" href="/assets/bootstrap/css/cropper.min.css" /> <!-- photo cropper style -->
  <link rel="stylesheet" href="/assets/vertical-timeline/css/style.css" /> <!-- Resource style -->
  <link rel="stylesheet" href="/assets/bootstrap/css/jquery.datatables.css" /> <!-- datatable style -->
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-editable.css" />
  <link rel="stylesheet" href="/assets/bootstrap/css/jquery.gritter.css" />
  <link rel="stylesheet" href="/assets/bootstrap/css/morris.css" /> <!-- morris charts -->
  <link rel="stylesheet" href="/assets/styles/wyshtml5/wyshtml5.css" />
  <link rel="stylesheet" href="/assets/styles/wyshtml5/wyshtml5-color.css" />

  <!--<script src="/assets/vertical-timeline/js/modernizr.js"></script />--> <!-- Modernizr -->


  <link rel="stylesheet" href="/assets/styles/style.focus.css" />
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgqcu1Jqqdc0a4hVnfRvw0hyJM832rqXA&libraries=places"></script>
  <%= javascript_include_tag 'application' %>
  <%= render "shared/js" %>


  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/assets/bootstrap/js/html5shiv.js"></script>
  <script src="/assets/bootstrap/js/respond.min.js"></script>
  <![endif]-->

  <%= yield :custom_css %>
  <%= yield :head_assets %>
  <style>
    #ui-datepicker-div{ z-index:9999 !important; }
    .datepicker {
      padding: 10px;
    }
  	.colorpicker, .colorpicker * {
  		z-index: 9999 !important;
  	}
  </style>
</head>

<body data-no-turbolink>
  <!-- Preloader -->
  <div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
  </div>

  <section>
    <%= render "layouts/nav" %>
    <div class="mainpanel">
      <%= render "layouts/bar" %>

      <div class="pageheader">
        <%= yield :pageheader %>
      </div>
      <div class="contentpanel">
        <%= render 'layouts/flash_messages'%>
        <%= yield %>
        <%#=render "layouts/change_time_zone"%>
      </div>
    </div>
  </section>
  <%= yield :outside_section %>
  <%#= render "shared/js" %>
  <%= yield :custom_js %>
  <script type="text/javascript">
    // $(document).ready(function(){
    //   var t_zone = "<%#=cookies['browser.timezone']%>"
    //   var not_now = "<%#=session['time_zone_not_now']%>";
    //   var c_zone = "<%#=current_user.time_zone%>"
    //   if (t_zone != c_zone && not_now != 'true' && t_zone != ''){
    //      $(".change-timezone-modal-form").modal('show');
    //   }else{
    //      $(".change-timezone-modal-form").modal('hide');
    //   }
    // });

    $("#account_name").focusout(function(){
      var name = $(this).val()
      var new_name = titleize(name)
      $(this).val(new_name)
    });

    function titleize(sentence) {
      if(!sentence.split) return sentence;
      var _titleizeWord = function(string) {
              return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
          },
          result = [];
      sentence.split(" ").forEach(function(w) {
          result.push(_titleizeWord(w));
      });
      return result.join(" ");
    }


    var time_hour = '<%=get_automatic_logout_time%>'
    if(time_hour != ''){
      var timeout;
      time_hour = parseInt(time_hour)

      document.onmousemove = resetTimer;
      document.onclick = resetTimer;
      function resetTimer() {
        clearTimeout(timeout);
        timeout = setTimeout(function() {
          logout();
          }, time_hour * 60 * 60 * 1000);
      }

      function logout(){
        $.ajax({
          type: "GET",
          url: '/login/destroy'
        });
      }
    }

  </script>
</body>
</html>