<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Front-end Software Version: <%= APP_CONFIG['software_version'] %> -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="" type="image/png">

  <title><%= APP_CONFIG['software_title'] %></title>
  
  <link rel="stylesheet" href="/assets/bootstrap/css/style.default.css" />
  <link rel="stylesheet" href="/assets/bootstrap/css/fullcalendar.css" /> 
  <link rel="stylesheet" href="/assets/bootstrap/css/colorpicker.css" />
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-timepicker.min.css" /><!-- timepicker style -->
  <link rel="stylesheet" href="/assets/bootstrap/css/jquery.tagsinput.css" /><!-- tag input style -->  
  <link rel="stylesheet" href="/assets/vertical-timeline/css/style.css"> <!-- Resource style -->
  <script src="/assets/vertical-timeline/js/modernizr.js"></script /> <!-- Modernizr -->

  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/assets/bootstrap/js/html5shiv.js"></script>
  <script src="/assets/bootstrap/js/respond.min.js"></script>
  <![endif]-->
  
<style>
    #ui-datepicker-div{ z-index:9999 !important; }
	.colorpicker, .colorpicker * {
		z-index: 9999 !important;
	}    
</style>
</head>

<body data-no-turbolink>
<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>
	<%= render "layouts/nav" %>
	<div class="mainpanel">
		<%= render "layouts/bar" %>  
		
		<div class="pageheader">
      <%= render 'pageheader' %> 
		</div>
		
		<div class="contentpanel">
			<%= yield %>

</body>
</html>

