      	<div class="panel-body">
          <%= simple_form_for @account, url: url do |f| %>
          <% if !(id.nil) %>
          <%= f.input :id, :as => :hidden, :input_html => { :value => id } %>
          <% end %>
          <%= f.input :name, label: "Account Name", required: true %>

      		<div class="form-group">
      			<label class="col-sm-3 control-label">Street<span class="asterisk">*</span></label>
      			<div class="col-sm-6">
      				<input type="text" name="account-address[street_address]" id="account-street_address" class="form-control" required>
      			</div>
      		</div>
      		<div class="form-group">
      			<label class="col-sm-3 control-label">City<span class="asterisk">*</span></label>
      			<div class="col-sm-6">
      				<input type="text" name="account-address[city]" id="account-city" class="form-control" required>
      			</div>
      		</div>
      		<div class="form-group">
      			<label class="col-sm-3 control-label">Postcode/Zipcode<span class="asterisk">*</span></label>
      			<div class="col-sm-6">
      				<input type="text" name="account-address[postcode]" id="account-postcode" class="form-control" required>
      			</div>
      		</div>
      		<div class="form-group">
      			<label class="col-sm-3 control-label">Province/State<span class="asterisk">*</span></label>
      			<div class="col-sm-6">
      				<input type="text" name="account-address[region]" id="account-region" class="form-control" required>
      			</div>
      		</div>
	        <%= f.input :country, as: :country, priority: [ "Canada", "United States", "United Kingdom" ] %>      	
      		<div class="form-group">
      			<label class="col-sm-3 control-label">Contact Name</label>
      			<div class="col-sm-6">
      				<input type="text" name="account-contact_name" id="account-contact_name" class="form-control">
      			</div>
      		</div>
      		<div class="form-group">
      			<label class="col-sm-3 control-label">Contact</label>
      			<div class="col-sm-6">
      				<div class="row" id="account-contact-row">
      					<div class="col-sm-3">
      						<select name="account-contact[1][contact-type]" class="form-control input-sm">
      			              <option value="phone">Phone</option>
      			              <option value="mobile">Mobile</option>
      			              <option value="fax">Fax</option>
      			              <option value="email">Email</option>
      			              <option value="website">Website</option>
      			              <option value="twitter">Twitter</option>
      			              <option value="facebook">Facebook</option>
      			              <option value="youtube">Youtube</option>
      			              <option value="instagram">Instagram</option>
      			            </select>
      					</div>
      					<div class="col-sm-8">
      						<input type="text" name="account-contact[1][contact-details]" placeholder="Details" class="form-control" required>
      					</div>
      					<div class="col-sm-1">
      						<div class="btn-group">
      							<a class="add-detail btn btn-success"><i class="fa fa-plus"></i></a>
      						</div>
      					</div>
      				</div>
      			</div>
      		</div>		
      		<div class="form-group">
      			<label class="col-sm-3 control-label">Account Status<span class="asterisk">*</span></label>
      			<div class="col-sm-2">
      				<select name="status_id" class="form-control input-sm">
      					<% @account_statuses.each do |status| %>
      						<option value="<%= status['id'] %>"><%= status['name'] %></option>
      					<% end %>
      				</select>
      			</div>
      		</div>
      		<div class="form-group">
      			<label class="col-sm-3 control-label">Assign To<span class="asterisk">*</span></label>
      			<div class="col-sm-6">
                  	<select class="select2" data-placeholder="Select user to assign this account too">
      	            	<option value="6">Michael Jordan</option>
      	            	<option value="6">Charles Barkley</option>
                  	</select>
      			</div>
      		</div>
      		<div class="form-group">
      			<label class="col-sm-3 control-label">Shared With</label>
      			<div class="col-sm-6">
                      <select class="select2" name="account-shared" id="account-shared" multiple data-placeholder="Type name of user you wish to share with">
      					<option value=""></option>
      					<option value="1">Gurpreet Jajj</option>
      					<option value="2">David Young</option>
      					<option value="3">Diego Brogna</option>
      					<option value="4">Amar Jajj</option>
      					<option value="5">Lakhveer Jajj</option>
      					<option value="6">Dani Syed</option>
                      </select>
      			</div>
      		</div>			
      		<div class="form-group">
      			<label class="col-sm-3 control-label">About</label>
      			<div class="col-sm-6">
      				<textarea class="form-control" name="account-about" id="account-about" rows="5"></textarea>
      			</div>
      		</div>
      		<div class="form-group">
      			<label class="col-sm-3 control-label">Quick Facts</label>
      			<div class="col-sm-6">
      				<textarea class="form-control" name="account-facts" id="account-facts" rows="5"></textarea>
      			</div>
      		</div>
      		<div class="form-group">
      			<label class="col-sm-3 control-label">Picture</label>
      			<div class="col-sm-6">
                      <label title="Upload image file" for="inputImage" class="btn btn-primary">
                          <input type="file" accept="image/*" name="file" id="inputImage" class="hide">Upload new image
                      </label>
      				<div class="account-avatar">
      					<img src="/assets/images/default_account_avatar.png" alt="Picture">
      				</div>
      			</div>
      		</div>			
      	</div><!-- panel-body -->
      	<div class="panel-footer">
      		<div class="row">
      			<div class="col-sm-6 col-sm-offset-3">
      				<button type="submit" class="btn btn-primary" name="save" id="save">Save</button>&nbsp;
      				<button class="btn btn-default" name="cancel" id="cancel">Cancel</button>
      			</div>
      		</div>
      	</div><!-- panel-footer -->
      <% end %>
