<div class="people-list">
  <div class="row">
    <% if @accounts.size == 0 %>
      <div class="col-md-12">
        <div class="text-center">
          <% if params[:search].present? || params[:rule].present?%>
            <h3>Sorry, Your search criteria did not return any results</h3>
            <h3>Please try again with a different criteria</h3>
            <%= link_to "View all accounts", accounts_path(view_all: true)  %>
          <% else %>
            <h3>Welcome! Get started by adding your first account</h3>
          <% end %>
        </div>
  	  </div>
    <% else %>
	    <% @accounts.each do |account| %>
        <div class="col-md-6">
          <div class="people-item">
            <div class="media">
              <div class="media-body">
                <%if ((account.assigned_to.try(:id) == current_user.id) || (account.user_account_sharings.present? && (account.user_account_sharings.map(&:user).compact.map(&:id).include?current_user.id)) || admin_enti_acct_access(account.assigned_to.try(:id)) || @is_admin == true) %>
                  <h4 class="person-name"><%= link_to account.name, account_path(account.id) %>
                <%else%>
                  <h4 class="person-name-alt"><%=account.name%>
                <%end%>
                </h4>
                <%= get_styled_status(account) %>
                <div class="text-muted">
                    <% if !account.addresses.empty? %>
                  	<address>
                      <% if !account.contact_name.nil? %>
                        <small><i class="fa fa-briefcase"></i><%=  account.contact_name.blank? ? "n/a" : account.contact_name %><% if !account.contact_title.nil? && !account.contact_title.blank? %> - <%= account.contact_title %><% end %></small>
                      <% else %>
                        <small>&nbsp;</small>
                      <% end %>
                      <br />
                  	  <% if !account.addresses.empty? %>
                        <% account.addresses.each_with_index do |address, i| %>
                          <small><i class="fa fa-map-marker" style="margin-right:10px;"></i><%= address.suite_number.present? ? address.suite_number + "-" : "" %><%= address.street_address %>, <%= address.city %><br /><%= address.region %>, <%= address.country %>, <%= address.postcode %></small>
                          <br />
                          <% break end %>
                      <% end %>
                      <br /><br />
                      <a href="<%= account_path(account.id) %>" class="pull-left">
                        <img alt="" src="<%= (account.avatar_url.eql? "/avatars/thumb/missing.png") ? '/assets/images/default_account_avatar.png' : account.avatar_url %>" class="thumbnail media-object">
                      </a>
                      <% counter = 0 %>
                      <% account.contacts.each do |contact, index| %>
                        <% if contact.type.eql? "phone"  or  contact.type.eql? "mobile"  or  contact.type.eql? "fax" %>
                          <abbr title="<%= contact.name.capitalize %>" style="color:#666;"><i class="fa fa-<%= contact.icon_name %>"></i></abbr>&nbsp;<a href="tel:<%= contact.value.delete(" ").delete("-") %>"><%=(contact.value.include?',') ? contact.value.gsub(',','x') : contact.value%></a><br />
                          <% counter += 1 %>
                        <% end %>
                        <% if (counter > 2) %>
                          <% break %>
                        <% end %>
                      <% end %>
                      <% while counter < 3  do %>
                        <br />
                        <% counter += 1 %>
                      <% end %>
                    </address>
                    <% end %>
                </div>
                <ul class="social-list">
                  <% if !account.addresses.empty? %>
                    <li><a href="https://maps.google.com?daddr=<%= account.addresses[0].suite_number.present? ? account.addresses[0].suite_number + "-" : "" %><%= account.addresses[0].street_address %>+<%= account.addresses[0].city %>+<%= account.addresses[0].region %>+<%= account.addresses[0].country %>+<%= account.addresses[0].postcode %>" target="_blank" class="tooltips" data-toggle="tooltip" data-placement="top" title="Map"><i class="fa fa-map-marker"></i></a></li>
                  <% end %>
                  <% account.contacts.each do |contact| %>
                  	<% if contact.type.eql? "web" or contact.type.eql? "facebook" or contact.type.eql? "twitter" or contact.type.eql? "youtube"%>
                  	  <li><a href="http://<%= contact.value %>" target="_blank"	 class="tooltips" data-toggle="tooltip" data-placement="top" title="<%= contact.type.capitalize %>"><i class="fa fa-<%= contact.icon_name %>"></i></a></li>
                  	<% elsif contact.type.eql? "email" %>
                  	  <li><a href="mailto:<%= contact.value %>" class="tooltips" data-toggle="tooltip" data-placement="top" title="Email: <%= contact.value %>"><i class="fa fa-<%= contact.icon_name %>"></i></a></li>
                  	<% end %>
                  <% end %>

                  <li class="pull-right"><span class="badge" style="color:#333; background-color: #fcfcfc; border-color: #fcfcfc;"><%= (account.assigned_to.nil? ? "Unkonwn" : "#{account.assigned_to.first_name} #{account.assigned_to.last_name}") %></span><i class="fa fa-users"></i></li>
                </ul>
              </div>
            </div>
          </div>
        </div><!-- col-md-6 -->
      <% end %>
    <% end %>
  </div><!-- row -->

  <div class="row">
    <div class="col-md-6">
    </div><!-- col-md-6 -->
    <div class="col-md-12 text-center">
      <ul class="pagination pagination-split" id="pagination" >
      </ul>
    </div><!-- col-md-6 -->
  </div><!-- row -->
</div><!-- people-list -->
<script type="text/javascript">
  var totalPages = "<%=@total_entries.to_f/@show_accounts_per_page%>"
  totalPages = Math.ceil(totalPages)
  $('#pagination').twbsPagination({
    totalPages: totalPages,
    visiblePages: 5,
    href: "/accounts?page={{number}}&adv_search=true"
  });
</script>

