<div class="col-md-6">
  <div class="people-item">
    <div class="media">
      <div class="media-body">
        <h4 class="person-name"><a href="<%= accounts_conversation_path(account.id) %>"><%= account.name %></a></h4>
        <% if !@account_statuses[account.status].nil? %>
          <span class="badge pull-right" style="background-color: #<%= @account_statuses[account.status]['color']%>; border-color: #<%= @account_statuses[account.status]['color']%>;"><%= @account_statuses[account.status]['name']%></span> 
        <% else %>
          <span class="badge pull-right" style="background-color: #ffffff; border-color: #ffffff;">&nbsp;</span>
        <% end %>
        <div class="text-muted">                      
          <address>	                  		                  	
            <% account.addresses.each do |address| %>
              <i class="fa fa-map-marker"></i>
              <%= address.street_address %>, <%= address.city %><br />
              <%= address.region %>, <%= address.country %>, <%= address.postcode %><br />
              <br />
            <% end %>

            <a href="<%= accounts_conversation_path(account.id) %>" class="pull-left"><img alt="" src="<%= (account.avatar.nil?) ? '/assets/images/default_account_avatar.png' : account.avatar %>" class="thumbnail media-object"></a> 

            <% account.contacts.each do |contact| %>
              <abbr title="<%= contact.type %>"><%= contact.type.initial %>:</abbr>&nbsp;<%= contact.value %><br />
            <% end %>

          </address>
        </div> 
        <ul class="social-list">
          <% account.addresses.each do |address| %>
            <li><a href="https://maps.google.com?daddr=<%= address.street_address %>+<%= address.city %>+<%= address.region %>+<%= address.country %>+<%= address.postcode %>" target="_blank" class="tooltips" data-toggle="tooltip" data-placement="top" title="Map"><i class="fa fa-map-marker"></i></a></li>
          <% end %>

          <% account.contacts.each do |contact| %>
            <% if contact.type == "Web" %>
              <li><a href="<%= contact.value %>" class="tooltips" data-toggle="tooltip" data-placement="top" title="Web"><i class="fa fa-globe"></i></a></li>
            <% end %>
          <% end %>

          <li><a href="<%= accounts_conversation_path(account.id) %>" class="tooltips" data-toggle="tooltip" data-placement="top" title="Conversation"><i class="fa  fa-comments"></i></a></li>

          <li class="pull-right"><span class="badge" style="color:#333; background-color: #fcfcfc; border-color: #fcfcfc;">Michael Jordan</span><i class="fa fa-user"></i></li>
          <li class="pull-right"><span class="badge" style="color:#333; background-color: #fcfcfc; border-color: #fcfcfc;">Scotty Pippen</span><i class="fa fa-share-alt"></i></li>
          <li class="pull-right"><span class="badge" style="color:#333; background-color: #fcfcfc; border-color: #fcfcfc;">Steve Kerr</span><i class="fa fa-share-alt"></i></li>
          <li class="pull-right"><span class="badge" style="color:#333; background-color: #fcfcfc; border-color: #fcfcfc;">Hugh Grant</span><i class="fa fa-share-alt"></i></li>

        </ul>
      </div>
    </div>
  </div>
</div><!-- col-md-6 -->          

