<div class="alert alert-warning">
	<strong>Warning! Possible Duplicate Account Detected!</strong><br/>
	The account you are currently entering could already exist in the system.<br/>
	Please see below for details:
	<br/>
	Account Name: <%=values[:account_name]%><br/>
	Street: <%=values[:street_number]%><br/>
	Suite Number: <%=values[:suite_number]%><br/>
	City: <%=values[:city]%><br/>
	Region: <%=values[:state]%><br/>
	Country: <%=values[:country]%><br/>
	Postal Code: <%=values[:postal_code]%><br/>
</div>