<div class="panel-body panel-body-nopadding">

  <!-- BASIC WIZARD -->
  <div id="validationWizard" class="basic-wizard">

    <ul class="nav nav-pills nav-justified">
      <li><a href="#vtab1" data-toggle="tab"><span>Step 1:</span> Basic Info</a></li>
      <li><a href="#vtab2" data-toggle="tab"><span>Step 2:</span> Address</a></li>
      <li><a href="#vtab3" data-toggle="tab"><span>Step 3:</span> Contact Details</a></li>
      <li><a href="#vtab4" data-toggle="tab"><span>Step 4:</span> Extra info</a></li>
    </ul>

    <!--<form class="form-horizontal" id="firstForm">-->
    <%= simple_form_for @account, html: { id: "account-edit-form", class: "form-horizontal" } do |f| %>
    <div class="tab-content">

      <div class="tab-pane" id="vtab1">
          <%= f.input :name, wrapper: :wizard_horizontal_form, label: "Account Name", required: true %>

          <div class="form-group">
            <label class="col-sm-offset-2 col-sm-2 control-label">Account Status<span class="asterisk">*</span></label>
            <div class="col-sm-4">
              <%= f.select( :status_id, options_for_select(AccountStatus.all(uid: RequestStore.store[:tenant]).collect{ |a| ["#{a.name}", a.id] }, @account.status.nil? ? "" : @account.status.id), {}, { :class => 'select2AccountStatus' }) %>
            </div>
          </div>
           <%= f.input :contact_name, wrapper: :wizard_horizontal_form, label: "Contact Name", required: true %>

           <%= f.input :contact_title, wrapper: :wizard_horizontal_form, label: "Contact Title"%>

          <div class="form-group">
            <label class="col-sm-offset-2 col-sm-2 control-label">Assign To<span class="asterisk">*</span></label>
            <div class="col-sm-4">
                <%= f.select( :assign_to, options_for_select(@users.collect{ |u| ["#{u.first_name} #{u.last_name}", u.id] }, selected: (@account.assigned_to.nil? ? "" : @account.assigned_to.id) ), {}, { :class => 'select2AssignTo' })%>
            </div>
          </div>
      </div>

      <div class="tab-pane" id="vtab2">
        <%= f.fields_for :addresses_attributes do |add| %>
          <input type="hidden" name="account[addresses_attributes][][id]" value="<%= @addresses.first.id %>" >
          <%= add.input :street_address, wrapper: :wizard_horizontal_form, required: true, label: "Address", :input_html => { :name => "account[addresses_attributes][][street_address]",id: "street_number", :value => @addresses.first.street_address } %>
          <%= add.input :suite_number, wrapper: :wizard_horizontal_form, required: false, label: "Address 2", :input_html => { :name => "account[addresses_attributes][][suite_number]", id: "subpremise",:value => @addresses.first.suite_number} %>
          <%= add.input :city, wrapper: :wizard_horizontal_form, required: true, label: "City", :input_html => { :name => "account[addresses_attributes][][city]",id: "locality", :value => @addresses.first.city } %>
          <%= add.input :postcode, wrapper: :wizard_horizontal_form, required: false, label: "Post/Zipcode", :input_html => { :name => "account[addresses_attributes][][postcode]",id: "postal_code", :value => @addresses.first.postcode } %>
          <%= add.input :region, wrapper: :wizard_horizontal_form, required: false, label: "Province/State", :input_html => { :name => "account[addresses_attributes][][region]",id: "administrative_area_level_1", :value => @addresses.first.region } %>
          <div class="form-group">
            <label class="col-sm-offset-2 col-sm-2 control-label">Country<span class="asterisk">*</span></label>
            <div class="col-sm-4 country_select">
            <%= add.input_field :country, { required: true, priority: [ "Canada", "United States", "United Kingdom" ],  class: "select2Country", name: "account[addresses_attributes][][country]",id: "country", selected: @addresses.first.country } %>
            </div>
          </div>
        <% end %>
        <%=hidden_field_tag 'account[addresses_attributes][][latitude]', @addresses.first.try(:latitude), id: 'account_lat'%>
        <%=hidden_field_tag 'account[addresses_attributes][][longitude]', @addresses.first.try(:longitude), id: 'account_lng' %>
      </div>

      <div class="tab-pane" id="vtab3">
        <!-- <div class="contact-form-wrap">
        <%# @contacts.each do |current_contact| %>
          <div class="contact-element" data-id="<%#= current_contact.id %>"  style="padding-bottom: 10px;"> -->
            <%#= f.simple_fields_for :contacts_attributes do |c| %>

              <!-- New design -->
              <div class="row">
                <div class="col-md-8" style="margin-left: 140px;">
                  <div class="table-responsive">
                    <table class="table mb30">
                      <% @contacts.group_by{|x| x.name!=@contacts}[true].group_by{|x| x.name }.each_with_index do |cont, index| %>
                        <thead class="t_head_<%=index%>">
                          <tr>
                            <th colspan="2"><h4 class="person-name"><%= cont[0] %>
                            <a href="#" class="tooltips" data-toggle="modal" data-target="#edit-contact-modal_<%= index %>" data-placement="top" title="" data-original-title="<%= cont[0] %>" id="edit-contact"><i class="fa fa-edit" style="padding-left: 10px;"></i></a></h4></th>
                            <%= render 'edit_contact_details_modal', f: f, index: index, contacts: @contacts.find_all { |x| x.name == cont[0] }  %>
                            <th></th>
                            <th><h4></h4></th>
                          </tr>
                        </thead>
                        <% cont.flatten[1..cont[1].length].each do |current_contact|%>
                          <tbody class="tbody_details_<%=index%>">
                            <%if current_contact.type == 'phone'%>
                              <tr>
                                <td></td>
                                <td style="font-size: 16px;"><i class="fa fa-phone"></i></td>
                                <td><%= current_contact.value %></td>
                                <td class="table-action">
                                  <a href="#" data-toggle="modal" data-target="#edit-contact-modal" ><i class="fa fa-pencil"></i></a>
                                  <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                              </tr>
                            <%end%>
                            <%if current_contact.type == 'mobile'%>
                              <tr>
                                <td></td>
                                <td style="font-size: 16px;"><i class="fa fa-mobile"></i></td>
                                <td><%= current_contact.value %></td>
                                <td class="table-action">
                                  <a href="#" data-toggle="modal" data-target="#edit-contact-modal"><i class="fa fa-pencil"></i></a>
                                  <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                              </tr>
                            <%end%>
                            <%if current_contact.type == 'fax'%>
                              <tr>
                                <td></td>
                                <td style="font-size: 16px;"><i class="fa fa-fax"></i></td>
                                <td><%= current_contact.value %></td>
                                <td class="table-action">
                                  <a href="#" data-toggle="modal" data-target="#edit-contact-modal"><i class="fa fa-pencil"></i></a>
                                  <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                              </tr>
                            <%end%>
                            <%if current_contact.type == 'website'%>
                              <tr>
                                <td></td>
                                <td style="font-size: 16px;"><i class="fa fa-globe"></i></td>
                                <td><%= current_contact.value %></td>
                                <td class="table-action">
                                  <a href="#" data-toggle="modal" data-target="#edit-contact-modal"><i class="fa fa-pencil"></i></a>
                                  <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                              </tr>
                            <%end%>
                            <%if current_contact.type == 'email'%>
                              <tr>
                                <td></td>
                                <td style="font-size: 16px;"><i class="fa fa-envelope-o"></i></td>
                                <td><%= current_contact.value %></td>
                                <td class="table-action">
                                  <a href="#" data-toggle="modal" data-target="#edit-contact-modal"><i class="fa fa-pencil"></i></a>
                                  <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                              </tr>
                            <%end%>
                            <%if current_contact.type == 'facebook'%>
                              <tr>
                                <td></td>
                                <td style="font-size: 16px;"><i class="fa fa-facebook"></i></td>
                                <td><%= current_contact.value %></td>
                                <td class="table-action">
                                  <a href="#" data-toggle="modal" data-target="#edit-contact-modal"><i class="fa fa-pencil"></i></a>
                                  <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                              </tr>
                            <%end%>
                            <%if current_contact.type == 'twitter'%>
                              <tr>
                                <td></td>
                                <td style="font-size: 16px;"><i class="fa fa-twitter"></i></td>
                                <td><%= current_contact.value %></td>
                                <td class="table-action">
                                  <a href="#" data-toggle="modal" data-target="#edit-contact-modal"><i class="fa fa-pencil"></i></a>
                                  <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                              </tr>
                            <%end%>
                            <%if current_contact.type == 'youtube'%>
                              <tr>
                                <td></td>
                                <td style="font-size: 16px;"><i class="fa fa-youtube"></i></td>
                                <td><%= current_contact.value %></td>
                                <td class="table-action">
                                  <a href="#" data-toggle="modal" data-target="#edit-contact-modal"><i class="fa fa-pencil"></i></a>
                                  <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a>
                                </td>
                              </tr>
                            <%end%>
                          </tbody>
                        <%end%>
                      <%end%>
                    </table>
                  </div>
                </div>
              </div>

            <%# end %>
          <!-- </div> -->
        <%# end %>
        <!-- </div> -->
        <!-- <button class="add-contact-button btn btn-success btn-xs">Add Contact</button> -->
        <!-- add new contact modal -->
        <%#= render 'contact_details_modal', f: f %>
        <button class="btn btn-success btn-xs" data-toggle="modal" data-target=".contact-details-modal-form" type="button">Add Contact</button>
      </div>

      <div class="tab-pane" id="vtab4">
        <div class="form-group">
          <label class="col-sm-offset-2 col-sm-2 control-label">Picture</label>
          <div class="col-sm-4">
            <label title="Upload image file" for="inputImage" class="btn btn-white">
              <%= f.file_field :avatar, { name: "avatar" }  %>
            </label>
          </div>
        </div>

        <%= f.input :about,  as: :text, wrapper: :wizard_horizontal_form, :label => 'About', :input_html => { :rows => 5, :value => @account.about }  %>

        <%= f.input :quick_facts,  as: :text, wrapper: :wizard_horizontal_form, :label => 'Quick Facts', :input_html => { :rows => 5, :value => @account.quick_facts }  %>
        <%#if (@role == 'Admin' || @role == @enable_expected_sales.tr("_", " ").titleize || @enable_expected_sales == 'all')%>
        <%if @enable_expected_sales == 'enable'%>
          <div class="form-group">
            <label class="col-sm-offset-2 col-sm-2 control-label">Expected Sales Value</label>
            <div class="col-sm-4">
               <%=text_field_tag "account[expected_sales]",@account.expected_sales,class: "form-control amount_val"%>
            </div>
          </div>
        <%end%>
        <%if @account_properties.present?%>
          <%@account_properties.each do |key,value|%>
            <div class="form-group">
              <label class="col-sm-offset-2 col-sm-2 control-label"><%=value["label"]%>
                <%if value['required'].to_s == 'true'%>
                  <span class="asterisk">*</span>
                <%end%>
              </label>
              <div class="col-sm-4">
                <%if value["format"] == 'date'%>
                  <%if mobile?%>
                    <input type="date" name="account[properties]['<%=key%>']" required="<%=value['required']%>" value="<%=(@account.properties.present? && @account.properties.try(:attributes).present?) ? @account.properties.attributes[key] : nil%>"/>
                  <%else%>
                    <%=text_field_tag "account[properties][#{key}]",(@account.properties.present? && @account.properties.try(:attributes).present?) ? @account.properties.attributes[key] : nil, placeholder: "yyyy/mm/dd", class: "form-control datepicker", required: value['required'].to_s == 'false' ? false : true%>
                  <%end%>
                <%elsif value["format"] == 'numeric'%>
                  <%=number_field_tag "account[properties][#{key}]", (@account.properties.present? && @account.properties.try(:attributes).present?) ? @account.properties.attributes[key] : nil, class: 'form-control', required: value['required'].to_s == 'false' ? false : true %>
                <%elsif value["format"] == 'enum'%>
                  <ul class="color_list">
                    <%value['values'].each do |k,v|%>
                      <li>
                        <span><%=v%></span>
                        <%=check_box_tag "account[properties][#{key}]", v, (@account.properties.present? && @account.properties.try(:attributes).present? && @account.properties.attributes[key] == k) ? true : false, class: 'form-control'%>
                      </li>
                      <!-- required: value['required'].to_s == 'false' ? false : true -->
                    <%end%>
                  </ul>
                <%else%>
                  <%=text_field_tag "account[properties][#{key}]", (@account.properties.present? && @account.properties.try(:attributes).present?) ? @account.properties.attributes[key] : nil, class: "form-control", required: value['required'].to_s == 'false' ? false : true%>
                <%end%>
              </div>
            </div>
          <%end%>
        <%end%>
        <input type="hidden" name="save">
      </div>
    </div><!-- tab-content -->
    <% end %>
    <!--</form>-->

    <ul class="pager wizard">
      <li class="previous"><a href="javascript:void(0)">Previous</a></li>
      <li class="next"><a href="javascript:void(0)" class="account_next">Next</a></li>
      <li class="next finish" style="display:none;"><a href="javascript:;">Finish</a></li>
    </ul>

  </div><!-- #validationWizard -->

</div><!-- panel-body -->

<script>
  $('#preloader').css('opacity', 0.8);
  $('.del_btn').click(function(){
    $.confirm({
    text: "You are attempting to delete this account. Please click Confirm Delete to continue.",
    confirmButton: "Confirm Delete",
    cancelButton: "Cancel",
    confirm: function() {
      $('#preloader').show();
      $.ajax({
        type: "DELETE",
        url: '/accounts/<%=@account.id%>',
        complete: function() {
          window.location = "/accounts"
        }
      });
    }
  });

  })
  $(".select2AccountStatus").select2({
    width: '100%',
    minimumResultsForSearch: Infinity
  });


  $(".account_next").click(function(){
    if ($("#vtab2").hasClass('active')){
      phone_validate();
    }
  })

  $( document ).ready(function() {
    phone_validate();
  });

  function phone_validate() {
    $(".phone_validate").intlTelInput({
      formatOnInit: true,
      separateDialCode: true,
      //utilsScript: "assets/libphonenumber/utils.js",
      customPlaceholder: function(selectedCountryPlaceholder, selectedCountryData) {
        return null
      }
    })

    $(".phone_validate").each(function() {
      selected_country = $("#country").val()
      if($(this).closest('div').find('.selected-dial-code').text()!="" && $(this).val() != ""){
        val = $(this).intlTelInput("getNumber");
        $(this).intlTelInput("setNumber", val)
      }else if ($(this).val() == ""){
        $(this).intlTelInput("setCountry", selected_country)
      }
    })
  }

  $(".select2AssignTo").select2({
    width: '100%'
  });

  $(".select2Country").select2({
    width: '100%'
  });

  $(".select2ContactTypes").select2({
    width: '100%'
  });

  var max_fields      = 20; //maximum input boxes allowed
  var wrapper         = $(".contact-form-wrap"); //Fields wrapper
  var add_button      = $(".add-contact-button"); //Add button ID

  <%
    @contact_types = ""
    Contact::CONTACT_TYPES.each { |x| @contact_types << '<option value="'+x+'">'+x+'</option>' }
  %>

  var x = 1; //initlal text box count
  $(add_button).click(function(e){ //on add input button click
    e.preventDefault();
    if(x < max_fields){ //max input box allowed
        x++; //text box increment

        t = (new Date()).getTime();
        str_html = '\
        <div class="contact-element" id="contact-element-'+x+'" style="padding-bottom: 10px;">\
          <div class="form-group">\
            <input type="hidden" name="account[contacts_attributes]['+t+'][name]" class="contacts_attributes_name dis_input">\
            <label class="col-sm-1 control-label">Type<span class="asterisk">*</span></label>\
            <div class="col-sm-2">\
              <select class="input-sm background_color type_select dis_input" id="account_contacts_attributes_type_'+x+'" name="account[contacts_attributes]['+t+'][type]"><%= raw(@contact_types) %></select>\
            </div>\
            <label class="col-sm-1 control-label">Value<span class="asterisk">*</span></label>\
            <div class="col-sm-6 phone_div">\
              <input label="Value" name="account[contacts_attributes]['+t+'][value]" class="form-control phone_type_validate phone_validate dis_input" required id="account_contacts_attributes_value_'+x+'" type="tel">\
            </div>\
            <div class="col-sm-6 without_phone_div hidden">\
              <input label="Value" name="account[contacts_attributes]['+t+'][value]" class="form-control type_validate dis_input" disabled id="account_contacts_attributes_value_'+x+'" type="text"  placeholder="contact value">\
            </div>\
            <div class="col-sm-1"><button class="remove-contact-button btn btn-danger btn-xs">-</button></div>\
          </div>\
        </div>';
        $(wrapper).append(str_html);
        // $(this).closest(".contact-form-wrap").append(str_html);
      $('.work_emp_name').each(function () {
        $(this).rules("add", {
          required: true
        });
      });
    }
    phone_validate();
  });

  $(wrapper).on("click",".remove-contact-button", function(e){ //user click on remove text
      e.preventDefault();
      $(this).closest('div.contact-element').hide(); x--;
      elem_id = $(this).closest('div.contact-element').data('id');
      if(typeof(elem_id) != "undefined"){
        $(this).closest('div.contact-element').append("<input type='hidden' name='account[contacts_attributes]["+elem_id+"][_destroy]' value='true' >");
      }else{
        $(this).closest('div.contact-element').remove(); x--;
      }
  })

  // --------- Modal js --------------

  $('.btnEdit').click(function() {
    var name  = $('#edit_name').val();

    console.log("aa");


    // table head for name

    // $(this).closest('.edit-contact-modal').find('.dis_name:not(:disabled)').each(function() {
    //   var index = $(this).closest('.edit-contact-modal').data('index');
    //   var input_name = $(this).val();

    //   console.log("table head for name");
    //   console.log("index");
    //   console.log(index);

    //   $('.t_head_'+index).replaceWith("<thead class='t_head'><tr><th>"+input_name+"</th></tr></thead>");

    //   // $('.tbody_details_'+index).remove()

    //   // if ($(this).attr('type')=="tel" || $(this).attr('type')=="email" || $(this).attr('type')=="text"){
    //   // }

    // });


    // table body for type and value

    $(this).closest('.edit-contact-modal').find('.dis_input:not(:disabled)').each(function() {
      var index = $(this).closest('.edit-contact-modal').data('index');
      var input_val = $(this).val();

      console.log("sss");
      console.log("index");
      console.log(index);

      $('.tbody_details_'+index).remove()

      if ($(this).attr('type')=="tel" || $(this).attr('type')=="email" || $(this).attr('type')=="text"){
        $('.t_head_'+index).after("<tbody class='tbody_details'><tr><td></td><td style='font-size: 16px;''><i class='fa fa-phone'></i></td><td>"+input_val+"</td></tr></tbody>");
      }

    });



    $('.contacts_attributes_name').val(name);
    $('.edit-contact-modal').modal('hide');
    console.log("edit-contact-modal");
  });

</script>
