<%= form_tag accounts_path, method: :get, class: "form-horizontal" do |f| %>
  <div class="col-md-10">
    <div class="input-group" id="adv-search">
      <div class="input-group-btn">
        <div class="btn-group" role="group">
          <div class="dropdown dropdown-lg">
          <button type="button" class="btn btn-default dropdown-toggle button-as-link" data-toggle="dropdown" aria-expanded="false"><a>Advanced</a></button>
            <div class="dropdown-menu advanced-search" role="menu">
              <br />
              <div class="mb20">
                <label><h4>Advanced Search</h4></label>
                <hr class="search-hr"></hr>
                <p>Build your advanced search query by adding filters below</p>
              </div>
              <div class="mb20">
                  <div class="col-md-2 col-xs-12">Match</div>
                  <div class="col-md-3 col-xs-12 search-select">
                    <%=select_tag('match', options_for_select([['All', 'all'], ['Any', 'any']], selected: ''), {:class => 'form-control input-sm', required: false})%>
                  </div>
                  <div class="col-md-6 col-xs-12">of the following rules</div>
              </div>
              <div class="search-form-wrap">
                <div class="mb20 search-element margin_btm_0">
                    <% t = Time.now.to_i %>
                    <div class="col-md-12 col-xs-12" style="margin-bottom: 0">Rules</div>
                    <div class="col-md-3 col-xs-12 opt_val_div">
                      <%=select_tag("rule[#{t}][option]", options_for_select([['Name', 'name'], ['City', 'city'], ['Status', 'status']], selected: ''), {:class => 'form-control input-sm opt_val', required: false})%>
                    </div>
                    <div class="col-md-4 col-xs-12">
                      <%=select_tag("rule[#{t}][is_contain]", options_for_select([['Contains', 'contains'],['IS', 'is']], selected: ''), {:class => 'form-control input-sm', required: false})%>
                    </div>
                    <div class="col-md-4 col-xs-12 text_box">
                      <%=text_field_tag "rule[#{t}][text]",nil,class: "form-control input-sm search-text", required: false%>
                    </div>
                    <div class="col-md-4 col-xs-12 hidden status_opt">
                      <%=select_tag("rule[#{t}][status]", options_for_select(AccountStatus.all.map{|s|[s.name, s.name]}, selected: ''), {:class => 'form-control input-sm', required: false})%>
                    </div>
                </div>
                <%=hidden_field_tag "advanced_search", true%>
              </div>
              <div class="col-md-12 col-xs-12">
                <div class="col-md-6 col-xs-12 add-margin">
                  <button class="add-search-button btn btn-success btn-xs">+</button>
                </div>
                <div class="col-md-6 col-xs-12 pull-right">
                  <button type="submit" class="btn btn-primary btn-sm"></span>Apply</button>
                  &nbsp;&nbsp;&nbsp; <button type="reset" class="btn btn-primary btn-sm clear">Clear</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%end%>

<script type="text/javascript">
  $(".advanced-search").click(function(e){
    e.stopPropagation()
  })

  $(document).on('change', ".opt_val", function(){
    console.log($(this).val())
    if($(this).val() == 'status'){
      $(this).parent().parent().find("div.text_box").addClass('hidden')
      $(this).parent().parent().find("div.status_opt").removeClass('hidden')
    }else{
      $(this).parent().parent().find("div.text_box").removeClass('hidden')
      $(this).parent().parent().find("div.status_opt").addClass('hidden')
    }
  });

  $(".clear").click(function(){
    $(".text_box").removeClass('hidden')
    $(".status_opt").addClass('hidden')
  })


  var max_search = 2;
  var search_field_wrapper = $(".search-form-wrap");
  var add_search_button = $(".add-search-button");

  <%
    @status = ""
    AccountStatus.all.each { |x| @status << "<option value=#{x.name}>#{x.name}</option>" }
  %>

  var x = 1;
  $(add_search_button).click(function(e){
      e.preventDefault();
      if(x <= max_search){
        x++;
        t = (new Date()).getTime();
        str_html = '\
        <div class="search-element">\
          <div class="col-md-3 col-xs-12 opt_val_div">\
            <select class="form-control input-sm opt_val" name="rule['+t+'][option]" id="search_'+t+'_option"><option value="name">Name</option><option value="city">City</option><option value="status">Status</option></select>\
          </div>\
          <div class="col-md-4 col-xs-12">\
            <select class="form-control input-sm" name="rule['+t+'][is_contain]"><option value="contains">Contains</option><option value="is">IS</option></select>\
          </div>\
          <div class="col-md-4 col-xs-12 text_box">\
            <input name="rule['+t+'][text]" class="form-control input-sm search-text" type="text">\
          </div>\
          <div class="col-md-4 col-xs-12 hidden status_opt">\
           <select class="form-control input-sm" name="rule['+t+'][status]"><%= raw(@status) %></select>\
          </div>\
          <div class="col-md-1 col-xs-12" style="margin-top: 4px"><button class="remove-search-button btn btn-danger btn-xs" >-</button></div>\
        </div>';
        $(search_field_wrapper).append(str_html);
      }
  });

  $(search_field_wrapper).on("click",".remove-search-button", function(e){
    e.preventDefault();
    $(this).closest('div.search-element').remove(); x--;
  })
</script>
