<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" id="form1">
      <div id="container">
        <header>
        </header>
        <section id="accordion">
          <%if @account.assets.present?%>
              <%@account.assets.each do |asset|%>
                <div>
                  <input type="checkbox" id="check-<%=asset.id%>" />
                  <label for="check-<%=asset.id%>"><i class="fa fa-plus-square" style="margin-right:10px;"></i><%=asset.name%></label>
                  <article>
                    <%if @assets.present?%>
                      <%@assets.each do |key,value|%>
                        <div class="row editable-list-item">
                          <div class="col-sm-3"><%= value["label"] %></div>
                          <% if value["format"] == 'date' %>
                            <div class="col-sm-9"><a href="#" id="" data-type="combodate" class="editable editable-click <%= value["required"].to_s == "true" ? "comboDateRequired" : "comboDate"%>">
                              <%=( asset.properties.try(:attributes).present?) ?  asset.properties.attributes[key] : nil%></a>
                            </div>
                          <% elsif value["format"] == 'enum' %>
                            <script type="text/javascript">
                              a = []
                              <%value['values'].each do |k,v|%>
                                a.push({value: '<%=k%>', text: '<%=v%>'})
                              <% end %>
                              jQuery(document).ready(function(){
                                <%if value["required"].to_s == "true"%>
                                  jQuery(".checkList_<%=value['label']%>").editable({
                                   source: a,
                                   validate: function(value) {
                                            if($.trim(value) == '') return 'This field is required';
                                            }
                                  });
                                <%else%>
                                   jQuery(".checkList_<%=value['label']%>").editable({
                                   source: a
                                  });
                                <%end%>
                              });
                            </script>
                            <div class="col-sm-9"><a href="#" id="" data-type="checklist" data-title="Select <%=value['label']%>" class="editable editable-click editable-empty checkList_<%=value["label"]%>"></a></div>
                          <% else %>
                            <div class="col-sm-9"><a href="#" data-type="text" id="" class="editable editable-click <%= value["required"].to_s == "true" ? "required_text" : "basicInline"%>"><%=( asset.properties.try(:attributes).present?) ?  asset.properties.attributes[key] : nil%></a></div>
                          <% end %>
                        </div>
                      <%end%>
                    <%end%>
                  </article>
                </div>
              <%end%>
          <%end%>
        </section>
      </div>
    </form>
  </div><!-- col-md-12 -->
</div><!-- row -->
<br /><br />
<style>
  #container {
      margin: 0 auto;
      width: 100%;

  }
  #accordion input {
    display: none;
  }
  #accordion label {
    background: #eee;
    border-radius: .25em;
    cursor: pointer;
    display: block;
    margin-bottom: .125em;
    padding: .25em 1em;
    z-index: 20;
  }

  #accordion label {
    background: #333;
    padding: 10px;
    color: #fff;
  }

  #accordion label:hover {
    background: #000;
  }

  #accordion input:checked + label {
    background: #333;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
    margin-bottom: 0;
    padding: 10px;
  }
  #accordion article {
    background: #f7f7f7;
    height:0px;
    overflow:hidden;
    z-index:10;
  }
  #accordion article p {
    padding: 1em;
  }
  #accordion input:checked article {
  }
  #accordion input:checked ~ article {
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em;
    height: auto;
    overflow: inherit;
    margin-bottom: .125em;
  }
  #accordion .editableform input{display: block;}

  #accordion .editable-checklist label {
    padding:0px;
    margin-bottom: 5px !important;
    color: #4a535e;
    background: #FFF;
    white-space: nowrap;

  }
</style>