<div class="cd-timeline-img cd-quote">
    <img src="/assets/vertical-timeline/img/cd-icon-calculator.svg" alt="Quote">
</div>
<div class="cd-timeline-content">
  <span class="cd-date">
      <%= citem.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p")%>
  </span>
  <%=get_styled_quotestatus(citem, false)%>
  <div class="btn-group pull-right">
    <div class="btn-group mr5 pull-right">
      <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle" type="button" style="border-radius: 2px">
        <i class="fa fa-ellipsis-v mr5"></i><span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
            <a class="edit_quote" href="#"
             data-toggle="modal"
             data-target=".conversation-edit-quote-modal-form"
             data-id="<%= citem.id %>"
             data-title="<%=citem.title%>"
             data-date="<%=mobile? ? Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%Y-%m-%d") : Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%m/%d/%Y")  if citem.scheduled_at.present?%>"
             data-time-24="<%=Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%H:%M") if citem.scheduled_at.present? %>"
             data-time="<%=Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%I:%M %p") if citem.scheduled_at.present? %>"
             data-ends-day="<%=(Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).to_date - Date.today.in_time_zone(current_user.time_zone).to_date).to_i if citem.ends_at.present? %>"
             data-ends-date="<%=mobile? ? Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).strftime("%Y-%m-%d") : Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).strftime("%m/%d/%Y") if citem.ends_at.present?%>"
             data-amount = '<%=citem.amount%>'
             data-description="<%= citem.body %>">Edit</a>
        </li>
        <li>
          <a class="complete_quote" href="#"
            data-toggle="modal"
            data-target=".conversation-complete-quote-modal-form"
            data-status="<%= citem.status%>"
            data-notes ="<%=citem.notes%>"
            data-id="<%=citem.id%>">Complete
          </a>
        </li>
        <li>
            <%=link_to 'Delete', delete_quote_account_path(@account, item_id: citem.id), method: :delete,data: {confirm: 'Are you sure to delete this quote?'}%>
        </li>
      </ul>
    </div>
  </div>
  <h2 class="ci_header"><%= citem.title %></h2>
  <div class="ci_note_body">
    <span class="subheading">Details:<br></span>
          <%= sanitize citem.body %>
    <% if (!citem.notes.nil?) %>
      <p><span class="subheading">Notes:<br/></span><%= sanitize citem.notes %></p>
  <% end %>
  </div>
  <div class="ci_amount">
      <span class="subheading">Amount:<br></span>
      $<%=number_with_precision(citem.amount, :precision => 2)%>
      <% if citem.item_type? %>
        <% if citem.item_type == 'weekly' %>
          / week
        <% elsif citem.item_type == 'monthly' %>
          / month
        <% elsif citem.item_type == 'yearly' %>
          / year
        <% end %>
      <% end %>
  </div>
    <div class="ci_footer">
      <div class="col-sm-10">
        <i class="fa fa-user tooltips mr10" data-toggle="tooltip" data-original-title="Created by"></i><%=citem.created_by.first_name%> <%=citem.created_by.last_name%><br />
        <% if citem.ends_at.present? %>
          <i class="fa fa-clock-o tooltips mr10" data-toggle="tooltip" data-original-title="Expires Date"></i><%=citem.ends_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y")%>&nbsp;
          (
          <%if citem.ends_at.in_time_zone(current_user.time_zone).to_date > Date.today.in_time_zone(current_user.time_zone).to_date%>
            <%= time_ago_in_words(citem.ends_at.to_date).gsub('about','')%>
          <%elsif citem.ends_at.in_time_zone(current_user.time_zone).to_date == Date.today.in_time_zone(current_user.time_zone).to_date%>
            <span>Today</span>
          <%end%>
          )<br />
        <% end %>
        <% if (citem.scheduled_at.present?) %>
          <i class="fa fa-bell tooltips mr10" data-toggle="tooltip" data-original-title="Reminder"></i>
          <%=citem.scheduled_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p") %>
        <%end%>
      </div>
    </div>
</div>
