<% timeline_conversation_items.each do |i| %>
  <div class="cd-timeline-block">
    <% if i.type.eql? 'note' %>
      <%= render "conversation_notes_show", :citem => i %>
    <% elsif i.type.eql? 'reminder' %>
      <%= render "conversation_reminder_show", :citem => i %>
    <% elsif i.type.eql? 'email' %>
      <%= render "conversation_email_show", :citem => i %>
    <% elsif i.type.eql? 'call' %>
      <%= render "conversation_phone_show", :citem => i %>
    <% elsif i.type.eql? 'meeting' %>
      <%= render "conversation_meeting_show", info: nil, created_by: i.created_by, :citem => i %>
    <% elsif i.type.eql? 'quote' %>
      <%= render "conversation_quotes_show", info: nil, created_by: i.created_by, :citem => i %>
    <%elsif i.type.eql? 'account'%>
      <%= render "conversation_account_show", :citem => i %>
    <% end %>
  </div>
  <script type="text/javascript">
    $("#account_link_<%=i.id%>").click(function(){
      if($(this).find($(".fa")).hasClass('fa-angle-double-down'))
       {
        $(this).find($(".fa")).removeClass('fa-angle-double-down').addClass('fa-angle-double-up');
       }
       else if($(this).find($(".fa")).hasClass('fa-angle-double-up'))
        {
          $(this).find($(".fa")).removeClass('fa-angle-double-up').addClass('fa-angle-double-down');
        }
      if($("#account_info_<%=i.id%>").hasClass('show_citem'))
      {
        $("#account_info_<%=i.id%>").removeClass('show_citem');
      }
      else
      {
        $('.note_display').removeClass('show_citem');
        $("#account_info_<%=i.id%>").addClass('show_citem');
      }
    });
  </script>
<% end %>
