<div class="modal fade contact-details-modal-form" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true" id="contact-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Contact Details</h4>
      </div><!-- modal header -->
      <div class="modal-body">
        <div class="panel panel-default" style="text-align: center">
          <div class="panel-body">
            <div class="row row-pad-5">
              <%# @contacts.each do |current_contact| %>
              <div class="row">
                <label class="col-sm-1 control-label">Name<span class="asterisk">*</span></label>
                <div class="col-sm-8">
                  <%= text_field_tag 'name', nil, { requirred: true, placeholder: 'contact name', label: 'Contact',class: "form-control tooltips first_contact", 'data-toggle'=>'tooltip', 'data-trigger'=>'hover', 'data-original-title'=>'Enter the Name of the contact eg. "Office" or "New York', id: 'edit_name' }  %>
                </div>
              </div>
              <div class="contact-form-wrap">
                <div class="contact-element" data-id=""  style="padding-bottom: 10px;">
                  <%= f.simple_fields_for :contacts_attributes do |c| %>
                    <% t = Time.now.to_i %>
                    <div class="form-group">
                      <%= c.hidden_field :name, :name => "account[contacts_attributes][#{t}][name]", class: "contacts_attributes_name" %>

                      <div class="row" id="type_value_div">
                        <label class="col-sm-1 control-label">Type<span class="asterisk">*</span></label>
                        <div class="col-sm-2">
                          <%= c.select(:type, options_for_select(Contact::CONTACT_TYPES), {}, { :class => "input-sm background_color type_select", :name => "account[contacts_attributes][#{t}][type]", :id => "account_contacts_attributes_type_1" } ) %>
                        </div>

                        <label class="col-sm-1 control-label">Value<span class="asterisk">*</span></label>
                        <div class="col-sm-6 phone_div">
                          <%= c.input_field :value, {label: 'Value', type: 'tel', name: "account[contacts_attributes][#{t}][value]", required: true, class: "form-control phone_validate phone_type_validate"} %>
                        </div>
                        <div class="col-sm-6 without_phone_div hidden">
                          <%= c.input_field :value, {label: 'Value', type: 'text', name: "account[contacts_attributes][#{t}][value]",class: "form-control type_validate", placeholder: 'contact value', disabled: true} %>
                        </div>

                      </div>
                    </div>
                  <% end %>
                </div>
              <%# end %>
              </div>
              <button class="add-contact-button btn btn-success btn-xs pull-left">+</button>
            </div>
          </div>
        </div><!-- panel -->
      </div><!-- modal body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" id="btnSave">Save</button>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div><!-- modal footer -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->


<script type="text/javascript">
  var max_fields      = 20; //maximum input boxes allowed
  var wrapper         = $(".contact-form-wrap"); //Fields wrapper
  var add_button      = $(".add-contact-button"); //Add button ID

  <%
    @contact_types = ""
    Contact::CONTACT_TYPES.each { |x| @contact_types << '<option value="'+x+'">'+x+'</option>' }
  %>

  var x = 1; //initlal text box count
  $(add_button).click(function(e){ //on add input button click
    e.preventDefault();
    if(x < max_fields){ //max input box allowed
        x++; //text box increment

        t = (new Date()).getTime();
        str_html = '\
        <div class="contact-element" id="contact-element-'+x+'" style="padding-bottom: 10px;">\
          <div class="form-group">\
            <input type="hidden" name="account[contacts_attributes]['+t+'][name]" class="contacts_attributes_name">\
            <label class="col-sm-1 control-label">Type<span class="asterisk">*</span></label>\
            <div class="col-sm-2">\
              <select class="input-sm background_color type_select" id="account_contacts_attributes_type_'+x+'" name="account[contacts_attributes]['+t+'][type]"><%= raw(@contact_types) %></select>\
            </div>\
            <label class="col-sm-1 control-label">Value<span class="asterisk">*</span></label>\
            <div class="col-sm-6 phone_div">\
              <input label="Value" name="account[contacts_attributes]['+t+'][value]" class="form-control phone_type_validate phone_validate" required id="account_contacts_attributes_value_'+x+'" type="tel">\
            </div>\
            <div class="col-sm-6 without_phone_div hidden">\
              <input label="Value" name="account[contacts_attributes]['+t+'][value]" class="form-control type_validate" disabled id="account_contacts_attributes_value_'+x+'" type="text"  placeholder="contact value">\
            </div>\
            <div class="col-sm-1"><button class="remove-contact-button btn btn-danger btn-xs">-</button></div>\
          </div>\
        </div>';
        $(wrapper).append(str_html);

      $('.work_emp_name').each(function () {
        $(this).rules("add", {
          required: true
        });
      });
    }
    phone_validate();
  });

  $(wrapper).on("click",".remove-contact-button", function(e){ //user click on remove text
      e.preventDefault();
      //$(this).parent('div').remove(); x--;
      $(this).closest('div.contact-element').remove(); x--;
  })

  $('#btnSave').click(function() {
    var name  = $('#edit_name').val();
    $('.contacts_attributes_name').val(name);
    $('#contact-modal').modal('hide');
  });

</script>
