<div class="cd-timeline-img cd-meeting">
  <img src="/assets/vertical-timeline/img/cd-icon-calendar.svg" alt="Meeting">
</div>
<div class="cd-timeline-content">
  <%if citem.starts_at.present? && citem.ends_at.present? %>
    <span class="cd-date">
      <%starts_at = Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone)%>
      <%ends_at = Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone)%>
      <%if @daylight_setting == 'enable'%>
        <%starts_at = starts_at - 1.hour if starts_at.dst?%>
        <%ends_at = ends_at - 1.hour if ends_at.dst?%>
      <%end%>
      <%=starts_at.strftime('%A %B %d, %Y')%> at
      <%=starts_at.strftime("%I:%M %p")%>
      to
      <%=ends_at.strftime("%I:%M %p")%>&nbsp;&nbsp;</span>
  <% else %>
    <span class="cd-date"><%= citem.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p")%></span>
  <% end %>
  <%= get_styled_meetingstatus(citem, false) %>
  <div class="btn-group mr5 pull-right">
    <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle" type="button" style="border-radius: 2px">
      <i class="fa fa-ellipsis-v mr5"></i><span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="complete_meeting" href="#"
          data-toggle="modal"
          data-target=".conversation-complete-meeting-modal-form"
          data-status="<%= citem.status%>"
          data-notes ="<%=citem.notes%>"
          data-check-out = "<%=check_out_details(citem, nil).present? ? 'completed' : nil%>"
          data-id="<%=citem.id%>">Complete
        </a>
      </li>
      <li>
        <a class="edit_meeting" href="#"
        data-toggle="modal"
        data-target=".conversation-edit-meeting-modal-form"
        data-id="<%= citem.id %>"
        data-invitees="<%=citem.invitees%>"
        data-title="<%=citem.title %>"
        data-date="<%=(mobile? ? Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%Y-%m-%d") :  Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%m/%d/%Y")) if citem.scheduled_at.present?%>"
        data-time="<%=((@daylight_setting == 'enable' && Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).dst?) ? (Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone) - 1.hour).strftime("%I:%M %p") : Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%I:%M %p"))if citem.scheduled_at.present? %>"
        data-time-24="<%=((@daylight_setting == 'enable' && Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).dst?) ? (Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone) - 1.hour).strftime("%H:%M") : Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%H:%M"))if citem.scheduled_at.present? %>"
        data-starts-date="<%=(mobile? ? Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone).strftime("%Y-%m-%d") : Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone).strftime("%m/%d/%Y")) if citem.starts_at.present? %>"
        data-starts-time="<%=((@daylight_setting == 'enable' && Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone).dst?) ? (Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone) - 1.hour).strftime("%I:%M %p") : Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone).strftime("%I:%M %p"))if citem.starts_at.present? %>"
        data-starts-time-24="<%=((@daylight_setting == 'enable' && Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone).dst?) ? (Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone) - 1.hour).strftime("%H:%M") : Chronic.parse(citem.starts_at).in_time_zone(current_user.time_zone).strftime("%H:%M"))if citem.starts_at.present? %>"
        data-ends-date="<%= mobile? ? Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).strftime("%Y-%m-%d") :  Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).strftime("%m/%d/%Y") if citem.ends_at.present? %>"
        data-ends-time="<%=(@daylight_setting == 'enable' && (Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).dst?) ? (Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone) - 1.hour).strftime("%I:%M %p") : Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).strftime("%I:%M %p")) if citem.ends_at.present? %>"
        data-ends-time-24="<%=((@daylight_setting == 'enable' && Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).dst?) ? (Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone) - 1.hour).strftime("%H:%M") : Chronic.parse(citem.ends_at).in_time_zone(current_user.time_zone).strftime("%H:%M")) if citem.ends_at.present? %>"
        data-repetition-rule ="<%=(citem.repetition_rule.present? || citem.related_to.present?) ? 'true' : 'false'%>"
        data-location="<%= citem.location%>"
        data-longitude="<%=citem.longitude%>"
        data-latitude="<%=citem.latitude%>"
        data-item-type="<%=citem.item_type%>"
        data-body="<%= citem.body %>">Edit</a>
      </li>
      <li>
        <%#=link_to 'Delete', "javascript:void(0)", id: "del_item_#{citem.id}"%>
        <%=link_to 'Delete', "javascript:void(0)", class: "delete_item", data:{id: citem.id, account_id: citem.account_id}%>
      </li>
    </ul>
  </div>
  <h2 class="ci_header"><%= citem.title %></h2>
  <p><span class="subheading">Agenda:<br/></span><%= sanitize citem.body %></p>
  <% if (!citem.notes.nil?) %>
    <p><span class="subheading">Notes:<br/></span><%= sanitize citem.notes %></p>
  <% end %>
  <div class="row ci_footer">
    <div class="col-sm-10">
      <% if (citem.scheduled_at.present?) %>
        <i class="fa fa-bell tooltips mr10" data-toggle="tooltip" data-original-title="Reminder"></i>
        <%scheduled_at = citem.scheduled_at.to_datetime.in_time_zone(current_user.time_zone)%>
        <%scheduled_at = scheduled_at - 1.hour if @daylight_setting == 'enable' && scheduled_at.dst?%>
        <%=scheduled_at.strftime("%a %b %d %Y at %l:%M %p")%>
        <br />
      <% end %>

      <i class="fa fa-user tooltips mr10" data-toggle="tooltip" data-original-title="Created by"></i><%=created_by.first_name%> <%=created_by.last_name%><br />

      <% if citem.invitees.present? %>
        <i class="fa fa-users tooltips mr10" data-toggle="tooltip" data-original-title="Invitees"></i><%= citem.invitees %><br/>
      <% end %>
      <%check_in_time = check_in_details(citem, info) %>
      <%check_out_time = check_out_details(citem, info) %>
      <% if check_in_time%>
        <i class="fa fa-sign-in mr10" data-toggle="tooltip" data-original-title="Check In"></i><%=check_in_time %><br/>
      <% end %>
      <% if check_out_time && !check_out(citem,info)%>
        <i class="fa fa-sign-out mr10" data-toggle="tooltip" data-original-title="Check Out"></i><%=check_out_time %>
      <% end %>
      <div class="check_in_time_<%=citem.id%> hidden">
          <i class="fa fa-sign-in mr10" data-toggle="tooltip" data-original-title="Check In"></i><span></span>
      </div>
      <div class="check_out_time_<%=citem.id%> hidden">
        <i class="fa fa-sign-out mr10" data-toggle="tooltip" data-original-title="Check Out"></i><span></span>
      </div>
    </div>
    <%invitees = citem.invitees.present? ? citem.invitees.split(', ') : []%>
    <div class="col-sm-2">
      <%time = citem.ends_at.present? ? (DateTime.now.in_time_zone(current_user.time_zone) > citem.ends_at.to_datetime.in_time_zone(current_user.time_zone)+1.hour) : false%>
        <%if @enable_checkin_checkout == 'enable'%>
          <% if (citem.status == "scheduled" || citem.status == "in_progress")%>
            <%if current_user.id == created_by.id || invitees.include?(current_user.email)%>
              <%if check_in(citem,info) && !time%>
                <a class="btn btn-xs btn-default pull-right mr5 checkin" id="<%=citem.id%>" data-created-by="<%=citem.created_by.id%>" data-conversation-id = "<%=citem.prefix_options[:conversation_id].present? ? citem.prefix_options[:conversation_id] : citem.conversation_id%>">
                  <i class="fa fa-sign-in mr5"></i><span class="position_button">Check In</span>
                </a>
              <%end%>
              <%if !check_in(citem,info) && check_out(citem,info)%>
                <a class="btn btn-xs btn-default pull-right mr5 checkout" id="<%=citem.id%>" data-created-by="<%=citem.created_by.id%>" data-conversation-id = "<%=citem.prefix_options[:conversation_id].present? ? citem.prefix_options[:conversation_id] : citem.conversation_id%>">
                  <i class="fa fa-sign-out mr5"></i><span class="position_button">Check Out</span>
                </a>
              <%end%>
            <%elsif (!time)%>
              <a class="btn btn-xs btn-default pull-right mr5 jumpin" id="<%=citem.id%>" data-conversation-id = "<%=citem.prefix_options[:conversation_id].present? ? citem.prefix_options[:conversation_id] : citem.conversation_id%>">
                  <i class="fa fa-sign-in mr5"></i><span class="position_button">Jump In</span>
              </a>
            <%end%>
          <% elsif !check_in(citem,info) && check_out(citem,info) && (citem.status == "in_progress" || citem.status == "completed")%>
            <a class="btn btn-xs btn-default pull-right mr5 checkout" id="<%=citem.id%>" data-created-by="<%=citem.created_by.id%>" data-conversation-id = "<%=citem.prefix_options[:conversation_id].present? ? citem.prefix_options[:conversation_id] : citem.conversation_id%>">
              <i class="fa fa-sign-out mr5"></i><span class="position_button">Check Out</span>
            </a>
          <% end %>
        <%end%>
    </div>
  </div>
</div>
