<div class="modal fade conversation-edit-meeting-modal-form" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
            <h4 class="modal-title">Edit Meeting</h4>
        </div>
        <div class="modal-body">
          <%= form_tag update_meeting_account_path(@account), novalidate: "novalidate", method: :patch do %>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row row-pad-5">
                  <div class="col-lg-12">
                    <input type="text" name="conversation_item[title]" placeholder="Event" class="form-control" required="required" />
                  </div>
                </div><!-- row -->

                <div class="row row-pad-5">
                  <div class="col-lg-12">
                    <input type="text" name="conversation_item[location]" id="gmaps-input-address" placeholder="Add Location" class="form-control" required="required"/>
                  </div>
                </div><!-- row -->

                <div class="row row-pad-5">
                  <div class="col-lg-12">
                    <select class="form-control select2" multiple="multiple" name="conversation_item[emails][]" placeholder="-Select invitees-" required="required">
                     <%=User.all.each do |u|%>
                        <option value="<%=u.email%>"><%=u.email%></option>
                     <%end%>
                    </select>
                  </div>
                </div><!-- row -->

                <div class="row">
                  <div class="col-lg-4">
                  <h5>Starts</h5>
                  </div>
                </div>

                <div class="row row-pad-5">
                  <div class="col-lg-4">
                    <div class="input-group ">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      <input type="text" class="form-control" placeholder="dd/mm/yy" name="schedule-from-datepicker" id="schedule-from-datepicker-edit" required="required" />
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="input-group ">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                      <div class="bootstrap-timepicker"><input id="schedule-from-timepicker-edit" name="schedule-from-timepicker" type="text" class="form-control" required="required" /></div>
                    </div>
                  </div>
                </div><!-- row -->

                <div class="row">
                  <div class="col-lg-4">
                  <h5>Ends</h5>
                  </div>
                </div>

                <div class="row row-pad-5">
                  <div class="col-lg-4">
                    <div class="input-group ">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                      <input type="text" class="form-control" placeholder="dd/mm/yy" name="schedule-to-datepicker"  id="schedule-to-datepicker-edit" required="required" />
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="input-group mb15">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                      <div class="bootstrap-timepicker"><input name="schedule-to-timepicker"  id="schedule-to-timepicker-edit" type="text" class="form-control" required="required" /></div>
                    </div>
                  </div>
                </div><!-- row -->

                <div class="row row-pad-5">
                  <div class="col-lg-6">
                    <div class="ckbox ckbox-primary">
                      <input type="checkbox" id="meeting-reminder-edit" name="conversation_item[reminder]">
                      <label for="meeting-reminder-edit">Set a Custom Reminder</label>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="ckbox ckbox-primary">
                      <input type="checkbox" id="meeting-repeat-edit" name="meeting-repeat">
                      <label for="meeting-repeat-edit">Repeat</label>
                    </div>
                  </div>
                </div><!-- row -->

                <div id="meeting-reminder-settings-edit">
                  <div class="row row-pad-5">
                    <div class="col-lg-4">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        <input type="text" class="form-control" placeholder="mm/dd/yyyy" name="scheduled_date" id="meeting-reminder-date-edit" />
                       </div>
                    </div>

                    <div class="col-lg-4">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        <div class="bootstrap-timepicker"><input name="scheduled_time" id="meeting-reminder-time-edit" type="text" class="form-control" /></div>
                      </div>
                    </div>
                  </div><!-- row -->
                </div><!-- meeting reminder settings -->

                <div id="meeting-repeat-settings">
                  <div class="row row-pad-5">
                    <div class="col-sm-6">
                      <label for="repeat-frequency">Frequency:</label>
                      <select class="form-control input-sm mb15" id="repeat-frequency-edit">
                        <option value="daily">Daily</option>
                        <option value="weekly">Weekly</option>
                        <option value="monthly">Monthly</option>
                        <option value="yearly">Yearly</option>
                      </select>
                    </div>
                    <div class="col-sm-6">
                      <label for="repeat-occurrences">Stop After:</label>
                      <select class="form-control input-sm mb15" id="repeat-occurrences">
                        <% (1..50).each do |i| %>
                        <option value="<%= i %>">
                          <%= pluralize(i, 'Occurrence') %>
                        </option>
                        <% end %>
                      </select>
                    </div>
                  </div><!-- row -->

                  <div id="repeat-frequency-day-edit">
                    <div class="row row-pad-5">
                      <div class="col-sm-6">
                        <label for="repeat-every-day">Repeat Every:</label>
                        <select class="form-control input-sm mb15" id="repeat-every-day">
                          <% (1..6).each do |i| %>
                          <option value="<%= i %>">
                              <% if i == 1 %>
                                Day
                            <% else %>
                              <%= "#{i.ordinalize} Day" %>
                            <% end %>
                          </option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                  </div><!-- row repeat frequency day -->

                  <div id="repeat-frequency-week-edit">
                    <div class="row row-pad-5">
                      <div class="col-sm-6">
                        <label for="repeat-every-week">Repeat Every:</label>
                        <select class="form-control input-sm mb15" id="repeat-every-week">
                          <% (1..52).each do |i| %>
                          <option value="<%= i %>">
                              <% if i == 1 %>
                                  Week
                              <% else %>
                                  <%= "#{i.ordinalize} Week" %>
                              <% end %>
                          </option>
                          <% end %>
                        </select>
                      </div>
                      <div class="col-sm-6">
                        <div id="repeat-frequency-weekday-on">
                          Repeat On:<br/>
                          <input type="checkbox" id="repeat-day-mon">
                          <label for="repeat-day-mon" style="padding:4px;">M</label>
                          <input type="checkbox" id="repeat-day-tue">
                          <label for="repeat-day-tue" style="padding:4px;">T</label>
                          <input type="checkbox" id="repeat-day-wed">
                          <label for="repeat-day-wed" style="padding:5px;">W</label>
                          <input type="checkbox" id="repeat-day-thu">
                          <label for="repeat-day-thu" style="padding:4px;">T</label>
                          <input type="checkbox" id="repeat-day-fri">
                          <label for="repeat-day-fri" style="padding:4px;">F</label>
                          <input type="checkbox" id="repeat-day-sat">
                          <label for="repeat-day-sat" style="padding:4px;">S</label>
                          <input type="checkbox" id="repeat-day-sun">
                          <label for="repeat-day-sun" style="padding:4px;">S</label>
                        </div>
                      </div>
                    </div>
                  </div><!-- row repeat frequency month -->


                  <div id="repeat-frequency-month-edit">
                    <div class="row row-pad-5">
                      <div class="col-sm-6">
                        <label for="repeat-every-month">Repeat Every:</label>
                        <select class="form-control input-sm mb15" id="repeat-every-month">
                          <% (1..12).each do |i| %>
                          <option value="<%= i %>">
                              <%= pluralize(i, 'Month') %>
                          </option>
                          <% end %>
                        </select>
                      </div>
                      <div class="col-sm-6">
                        <label for="repeat-every-month-on">Repeat On:</label>
                        <select class="form-control input-sm mb15" id="repeat-every-month-on">
                          <option value="dayofmonth">Day of the Month</option>
                          <option value="dayofweek">Day of the Week</option>
                        </select>
                      </div>
                    </div>
                  </div><!-- row repeat frequency month -->

                  <div id="repeat-frequency-year-edit">
                    <div class="row row-pad-5">
                      <div class="col-sm-6">
                        <label for="repeat-every-year">Repeat every:</label>
                        <select class="form-control input-sm mb15" id="repeat-every-year">
                          <% (1..4).each do |i| %>
                          <option value="<%= i %>">
                              <%= pluralize(i, 'Year') %>
                          </option>
                          <% end %>
                        </select>
                      </div>
                    </div>
                  </div><!-- row repeat frequency year -->
                </div><!-- meeting repeat settings -->

                <div class="row row-pad-5">
                  <div class="col-lg-12 mb15">
                    <textarea class="form-control" name="conversation_item[body]"  rows="5" placeholder="Agenda" required="required"></textarea>
                  </div>
                </div><!-- row -->
              <input type="hidden" name="conversation_item[id]">
              </div><!-- panel-body -->
              <div class="panel-footer">
                <button class="btn btn-primary">Update Meeting</button>
              </div>
            </div><!-- panel -->
          <% end %>
        </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->