<div class="modal fade account-shared-users" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
        <h4 class="modal-title">Shared Users</h4>
        <p>Below are a list of users whom this account is shared with</p>
      </div>
      <div class="modal-body">
        <%= form_tag(account_share_url) do |f| %>
        <div class="row">        
          <div class="col-sm-6">
            <select class="select2" id="add_shared_user" data-placeholder="Select a User">
              <option value="">Select a User</option>
            	<%= options_for_select(@users.collect{ |u| ["#{u.first_name} #{u.last_name}", u.id] }) %>
          	</select>
          </div>
          <div class="col-sm-6">
            <button type="button" id="add_shared_user_button" class="btn btn-primary"><i class="fa fa-plus-circle mr5"></i>Add</button>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table mb30" id="shared_user_list">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Permission</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @account.user_account_sharings.each do |shared_user| %>
                  <tr id="<%= shared_user.user.id %>">
                    <td>
                      <input type="hidden" name="account[user_account_sharings_attributes][<%= shared_user.user.id %>][user_id]" value="<%= shared_user.user.id %>" >
                      <%= shared_user.user.first_name %>&nbsp;<%= shared_user.user.last_name %>
                    </td>
                    <td>
                      <select class="input-sm" name="account[user_account_sharings_attributes][<%= shared_user.user.id %>][permission]">
                        <%= options_for_select({ "Read Only" => "read", "Can Update" => "update" }, shared_user.permission) %>
                      </select>
                      </td>
                    <td class="table-action">
                      <a class="delete-row"><i class="fa fa-trash-o"></i></a>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div><!-- panel-body -->
          <div class="panel-footer">
          <div class="row">        
            <div class="col-sm-12">
              <button type="submit" value="submit" class="btn btn-primary">Save</button>
            </div>
          </div>            
          </div><!-- panel footer -->
        </div><!-- panel -->
        <% end %>
      </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->

<script type="text/javascript">
  
toggleButton();  

$("#add_shared_user").on("change", function (e) { 
  toggleButton();
});  

$('#add_shared_user_button').click(function(e){
  
  // append to table
  var added_user_id = $('#add_shared_user').val();
  var added_user    = $("#add_shared_user option:selected").text();
  
  var cell1 = '<input type="hidden" name="account[user_account_sharings_attributes]['+added_user_id+'][user_id]" value="'+added_user_id+'"/>'+added_user;
  var cell2 = '<select class="input-sm" name="account[user_account_sharings_attributes]['+added_user_id+'][permission]">\
                <option value="read">Read Only</option>\
                <option value="read">Can Update</option>\
              </select>';
  var cell3 = '<a class="delete-row"><i class="fa fa-trash-o"></i></a>';
  
  $('#shared_user_list tr:last').after('<tr id="'+added_user_id+'"><td>'+cell1+'</td><td>'+cell2+'</td><td class="table-action">'+cell3+'</td></tr>');
  
  // remove option from add list
  $("#add_shared_user option:selected").remove();
  $("#add_shared_user").select2("val", "");
  toggleButton();
  
});

$('.delete-row').click(function(e){
  var trid = $(this).closest('tr').attr('id');
  
  var delfield = $('<input>').attr({
    type: 'hidden',
    name: 'account[user_account_sharings_attributes]['+trid+'][_destroy]',
    value: 'true'
  });
  $(this).closest('td').append(delfield);
  $(this).closest('tr').hide(500);
});



function toggleButton() {
  if($('#add_shared_user').val() == "") {
    $('#add_shared_user_button').hide();
  }
  else {
    $('#add_shared_user_button').show(); 
  }
}
    
</script>