<div class="modal fade contact-details-modal-form" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Contact Details</h4>
      </div><!-- modal header -->
      <div class="modal-body">
        <div class="panel panel-default" style="text-align: center">
          <div class="panel-body">
            <div class="row row-pad-5">
              <%# @contacts.each do |current_contact| %>
                <div class="contact-element" data-id=""  style="padding-bottom: 10px;">
                  <%= f.simple_fields_for :contacts_attributes do |c| %>
                    <% t = Time.now.to_i %>
                    <div class="form-group">
                      <label class="col-sm-1 control-label">Name<span class="asterisk">*</span></label>
                      <div class="col-sm-2">
                        <%= c.input_field :name, { required: true, placeholder: 'contact name', label: 'Contact', name: "account[contacts_attributes][#{t}][name]", class: "form-control tooltips first_contact", id: "account_contacts_attributes_name_1", 'data-toggle'=>'tooltip', 'data-trigger'=>'hover', 'data-original-title'=>'Enter the Name of the contact eg. "Office" or "New York'} %>
                      </div>

                      <label class="col-sm-1 control-label">Type<span class="asterisk">*</span></label>
                      <div class="col-sm-2">
                        <%= c.select( :type, options_for_select(Contact::CONTACT_TYPES), {}, { :class => "input-sm background_color type_select", :name => "account[contacts_attributes][#{t}][type]", :id => "account_contacts_attributes_type_1" } ) %>
                      </div>

                      <label class="col-sm-1 control-label">Value<span class="asterisk">*</span></label>
                      <div class="col-sm-3 phone_div">
                        <%= c.input_field :value, {label: 'Value', type: 'tel', name: "account[contacts_attributes][#{t}][value]", required: true, class: "form-control phone_validate phone_type_validate"} %>
                      </div>
                      <div class="col-sm-3 without_phone_div hidden">
                        <%= c.input_field :value, {label: 'Value', type: 'text', name: "account[contacts_attributes][#{t}][value]",class: "form-control type_validate", placeholder: 'contact value', disabled: true} %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <%# end %>
            </div>
          </div>
        </div><!-- panel -->
      </div><!-- modal body -->
      <div class="modal-footer">
        <button class="btn btn-default btn-sm" id="">Save</button>
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div><!-- modal footer -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->
