<div class="cd-timeline-img cd-reminder">
    <img src="/assets/vertical-timeline/img/cd-icon-bell.svg" alt="Reminder">
</div>
<div class="cd-timeline-content">
    <span class="cd-date">
        <%= citem.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p")%>
    </span>
    <div class="btn-group pull-right">
        <div class="btn-group mr5 pull-right">
          <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle" type="button" style="border-radius: 2px">
            <i class="fa fa-cog mr5"></i><span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
                <a class="edit_reminder" href="#"
                 data-toggle="modal"
                 data-target=".conversation-edit-reminder-modal-form"
                 data-id="<%= citem.id %>"
                 data-title="<%=citem.title%>"
                 data-notify-by-sms="<%=(citem.notify_by_sms.present?) ? 'true' : 'false'%>"
                 data-notify-by-email="<%=(citem.notify_by_email.present?) ? 'true' : 'false'%>"
                 data-users-to-notify-ids="<%= #citem.users_to_notify_ids %>"
                 data-date="<%=Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%m/%d/%Y") if citem.scheduled_at.present?%>"
                 data-time="<%=Chronic.parse(citem.scheduled_at).in_time_zone(current_user.time_zone).strftime("%I:%M%p") if citem.scheduled_at.present? %>"
                 data-description="<%= citem.body %>">Edit</a>
            </li>
            <li>
                <%=link_to 'Delete', delete_reminder_account_path(@account, item_id: citem.id), method: :delete,data: {confirm: 'Are you sure to delete this reminder?'}%>
            </li>
          </ul>
        </div>
    </div>
    <h2 class="ci_header"><%= citem.title %></h2>
    <div class="ci_reminder_body"><%= sanitize citem.body %></div>
    <% if (citem.scheduled_at.present?) %>
        <div class="ci_footer">
            <i class="fa fa-bell"></i><%= citem.scheduled_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p") %>
        </div>
    <% end %>
</div>