<div class="modal fade account-action-meeting" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" data-backdrop="static" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">&times;</button>
          <h4 class="modal-title">Schedule Meeting</h4>
      </div>
      <div class="modal-body">
        <p>Provide the details below to schedule a meeting</p>
        <%= form_tag(account_schedule_meeting_url) do |f| %>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row row-pad-5">
                <div class="col-lg-12">
                  <input type="text" name="conversation_item[title]" placeholder="Event" class="form-control" required="required" />
                </div>
              </div><!-- row -->
              <%if account.present? && account.addresses.present? %>
               <%address = "#{account.addresses.last.street_address}" +', ' + "#{account.addresses.last.city}" +', ' + "#{account.addresses.last.postcode}" +', ' + "#{account.addresses.last.region}" +', ' + "#{account.addresses.last.country}"%>
              <%else%>
               <%address = ''%>
              <%end%>
              <div class="row row-pad-5">
                <div class="col-lg-12">
                  <input type="text" name="conversation_item[location]" id="keyword" placeholder="Add Location" value="<%=address%>"class="form-control" required="required"/>
                </div>
              </div><!-- row -->

              <div class="row row-pad-5">
                <div class="col-lg-12">
                  <div class="invitee_emails">
                    <div id="tags">
  								    <input type="text" id="tag_input" placeholder="Invitees email" class="form-control" required="required"/>
                      <input type="hidden" name="conversation_item[invitees]" id="invitee_emails" />
                    </div>
                  </div>
                </div>
              </div><!-- row -->

              <div class="row">
	              <div class="col-lg-4">
	              <h5>Starts</h5>
	              </div>
              </div>

              <div class="row row-pad-5">
                <div class="col-lg-4">
                  <div class="input-group ">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input type="text" class="form-control" placeholder="dd/mm/yy" name="starts_date" id="schedule-from-datepicker" required="required" />
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="input-group ">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    <div class="bootstrap-timepicker"><input id="schedule-from-timepicker" name="starts_time" type="text" class="form-control" required="required" /></div>
                  </div>
                </div>
              </div><!-- row -->

              <div class="row">
	              <div class="col-lg-4">
	              <h5>Ends</h5>
	              </div>
              </div>

              <div class="row row-pad-5">
                <div class="col-lg-4">
                  <div class="input-group ">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    <input type="text" class="form-control" placeholder="dd/mm/yy" name="ends_date"  id="schedule-to-datepicker" required="required" />
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="input-group mb15">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                    <div class="bootstrap-timepicker"><input name="ends_time"  id="schedule-to-timepicker" type="text" class="form-control" required="required" /></div>
                  </div>
                </div>
              </div><!-- row -->

              <div class="row row-pad-5">
                <div class="col-lg-6">
                  <div class="ckbox ckbox-primary">
                    <input type="checkbox" id="meeting-reminder" name="conversation_item[reminder]">
                    <label for="meeting-reminder">Set a Custom Reminder</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="ckbox ckbox-primary">
                    <input type="checkbox" id="meeting-repeat" name="meeting-repeat">
                    <label for="meeting-repeat">Repeat</label>
                  </div>
                </div>
              </div><!-- row -->

			        <div id="meeting-reminder-settings">
	              <div class="row row-pad-5">
	                <div class="col-lg-4">
	                  <div class="input-group">
	                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	                    <input type="text" class="form-control" placeholder="mm/dd/yyyy" name="scheduled_date" id="meeting-reminder-date" />
	                   </div>
	                </div>

	                <div class="col-lg-4">
	                  <div class="input-group">
	                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
	                    <div class="bootstrap-timepicker"><input name="scheduled_time" id="meeting-reminder-time" type="text" class="form-control" /></div>
	                  </div>
	                </div>
	              </div><!-- row -->
			        </div><!-- meeting reminder settings -->

							<div id="meeting-repeat-settings">
								<div class="row row-pad-5">
									<div class="col-sm-6">
										<label for="repeat-frequency">Frequency:</label>
										<select class="form-control input-sm mb15" name="conversation_item[repetition_rule][frequency_type]" id="repeat-frequency" required: "required">
										  <option value=''>-select type-</option>
											<option value="daily">Daily</option>
											<option value="weekly">Weekly</option>
											<option value="monthly">Monthly</option>
											<option value="yearly">Yearly</option>
										</select>
									</div>
									<div class="col-sm-6">
										<label for="repeat-occurrences">Stop After:</label>
										<select class="form-control input-sm mb15" name="conversation_item[repetition_rule][repeat_occurrences]" id="repeat-occurrences" required: "required">
										  <option value=''>-select occurrence-</option>
											<% (1..50).each do |i| %>
											<option value="<%= i %>">
												<%= pluralize(i, 'Occurrence') %>
											</option>
											<% end %>
										</select>
									</div>
								</div><!-- row -->

								<div id="repeat-frequency-day">
									<div class="row row-pad-5">
										<div class="col-sm-6">
											<label for="repeat-every-day">Repeat Every:</label>
											<select class="form-control input-sm mb15" name="conversation_item[repetition_rule][repeat_day]" id="repeat-every-day" required: "required">
											  <option value=''>-select day-</option>
												<% (1..6).each do |i| %>
												<option value="<%= i %>">
												  	<% if i == 1 %>
													  	Day
													<% else %>
														<%= "#{i.ordinalize} Day" %>
													<% end %>
												</option>
												<% end %>
											</select>
										</div>
									</div>
								</div><!-- row repeat frequency day -->

								<div id="repeat-frequency-week">
									<div class="row row-pad-5">
										<div class="col-sm-6">
											<label for="repeat-every-week">Repeat Every:</label>
											<select class="form-control input-sm mb15" name="conversation_item[repetition_rule][repeat_week]" id="repeat-every-week" required: "required">
											  <option value=''>-select week-</option>
												<% (1..52).each do |i| %>
												<option value="<%= i %>">
												  	<% if i == 1 %>
                                Week
                            <% else %>
                                <%= "#{i.ordinalize} Week" %>
                            <% end %>
												</option>
												<% end %>
											</select>
										</div>
										<div class="col-sm-6">
											<div id="repeat-frequency-weekday-on">
												Repeat On:<br/>
												<input type="checkbox" id="repeat-day-mon" name="conversation_item][repetition_rule][day_of_week][]" value="MO">
												<label for="repeat-day-mon" style="padding:4px;">M</label>
												<input type="checkbox" id="repeat-day-tue" name="conversation_item][repetition_rule][day_of_week][]" value="TU">
												<label for="repeat-day-tue" style="padding:4px;">T</label>
												<input type="checkbox" id="repeat-day-wed" name="conversation_item][repetition_rule][day_of_week][]" value="WE">
												<label for="repeat-day-wed" style="padding:5px;">W</label>
												<input type="checkbox" id="repeat-day-thu" name="conversation_item][repetition_rule][day_of_week][]" value="TH">
												<label for="repeat-day-thu" style="padding:4px;">T</label>
												<input type="checkbox" id="repeat-day-fri" name="conversation_item][repetition_rule][day_of_week][]" value="FR">
												<label for="repeat-day-fri" style="padding:4px;">F</label>
												<input type="checkbox" id="repeat-day-sat" name="conversation_item][repetition_rule][day_of_week][]" value="SA">
												<label for="repeat-day-sat" style="padding:4px;">S</label>
												<input type="checkbox" id="repeat-day-sun" name="conversation_item][repetition_rule][day_of_week][]" value="SN">
												<label for="repeat-day-sun" style="padding:4px;">S</label>
											</div>
										</div>
									</div>
								</div><!-- row repeat frequency month -->


								<div id="repeat-frequency-month">
									<div class="row row-pad-5">
										<div class="col-sm-6">
											<label for="repeat-every-month">Repeat Every:</label>
											<select class="form-control input-sm mb15" name="conversation_item[repetition_rule][repeat_month]" id="repeat-every-month" required: "required">
											  <option value=''>-select month-</option>
												<% (1..12).each do |i| %>
												<option value="<%= i %>">
												  	<%= pluralize(i, 'Month') %>
												</option>
												<% end %>
											</select>
										</div>
										<div class="col-sm-6">
											<label for="repeat-every-month-on">Repeat On:</label>
											<select class="form-control input-sm mb15" id="repeat-every-month-on" required: "required" name="month_week">
											  <option value=''>-select-</option>
												<option value="dayofmonth">Day of the Month</option>
												<option value="dayofweek">Day of the Week</option>
											</select>
										</div>
									</div>
								</div><!-- row repeat frequency month -->

								<div id="repeat-frequency-year">
									<div class="row row-pad-5">
										<div class="col-sm-6">
											<label for="repeat-every-year">Repeat every:</label>
											<select class="form-control input-sm mb15" name="conversation_item[repetition_rule][repeat_year]" id="repeat-every-year" required: "required">
											 <option value=''>-select year-</option>
												<% (1..4).each do |i| %>
												<option value="<%= i %>">
												  	<%= pluralize(i, 'Year') %>
												</option>
												<% end %>
											</select>
										</div>
									</div>
								</div><!-- row repeat frequency year -->
							</div><!-- meeting repeat settings -->

              <div class="row row-pad-5">
                <div class="col-lg-12 mb15">
                  <textarea class="form-control wysihtml5" name="conversation_item[body]" id="meeting_new_editor"  rows="5" placeholder="Agenda" required="required"></textarea>
                </div>
              </div><!-- row -->
            <%if account.present?%>
              <input type="hidden" name="id" value="<%=account.id%>">
            <%end%>
            </div><!-- panel-body -->
            <div class="panel-footer">
              <button type="submit" value="submit" class="btn btn-primary">Save</button>
            </div>
          </div><!-- panel -->
        <% end %> <!-- end form -->
      </div><!-- modal body -->
    </div><!-- modal content -->
  </div><!-- modal dialog -->
</div><!-- modal -->
<script type="text/javascript">
  $(".account-action-meeting").on("shown.bs.modal", function(){
    var input = document.getElementById("keyword");
    var autocomplete = new google.maps.places.Autocomplete(input);
    $("#tags input").on({
      focusout : function() {
        // var txt = this.value.replace(/[^a-z0-9\+\-\.\#]/ig,''); // allowed characters
        var txt = this.value.replace(',','').replace(' ', '');
        var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        if( txt && pattern.test(txt.trim())){
          $("<span/>", {text:txt.toLowerCase(), insertBefore:this});
          $('#tag_input').attr('required', false);
          emails = $('#invitee_emails').val();
          values = emails ? emails+', '+txt : txt;
          $('#invitee_emails').val(values);
        }
        this.value = "";
      },
      keyup : function(ev) {
        // if: comma|enter (delimit more keyCodes with | pipe)
        if(/(188|13|32)/.test(ev.which)){
          $(this).focusout();
        }
      }
    });
    $('#tags').on('click', 'span', function() {
      if(confirm("Remove "+ $(this).text() +"?")) {
      	emails_array = $('#invitee_emails').val().split(',')
      	del_obj_index = emails_array.indexOf($(this).text());
      	emails_array.splice(del_obj_index,1)
      	$('#invitee_emails').val(emails_array.join(','));
      	if($('#tags').find('span').length < 2){
      		$('#tag_input').attr('required', true);
      	}
      	$(this).remove();
      }
    });
    $( "#tag_input" ).autocomplete({

      source: "/get_users",
      minLength: 2,
      select: function( event, ui ){}
    });
  });
</script>
