<div class="cd-timeline-img cd-note">
    <img src="/assets/vertical-timeline/img/cd-icon-comments.svg" alt="Note">
</div>
<div class="cd-timeline-content">
    <span class="cd-date">
        <%= citem.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%a %b %d %Y at %l:%M %p")%>
    </span>
    <div class="btn-group pull-right">
        <a data-toggle="dropdown" class="dropdown-toggle">
            <i class="fa fa-cog"></i>
        </a>
        <ul role="menu" class="dropdown-menu pull-right">
            <li>
                <a class="edit_note" href="#"
                 data-toggle="modal"
                 data-target=".conversation-edit-note-modal-form"
                 data-id="<%= citem.id %>"
                 data-title="<%=citem.title%>"
                 data-date="<%=citem.scheduled_at.to_date if citem.scheduled_at.present?%>" 
                 data-time="<%=citem.scheduled_at.to_time.strftime("%I:%M%p") if citem.scheduled_at.present? %>"
                 data-description="<%= citem.body %>">Edit</a>
            </li>
            <li>
                <%=link_to 'Delete', delete_note_account_path(@account, item_id: citem.id), method: :delete,data: {confirm: 'Are you sure to delete this note?'}%>
            </li>
        </ul>
    </div>
    <h2 style="margin-top: 2px;margin-bottom: 5px;"><%= citem.title %></h2>
    <p><div class="ci_note_body"><%= sanitize citem.body %></div></p>
</div>