          <div class="profile-header">
	        <div class="row">
		    	<% if flash[:success] %>
					<div class="alert alert-success">
						<strong><%= flash[:success] %></strong>
					</div> 
				<% end %>      
		        
	        </div>
            <div class="row">
              <div class="col-sm-3">
                <img src="/assets/bootstrap/images/photos/hd-profile.jpg" class="thumbnail img-responsive" alt="">
                
                <div class="mb30"></div>
                                
                <h5 class="subtitle">Connect</h5>
                <ul class="profile-social-list">
                  <li><i class="fa fa-phone"></i>(123) 456-7890</li>
                  <li><i class="fa fa-fax"></i>(123) 456-7890</li>
                  <li><i class="fa fa-mobile"></i>(123) 456-7890</li>
                  <li><i class="fa fa-envelope-o"></i>my.email.account@company.com</li>
                  <li><i class="fa fa-twitter"></i> <a href="">twitter.com/eileensideways</a></li>
                  <li><i class="fa fa-facebook"></i> <a href="">facebook.com/eileen</a></li>
                  <li><i class="fa fa-youtube"></i> <a href="">youtube.com/eileen22</a></li>
                </ul>
                
                <div class="mb30"></div>
              
                <h5 class="subtitle">Address&nbsp;<i class="fa fa-map-marker"></i></h5>
                <div class="profile-location">  
                  <a href="https://maps.google.com?daddr=2529+Canada Way+Vancouver+Canada+V5G1G4" target="_blank">???</a>
                </div>
                
                <div class="mb30"></div>
                <h5 class="subtitle">About</h5>
                <p class="mb30">???</p>

                <div class="mb30"></div>
                <h5 class="subtitle">Quick Facts</h5>
                <p class="mb30">???</p>

    
              
              </div><!-- col-sm-3 -->
              <div class="col-sm-9">
                <h2 class="profile-name"><%= @account.name %></h2> 
                <div class="mb20"></div>
                <div class="row">
                  <div class="col-sm-11">
                    <div class="row">
                        <small>
                        <div class="col-sm-5">
                            <div class="row bars">
                                <div class="col-xs-5" style="text-align:right"><strong>Status</strong></div>
                                <div class="col-xs-7"><span class="badge" style="background-color: #0eb057; border-color: #0eb057;">???</span> </div>
                            </div>
                            <div class="row bars">
                                <div class="col-xs-5" style="text-align:right"><strong>Assigned To</strong></div>
                                <div class="col-xs-7">???</div>
                            </div>
                            <div class="row bars">
                                <div class="col-xs-5" style="text-align:right"><strong>Shared With</strong></div>
                                <div class="col-xs-7"><a href="">??? Poeple</a></div>
                            </div>
                        </div><!-- col-sm-4 -->
                        <div class="col-sm-7">
                            <div class="row bars">
                                <div class="col-xs-5" style="text-align:right"><strong>Created</strong></div>
                                <div class="col-xs-7"><%= @conversation.created_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%b %d %Y @ %I:%M %p") %></div>
                            </div>
                            <div class="row bars">
                                <div class="col-xs-5" style="text-align:right"><strong>Updated</strong></div>
                                <div class="col-xs-7"><%= @conversation.updated_at.to_datetime.in_time_zone(current_user.time_zone).strftime("%b %d %Y @ %I:%M %p") %></div>
                            </div>
                            <div class="row bars">
                                <div class="col-xs-5" style="text-align:right"><strong>Updated By</strong></div>
                                <div class="col-xs-7">???</div>
                            </div>
                        </div><!-- col-sm-4 -->
                        </small>
                    </div><!-- row -->    
                  </div>
                </div>
                <div class="mb40"></div>
                <h5 class="subtitle">Conversation</h5>
                <div class="row">
                  <div class="col-sm-6">
                    <%= render "conversation_search" %>
                  </div>
                  <div class="col-sm-6">
                    <div class="btn-group mr5 pull-right">
                      <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                          <i class="fa fa-plus-circle mr5"></i> Action
                          <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target=".account-action-meeting">Schedule Meeting</a></li>
                        <li><a href="#" data-toggle="modal" data-target=".account-action-note">Add Note</a></li>
                        <li><a href="#" data-toggle="modal" data-target=".account-action-email">Send Email</a></li>
                        <li class="divider"></li>
                        <li><a href="<%= accounts_edit_path(@account) %>">Edit Account</a></li>                    
                      </ul>
                    </div>
                  </div><!-- col -->
                </div><!-- row -->
                <div class="mb20"></div>
                
                <!--- Timeline Start -->
                <%= render "conversation_timeline" %>
                <!-- Timeline End -->
                
                
              </div>              
            </div><!-- row -->
          </div><!-- profile-header -->
                </div>

            </div><!-- mainpanel -->
        </section>

<%= render "conversation_schedule" %>

<%= render "conversation_notes" %>

<%= render "conversation_email" %>


	<script src="/assets/bootstrap/js/jquery-1.11.1.min.js"></script>
	<script src="/assets/bootstrap/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/assets/bootstrap/js/jquery-ui-1.10.3.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/bootstrap/js/modernizr.min.js"></script>
	<script src="/assets/bootstrap/js/jquery.sparkline.min.js"></script>
	<script src="/assets/bootstrap/js/toggles.min.js"></script>
	<script src="/assets/bootstrap/js/retina.min.js"></script>
	<script src="/assets/bootstrap/js/jquery.cookies.js"></script>
    
    <script src="/assets/vertical-timeline/js/main.js"></script> <!-- Timeline Resource jQuery -->                    

     <!-- Form elements - status and date picker -->
    <script src="/assets/bootstrap/js/bootstrap-timepicker.min.js"></script>
	<script src="/assets/bootstrap/js/jquery.maskedinput.min.js"></script>
	<script src="/assets/bootstrap/js/jquery.tagsinput.min.js"></script>
	<script src="/assets/bootstrap/js/jquery.mousewheel.js"></script>    
    <script src="/assets/bootstrap/js/select2.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap-editable.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/bootstrap/js/moment.js"></script>  
    <script src="/assets/bootstrap/js/jquery.tagsinput.min.js"></script>
  
    <script src="/assets/bootstrap/js/custom.js"></script>

    <script>
        jQuery(document).ready(function(){
    
  
			// Tags Input
			jQuery('#invite-emails').tagsInput({
				width:'100%',
				height: 'auto',
				onAddTag:isValidEmailAddress,
				defaultText:'Invitees'
			});
			function isValidEmailAddress(emailAddress) {
			    var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
			    
			    if (pattern.test(emailAddress) == false) {
					alert("Please add a valid email address");
					$('#invite-emails').removeTag(emailAddress); 
			    }
			};
			
			$('.datepicker').datepicker();

            $('#schedule-from-datepicker').datepicker({
	            dateFormat: 'dd/mm/yy',
				altField: "#schedule-to-datepicker",
				altFormat: "dd/mm/yy"	            
	        });
            $('#schedule-to-datepicker').datepicker({
	            dateFormat: 'dd/mm/yy'
	        });
            jQuery('#schedule-from-timepicker').timepicker({
	            minuteStep: 15
	        });
            $('#schedule-to-timepicker').timepicker({
	            minuteStep: 15
	        });
            $('#scheduleFromTimePicker').timepicker().on('hide.timepicker', function(e) {
			 	$('#schedule-to-timepicker').timepicker('setTime', e.time.value);
  			});
  			
			
			$('#meeting-reminder-time').timepicker({minuteStep: 5});
			
			// by default hide reminder settings for meetings
			$("#meeting-reminder-settings").hide();
			
			// hide show note reminder settings for meetings
			$('#meeting-reminder').change(function () {
			    if ($("#meeting-reminder").is(':checked')) {
				    $("#meeting-reminder-settings").show(500);
				}
				else {
					$("#meeting-reminder-settings").hide(500);
				}
			});


			// by default hide repeat settings for meetings
			$("#meeting-repeat-settings").hide();
			$("#repeat-frequency-week").hide();
			$("#repeat-frequency-month").hide();
			$("#repeat-frequency-year").hide();
			
			
			// hide show note reminder settings for meetings
			$('#meeting-repeat').change(function () {
			    if ($("#meeting-repeat").is(':checked')) {
				    $("#meeting-repeat-settings").show(500);
				}
				else {
					$("#meeting-repeat-settings").hide(500);
				}
			});
			
			// hide show note reminder settings for meetings
			$('#repeat-frequency').change(function () {
				if($('#repeat-frequency').val() == "daily") {
					$("#repeat-frequency-day").show(500);
					$("#repeat-frequency-week").hide(500);
					$("#repeat-frequency-month").hide(500);
					$("#repeat-frequency-year").hide(500);
				}
				else if($('#repeat-frequency').val() == "weekly"){
					$("#repeat-frequency-day").hide(500);
					$("#repeat-frequency-week").show(500);
					$("#repeat-frequency-month").hide(500);
					$("#repeat-frequency-year").hide(500);
				}
				else if($('#repeat-frequency').val() == "monthly"){
					$("#repeat-frequency-day").hide(500);
					$("#repeat-frequency-week").hide(500);
					$("#repeat-frequency-month").show(500);
					$("#repeat-frequency-year").hide(500);					
				}
				else if($('#repeat-frequency').val() == "yearly"){
					$("#repeat-frequency-day").hide(500);
					$("#repeat-frequency-week").hide(500);
					$("#repeat-frequency-month").hide(500);
					$("#repeat-frequency-year").show(500);					
				}
			});
			
			
			
			


			$('#reminderDatePicker').datepicker();
			$('#reminderTimePicker').timepicker({minuteStep: 5});

			// by default hide reminder settings for notes
			$("#note-reminder-settings").hide();
			
			// hide show note reminder settings
			$('#note-reminder').change(function () {
			    if ($("#note-reminder").is(':checked')) {
				    $("#note-reminder-settings").show(500);
				}
				else {
					$("#note-reminder-settings").hide(500);
				}
			});

            
            
        });

    </script>
<style>
  .bars {
    border-bottom: 0px dotted #ddd;
    padding: 5px;
  }
  
  


</style>