          <div class="profile-header">
	        <div class="row">
		    	<% if flash[:success] %>
					<div class="alert alert-success">
						<strong><%= flash[:success] %></strong>
					</div> 
				<% end %>      
		        
	        </div>  
            <div class="row">
              <div class="col-sm-3">
                <img src="/assets/bootstrap/images/photos/hd-profile.jpg" class="thumbnail img-responsive" alt="">
                
                <div class="mb30"></div>
                                
                <h5 class="subtitle">Connect</h5>
                <ul class="profile-social-list">
                  <li><i class="fa fa-phone"></i>(123) 456-7890</li>
                  <li><i class="fa fa-fax"></i>(123) 456-7890</li>
                  <li><i class="fa fa-mobile"></i>(123) 456-7890</li>
                  <li><i class="fa fa-envelope-o"></i>my.email.account@company.com</li>
                  <li><i class="fa fa-twitter"></i> <a href="">twitter.com/eileensideways</a></li>
                  <li><i class="fa fa-facebook"></i> <a href="">facebook.com/eileen</a></li>
                  <li><i class="fa fa-youtube"></i> <a href="">youtube.com/eileen22</a></li>
                </ul>
                
                <div class="mb30"></div>
              
                <h5 class="subtitle">Address&nbsp;<i class="fa fa-map-marker"></i></h5>
                <div class="profile-location">  
                  <a href="https://maps.google.com?daddr=2529+Canada Way+Vancouver+Canada+V5G1G4" target="_blank">2529 Canada Way<br />Vancouver, Canada<br />V5G 1G4</a>
                </div>
                
                <div class="mb30"></div>
                <h5 class="subtitle">About</h5>
                <p class="mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat</p>

                <div class="mb30"></div>
                <h5 class="subtitle">Quick Facts</h5>
                <p class="mb30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat</p>

    
              
              </div><!-- col-sm-3 -->
              <div class="col-sm-9">
                <h2 class="profile-name"><%= @account.name %></h2> 
                <div class="mb30"></div>  
				<div class="row">
					<div class="col-xs-3">
						<small><strong>Account Status</strong></small>
						<h6><span class="badge" style="background-color: #0eb057; border-color: #0eb057;">Open</span> </h6>
					</div>					
					<div class="col-xs-3">
						<small><strong>Assigned To</strong></small>
						<h6>Micheal Jordan</h6>
					</div>
					<div class="col-xs-3">
						<small><strong>Last Update</strong></small>
						<h6>Oct 10, 2016 @ 2:30pm</h6>
					</div>
					<div class="col-xs-3">
						<small><strong>Updated By</strong></small>
						<h6>Charles Barkley</h6>
					</div>					
				</div>
                
        
                <div class="mb20"></div>
                <div class="btn-group mr5">
                  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                      <i class="fa fa-plus-circle mr5"></i> Action
                      <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target=".account-action-meeting">Schedule Meeting</a></li>
                    <li><a href="#" data-toggle="modal" data-target=".account-action-note">Add Note</a></li>
                    <li><a href="#" data-toggle="modal" data-target=".account-action-email">Send Email</a></li>
                    <li class="divider"></li>
                    <li><a href="<%= accounts_edit_path(1) %>">Edit Account</a></li>                    
                  </ul>
                </div>
                <div class="mb20"></div>
                
                <!--- Timeline Start -->
                <h4 class="subtitle">Conversation</h4>
                <section id="cd-timeline" class="cd-container">
                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-phone">
                      <img src="/assets/vertical-timeline/img/cd-icon-phone.svg" alt="Phone">
                    </div> <!-- cd-timeline-img -->
              
                    <div class="cd-timeline-content">
                      <span class="cd-date">Jul 14, 2015</span>
                      <h2>Title of section 1</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                    </div> <!-- cd-timeline-content -->
                  </div> <!-- cd-timeline-block -->
              
                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-meeting">
                      <img src="/assets/vertical-timeline/img/cd-icon-calendar.svg" alt="Meeting">
                    </div> <!-- cd-timeline-img -->
              
                    <div class="cd-timeline-content">
                      <span class="cd-date">Jun 18, 2015</span> 
                      <h2>Title of section 2</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
                    </div> <!-- cd-timeline-content -->
                  </div> <!-- cd-timeline-block -->
              
                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-note">
                      <img src="/assets/vertical-timeline/img/cd-icon-comments.svg" alt="Note">
                    </div> <!-- cd-timeline-img -->
              
                    <div class="cd-timeline-content">
                      <span class="cd-date">May 24, 2015</span>       
                      <h2>Title of section 3</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
                    </div> <!-- cd-timeline-content -->
                  </div> <!-- cd-timeline-block -->
              
                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-reminder">
                      <img src="/assets/vertical-timeline/img/cd-icon-bell.svg" alt="Reminder">
                    </div> <!-- cd-timeline-img -->
              
                    <div class="cd-timeline-content">
                      <span class="cd-date">Apr 14, 2015</span>
                      <h2>Title of section 4</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
                    </div> <!-- cd-timeline-content -->
                  </div> <!-- cd-timeline-block -->
              
                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-meeting">
                      <img src="/assets/vertical-timeline/img/cd-icon-coffee.svg" alt="Meeting">
                    </div> <!-- cd-timeline-img -->
              
                    <div class="cd-timeline-content">
                      <span class="cd-date">Mar 18, 2015</span>       
                      <h2>Title of section 5</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
                    </div> <!-- cd-timeline-content -->
                  </div> <!-- cd-timeline-block -->
              
                  <div class="cd-timeline-block">
                    <div class="cd-timeline-img cd-account">
                      <img src="/assets/vertical-timeline/img/cd-icon-briefcase.svg" alt="Account">
                    </div> <!-- cd-timeline-img -->
              
                    <div class="cd-timeline-content">
                      <span class="cd-date">Feb 26, 2015</span>       
                      <h2>Final Section</h2>
                      <p>This is the content of the last section</p>
                    </div> <!-- cd-timeline-content -->
                  </div> <!-- cd-timeline-block -->                  
                </section> <!-- cd-timeline -->

				<div class="row">
					<div class="col-sm-12">
						<button type="button" class="btn btn-primary pull-right" style="width:95%;">
							<i class="fa  fa-arrow-circle-down"></i>Load More
						</button>
					</div>
				</div> 

                
                <!-- Timeline End -->
              </div>              
            </div><!-- row -->
          </div><!-- profile-header -->
                </div>

            </div><!-- mainpanel -->
        </section>

<%= render "conversation_schedule" %>

<%= render "conversation_notes" %>

<%= render "conversation_email" %>


	<script src="/assets/bootstrap/js/jquery-1.11.1.min.js"></script>
	<script src="/assets/bootstrap/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="/assets/bootstrap/js/jquery-ui-1.10.3.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/bootstrap/js/modernizr.min.js"></script>
	<script src="/assets/bootstrap/js/jquery.sparkline.min.js"></script>
	<script src="/assets/bootstrap/js/toggles.min.js"></script>
	<script src="/assets/bootstrap/js/retina.min.js"></script>
	<script src="/assets/bootstrap/js/jquery.cookies.js"></script>
    
    <script src="/assets/vertical-timeline/js/main.js"></script> <!-- Timeline Resource jQuery -->                    

     <!-- Form elements - status and date picker -->
    <script src="/assets/bootstrap/js/bootstrap-timepicker.min.js"></script>
	<script src="/assets/bootstrap/js/jquery.maskedinput.min.js"></script>
	<script src="/assets/bootstrap/js/jquery.tagsinput.min.js"></script>
	<script src="/assets/bootstrap/js/jquery.mousewheel.js"></script>    
    <script src="/assets/bootstrap/js/select2.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap-editable.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/bootstrap/js/moment.js"></script>  
    <script src="/assets/bootstrap/js/jquery.tagsinput.min.js"></script>
  
    <script src="/assets/bootstrap/js/custom.js"></script>

    <script>
        jQuery(document).ready(function(){
    
  
			// Tags Input
			jQuery('#invite-emails').tagsInput({
				width:'100%',
				height: 'auto',
				onAddTag:isValidEmailAddress,
				defaultText:'Invitees'
			});
			function isValidEmailAddress(emailAddress) {
			    var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
			    
			    if (pattern.test(emailAddress) == false) {
					alert("Please add a valid email address");
					$('#invite-emails').removeTag(emailAddress); 
			    }
			};

            $('#schedule-from-datepicker').datepicker({
	            dateFormat: 'dd/mm/yy',
				altField: "#schedule-to-datepicker",
				altFormat: "dd/mm/yy"	            
	        });
            $('#schedule-to-datepicker').datepicker({
	            dateFormat: 'dd/mm/yy'
	        });
            jQuery('#schedule-from-timepicker').timepicker({
	            minuteStep: 15
	        });
            $('#schedule-to-timepicker').timepicker({
	            minuteStep: 15
	        });
            $('#scheduleFromTimePicker').timepicker().on('hide.timepicker', function(e) {
			 	$('#schedule-to-timepicker').timepicker('setTime', e.time.value);
  			});
  			
			
  			$('#meeting-reminder-date').datepicker();
			$('#meeting-reminder-time').timepicker({minuteStep: 5});
			
			// by default hide reminder settings for meetings
			$("#meeting-reminder-settings").hide();
			
			// hide show note reminder settings for meetings
			$('#meeting-reminder').change(function () {
			    if ($("#meeting-reminder").is(':checked')) {
				    $("#meeting-reminder-settings").show(500);
				}
				else {
					$("#meeting-reminder-settings").hide(500);
				}
			});


			// by default hide repeat settings for meetings
			$("#meeting-repeat-settings").hide();
			$("#repeat-frequency-week").hide();
			$("#repeat-frequency-month").hide();
			$("#repeat-frequency-year").hide();
			
			
			// hide show note reminder settings for meetings
			$('#meeting-repeat').change(function () {
			    if ($("#meeting-repeat").is(':checked')) {
				    $("#meeting-repeat-settings").show(500);
				}
				else {
					$("#meeting-repeat-settings").hide(500);
				}
			});
			
			// hide show note reminder settings for meetings
			$('#repeat-frequency').change(function () {
				if($('#repeat-frequency').val() == "daily") {
					$("#repeat-frequency-day").show(500);
					$("#repeat-frequency-week").hide(500);
					$("#repeat-frequency-month").hide(500);
					$("#repeat-frequency-year").hide(500);
				}
				else if($('#repeat-frequency').val() == "weekly"){
					$("#repeat-frequency-day").hide(500);
					$("#repeat-frequency-week").show(500);
					$("#repeat-frequency-month").hide(500);
					$("#repeat-frequency-year").hide(500);
				}
				else if($('#repeat-frequency').val() == "monthly"){
					$("#repeat-frequency-day").hide(500);
					$("#repeat-frequency-week").hide(500);
					$("#repeat-frequency-month").show(500);
					$("#repeat-frequency-year").hide(500);					
				}
				else if($('#repeat-frequency').val() == "yearly"){
					$("#repeat-frequency-day").hide(500);
					$("#repeat-frequency-week").hide(500);
					$("#repeat-frequency-month").hide(500);
					$("#repeat-frequency-year").show(500);					
				}
			});
			
			
			
			


			$('#reminderDatePicker').datepicker();
			$('#reminderTimePicker').timepicker({minuteStep: 5});

			// by default hide reminder settings for notes
			$("#note-reminder-settings").hide();
			
			// hide show note reminder settings
			$('#note-reminder').change(function () {
			    if ($("#note-reminder").is(':checked')) {
				    $("#note-reminder-settings").show(500);
				}
				else {
					$("#note-reminder-settings").hide(500);
				}
			});

            
            
        });

    </script>
