<% content_for :pageheader do %>
  <h2><i class="fa fa-briefcase"></i> Accounts</h2>
  <div class="breadcrumb-wrapper">
    <span class="label">&nbsp;</span>
  </div>
<% end %>

<div class="row row-pad-5">
  <div class="col-md-5">
    <%= simple_form_for :search, method: :get do |f| %>
      <%= f.input :name_cont, wrapper: :vertical_input_group, label: false do %>
        <%= f.input_field :name_cont, class: "form-control", placeholder: "Search here ...", value: params[:search].try(:[], :name_cont) %>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-search"></i>
          </button>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-1">
    <%=render 'advance_search'%>
  </div>
  <div class="col-md-2">
    <%=render 'sort_by'%>
  </div>
  <div class="col-md-2 pull-right">
    <% if can? :read, Account %>
      <!-- <%#= link_to new_account_path, class: "btn btn-primary btn-block" do %><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;Add Account<%#end %> -->

      <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-block" type="button">
          Action
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="<%=new_account_path%>">Add Account</a></li>
        <li><a href="<%=account_export_path%>">Export Results</a></li>
      </ul>
    <% end %>
  </div>
</div><!-- row -->
<div class="row row-pad-5">
	<div class="col-md-12">
		<ul class="letter-list">
      <% ("a".."z").each do |l| %>
        <li><%= link_to l, accounts_path(search: {name_start: l}) %></li>
      <% end %>
      <li><a href="/accounts">All</a></li>
		</ul>
	</div>
</div><!-- row -->
<div class="mb30"></div>
<%
=begin
Account Count: <%= @accounts.count ::
Open: <%=  @accounts.select.count {|account| account.status.name == 'Open' } ::
Lead: <%=  @accounts.select.count {|account| account.status.name == 'Lead' } ::
Suspended: <%=  @accounts.select.count {|account| account.status.name == 'Suspended' } ::
Closed: <%=  @accounts.select.count {|account| account.status.name == 'Closed' }
=end
%>
<%= render partial: "accounts/account_list" %>

<!--<div class="people-list">
  <div class="row">
    <%#= render(partial: @accounts) || render('empty_search')%>
  </div>
</div>--><!-- people-list -->

<% content_for :custom_css do %>
<style>
  .bars {
    border-bottom: 0px dotted #ddd;
    padding: 5px;
  }

  .account-search {
    width: 420px;
    padding: 25px;
    margin-top: -1px;
  }

  @media only screen and (max-width: 480px) {
    .account-search {
      width: 360px;
    }
  }

  @media only screen and (max-width: 420px) {
    .account-search {
      width: 290px;
    }
  }

  @media only screen and (max-width: 348px) {
    .account-search {
      width: 260px;
    }
  }
</style>
<% end %>