<% content_for :pageheader do %>
  <h2><i class="fa fa-briefcase"></i> Accounts</h2>
  <div class="breadcrumb-wrapper">
    <span class="label">&nbsp;</span>
  </div>
<% end %>

<div class="row row-pad-5">
  <div class="col-md-5">
    <%= simple_form_for :search, method: :get do |f| %>
      <%= f.input :name_cont, wrapper: :vertical_input_group, label: false do %>
        <%= f.input_field :name_cont, class: "form-control", placeholder: "Search here ...", value: params[:search].try(:[], :name_cont) %>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-search"></i>
          </button>
        </div>
      <% end %>
    <% end %>

  </div>
  <div class="col-md-1">
    <%=render 'advance_search'%>
  </div>
  <div class="col-md-2">
    <%=render 'sort_by'%>
  </div>
  <div class="col-md-2 pull-right">
    <% if can? :read, Account %>
      <%= link_to new_account_path, class: "btn btn-primary btn-block" do %><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;Add Account<% end %>
    <% end %>
  </div>
</div><!-- row -->

<div class="row row-pad-5">
  <div class="col-md-10">
    <div class="margin_left4">
      <%=advance_search_criteria%>
    </div>
  </div>
  <%if (@role == 'Admin' || @enable_import.blank? || @role == @enable_import.capitalize || @enable_import == 'all')%>
    <div class="col-md-1">
      <%= link_to account_import_path, class: "btn btn-lightblue dropdown-toggle" do %><i class="fa fa-arrow-circle-o-up mr5"></i>Import<% end %>
    </div>
  <%end%>
  <%if (@role == 'Admin' || @enable_export.blank? || @role == @enable_export.capitalize || @enable_export == 'all')%>
    <div class="col-md-1 pull-right">
      <%= link_to account_export_path, class: "btn btn-success dropdown-toggle" do %><i class="fa fa-arrow-circle-o-down mr5"></i>Export<% end %>
    </div>
  <%end%>
</div><!-- row -->

<div class="row row-pad-5">
	<div class="col-md-12">
		<ul class="letter-list">
      <% ("a".."z").each do |l| %>
        <li><%= link_to l, accounts_path(search: {name_start: l}) %></li>
      <% end %>
      <li><a href="/accounts">All</a></li>
		</ul>
	</div>
</div><!-- row -->

<% unless @accounts.count == 0 %>
<div class="row row-pad-5">
  <div class="col-md-12">
    <span class='badge' style='background-color: #000000; border-color: #000000;'><strong>Total Accounts: <%= @accounts.count %></strong></span><i class="fa fa-caret-right" style="margin: 5px 5px 5px 10px;"></i>
    <% @accounts_statistic.each do |account_stat_key, account_stat| %>
      <% unless account_stat_key == 0 %>
        <span class='badge' style='background-color: <%= account_stat['color'] %>; border-color: <%= account_stat['color'] %>;'><%= account_stat['name'] %>: <%= account_stat['count'] %></span>
      <% end %>
    <% end %>
    <% if @accounts_statistic[0]['count'] > 0 %>
      <span class='badge' style='background-color: <%= @accounts_statistic[0]['color'] %>; border-color: #000000; color: black'><%= @accounts_statistic[0]['name'] %>: <%= @accounts_statistic[0]['count'] %></span>
    <% end %>
  </div>
</div><!-- row -->
<% end %>

<div class="mb30"></div>

<%= render partial: "accounts/account_list" %>

<!--<div class="people-list">
  <div class="row">
    <%#= render(partial: @accounts) || render('empty_search')%>
  </div>
</div>--><!-- people-list -->

<% content_for :custom_css do %>
<style>
  .bars {
    border-bottom: 0px dotted #ddd;
    padding: 5px;
  }

  .account-search {
    width: 420px;
    padding: 25px;
    margin-top: -1px;
  }


  @media only screen and (max-width: 767px) {
  #adv-search .dropdown .button-as-link{
    padding: 0;
    margin-left: 3px;
  }
.mob_marginleft_9{margin-left: 9px;}

  }

  @media only screen and (max-width: 480px) {
    .account-search {
      width: 360px;
    }
  }

  @media only screen and (max-width: 420px) {
    .account-search {
      width: 290px;
    }
  }

  @media only screen and (max-width: 348px) {
    .account-search {
      width: 260px;
    }
  }
</style>
<% end %>