	<div class="row row-pad-5">
		<div class="col-md-5">
			<form>
				<div class="input-group mb15">
				<input type="text" name="account-search" placeholder="Search here ..." class="form-control">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary">
						<i class="fa fa-search"></i>
					</button>
                </span>
			</div>
		</form>
		</div>
		<div class="col-md-5">
		</div>
		<div class="col-md-2">
			<a href="<%= new_accounts_path %>" class="btn btn-primary btn-block"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;&nbsp;Add Account</a>
		</div>
	</div><!-- row -->
	<div class="row row-pad-5">
		<div class="col-md-12">
			<ul class="letter-list">
				<li><a href="">a</a></li>
				<li><a href="">b</a></li>
				<li><a href="">c</a></li>
				<li><a href="">d</a></li>
				<li><a href="">e</a></li>
				<li><a href="">f</a></li>
				<li><a href="">g</a></li>
				<li><a href="">h</a></li>
				<li><a href="">i</a></li>
				<li><a href="">j</a></li>
				<li><a href="">k</a></li>
				<li><a href="">l</a></li>
				<li><a href="">m</a></li>
				<li><a href="">n</a></li>
				<li><a href="">o</a></li>
				<li><a href="">p</a></li>
				<li><a href="">q</a></li>
				<li><a href="">r</a></li>
				<li><a href="">s</a></li>
				<li><a href="">t</a></li>
				<li><a href="">u</a></li>
				<li><a href="">v</a></li>
				<li><a href="">w</a></li>
				<li><a href="">x</a></li>
				<li><a href="">y</a></li>
				<li><a href="">z</a></li>
			</ul>
		</div>
	</div><!-- row -->
	<div class="mb30"></div>
      
      <div class="people-list">
        <div class="row">
          
          <% @accounts.each do |account| %>
          
            <div class="col-md-6">
              <div class="people-item">
                <div class="media">
                  <div class="media-body">
                    <h4 class="person-name"><a href="<%= accounts_conversation_path(account.id) %>"><%= account.name %></a></h4>
                    <span class="badge pull-right" style="background-color: #0eb057; border-color: #0eb057;">TODO: Open</span>               
                    <div class="text-muted">                      
	                  	<address>	                  		                  	
                        <% account.addresses.each do |address| %>
                          <i class="fa fa-map-marker"></i>
                          <%= address.street_address %>, <%= address.city %><br />
                          <%= address.region %>, <%= address.country %>, <%= address.postcode %><br />
                          <br />
                        <% end %>

                        <a href="<%= accounts_conversation_path(account.id) %>" class="pull-left"><img alt="" src="assets/bootstrap/images/photos/hd-profile.jpg" class="thumbnail media-object"></a> 
                          
                        <% account.contacts.each do |contact| %>
                          <abbr title="<%= contact.type %>"><%= contact.type.initial %>:</abbr>&nbsp;<%= contact.value %><br />
                        <% end %>

                      </address>
                    </div> 
                    <ul class="social-list">
                      <% account.addresses.each do |address| %>
                        <li><a href="https://maps.google.com?daddr=<%= address.street_address %>+<%= address.city %>+<%= address.region %>+<%= address.country %>+<%= address.postcode %>" target="_blank" class="tooltips" data-toggle="tooltip" data-placement="top" title="Map"><i class="fa fa-map-marker"></i></a></li>
                      <% end %>

                      <% account.contacts.each do |contact| %>
                        <% contact.type = "Web" %>
                        <li><a href="<%= contact.value %>" class="tooltips" data-toggle="tooltip" data-placement="top" title="Web"><i class="fa fa-globe"></i></a></li>
                        <% end %>
                      <% end %>

                      <li><a href="<%= accounts_conversation_path(account.id) %>" class="tooltips" data-toggle="tooltip" data-placement="top" title="Conversation"><i class="fa  fa-comments"></i></a></li>
                      
                      <li class="pull-right"><span class="badge" style="color:#333; background-color: #fcfcfc; border-color: #fcfcfc;">Michael Jordan</span><i class="fa fa-users"></i></li>
                      
                    </ul>
                  </div>
                </div>
              </div>
            </div><!-- col-md-6 -->          
          
          
          <% end %> 
                 
        </div><!-- row -->
      </div><!-- people-list -->

    </div><!-- contentpanel -->
    
  </div><!-- mainpanel -->
    
</section>


<script src="/assets/bootstrap/js/jquery-1.11.1.min.js"></script>
<script src="/assets/bootstrap/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/bootstrap/js/modernizr.min.js"></script>
<script src="/assets/bootstrap/js/jquery.sparkline.min.js"></script>
<script src="/assets/bootstrap/js/toggles.min.js"></script>
<script src="/assets/bootstrap/js/retina.min.js"></script>
<script src="/assets/bootstrap/js/jquery.cookies.js"></script>


<script src="/assets/bootstrap/js/holder.js"></script>

<script src="/assets/bootstrap/js/custom.js"></script>
